<div class="man_produ_modify">
    <div class="man_produ_modify_head">
        <p>栏目模板</p>
        <input type="text" class="form-control template-view-top-search" placeholder="模板关键词"/>
    </div>
    <div class="man_produ_column_modify_template">
        <div class="template_chose_group">
            <div>
                <label>
                    <input type="radio" name="template_chose"/>
                    浙江即时报首页模块
                    <img src="./manageConfig/productManageMent/images/i9.png"/>
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="template_chose"/>
                    评论报首页模块
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="template_chose"/>
                    浙江即时报首页模块
                </label>
            </div>
        </div>
        <div class="template_chose_footer">
            <label>
                <input type="checkbox"/>
                不选择任何模板
            </label>
        </div>
    </div>
    <div class="man_produ_delete_footer">
        <button class="news-role-btn modify_template_footer_confirm btn_confirm" ng-click="confirm()">确定</button>
        <button class="news-role-btn btn_cancel" ng-click="cancel()">取消</button>
    </div>
</div>