<div class="item">
    <span class="tit">{{description}}</span>
    <div class="invalidate-input-box">
        <input type="password" name="pwd" class="form-control mb0" ng-model="password" validator="minlength=8,required" minlength-error-message="最少8个字符！" ng-mouseenter="isShowTips=true" ng-mouseleave="isShowTips=false" is-show-tips="isShowTips" ng-change="checkPassword()" autocomplete="off" />
    </div>
    <span class="color_r">必填</span><span>（最少8个字符）</span>
</div>
<div class="item">
    <span class="tit"></span>
    <div class="desc">
        <span class="pwdLight_tit">密码强度：</span>
        <span>{{passwordMark}}</span>
        <div class="clear"></div>
        <div class="pwdLight">
            <div class="pwdLight_2" ng-style="{'width':passwordStrong}"></div>
        </div>
    </div>
</div>
