<div trs-scroll-fix class="row edit_right_head">
    <div class="col-md-8 col-lg-9">
        <button class="btn btn-default btn-commen" ng-click="add()">
            <span class="s_icon">
                <img ng-src="./manageConfig/productManageMent/images/gl19-1.png" />
            </span> 添加
        </button>
        <button class="btn btn-default btn-commen" ng-click="batchDelete()" ng-disabled="selectedArray.length<1">
            <span class="s_icon">
                <img ng-src="./manageConfig/productManageMent/images/gl22-1.png" />
            </span> 删除
        </button>
    </div>
    <div class="col-md-4 col-lg-3">
        <div class="input-group edit_input_group">
            <input type="text" class="form-control edit_form_control mr10" placeholder="请输入关键字搜索" ng-model="keywords" ng-keypress="fullTextSearch($event)">
            <span class="input-group-btn">
            <button class="btn btn-default btn_edit_search" type="button" ng-click="fullTextSearch()">搜索</button>
          </span>
        </div>
    </div>
</div>
<div class="edit_table" style="margin:15px 15px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="td-check">
                    <trs-checkbox ischecked="selectedArray.length==items.length" callback="selectAll()"></trs-checkbox>
                </th>
                <!-- <th class="td-number">序号</th> -->
                <th>来源名称</th>
                <th>来源链接</th>
                <th>添加人</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td class="td-check">
                    <trs-checkbox ischecked="selectedArray.indexOf(item)<0?false:true" callback="selectDoc(item)"></trs-checkbox>
                </td>
                <!-- <td ng-bind="(page.CURRPAGE-1)*page.PAGESIZE+$index+1" class="td-number"></td> -->
                <td ng-bind="item.SRCNAME" class="ta-l"></td>
                <td ng-bind="item.SRCLINK"></td>
                <td ng-bind="item.TRUENAME"></td>
                <td ng-bind="item.CRTIME"></td>
                <td>
                    <img src="./manageConfig/productManageMent/images/gl23.png" ng-click="modify(item)">
                    <span style="cursor:pointer" ng-click="modify(item)">修改</span>
                    <img src="./manageConfig/productManageMent/images/n6.png" ng-click="singleDelete(item)">
                    <span style="cursor:pointer" ng-click="singleDelete(item)">删除</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div cg-busy="loadingPromise"></div>
    <div class="page">
        <trs-pagenation-left page-count="page" callback="selectPageNum()" is-select-pagecount="false"></trs-pagenation-left>
        <pagination total-items="page.ITEMCOUNT" ng-change="pageChanged()" ng-model="page.CURRPAGE" max-size="6" class="pagination-sm page_left" boundary-links="true" items-per-page="page.PAGESIZE" rotate="false" num-pages="page.PAGECOUNT" first-text="首页" previous-text="上一页" next-text="下一页" last-text="末页"></pagination>
        <trs-pagenation-right callback="jumpToPage()" currpage="copyCurrPage" page="page"></trs-pagenation-right>
    </div>
</div>
