<div class="new-wb-bk rt" >
    <div class="weibo-tit wb-zb-rd"><span>热点微博</span>
<!--         <div class="sel-dt-box rt wb-ab-sel">
            <div class="navChange">
                 <select ng-change="queryHotWeibo();" class="sel" ng-model="upNav" ng-options="subNav.name as subNav.name for subNav in subNavs">
                 </select>
             </div>
        </div> -->
    </div>
    <div class="new-wb-tit"  >
        <div style="position: relative;width: 495px;overflow: hidden;float: left;height: 29px;">
            <div style="position: absolute;" change num="1" ele="rdChange" width="495">
                <a href="" checked="lg-sel-cur" class="lg-sel-btn lg-sel-cur" 
                   ng-click="queryHotWeibo();" >全部</a>
                <a href="" ng-repeat="class in classs" class="lg-sel-btn" checked="lg-sel-cur" 
                   ng-click="queryHotWeibo(class.ClassName);">{{class.ClassName}}</a>
            </div>
        </div>
        <div>
            <a href class="wb-go-btn" id="rdChange"></a>
        </div> 
    </div>
    <div class="league-deal-list" style="padding-top: 4px;">
        <a href class="wb-add-btn" ng-click="more();"></a>
        <div class="wb-ls-bk" ng-repeat="content in contents">
            <div class="wb-gf-img wb-ls-img"><img ng-src="{{content.headPicUrl}}" alt=""></div>
            <div class="new-wb-deal">
                <div class="wb-deal-name"><a href="#">{{content.name}}</a>
                    
                </div>
                <a href="#" class="new-wb-p">{{content.content}}</a>
                <ul>
                    <li>转发<span>{{content.forwardNum}}</span></li>
                    <li>评论<span>{{content.commentNum}}</span></li>
                    <li class="no-br">{{content.likesNum}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>