<form name="syncTemplateForm" novalidate>
    <div class="man_produ_modify">
        <div class="man_produ_modify_head">
            <p>同步结果</p>
            <img src="./editingCenter/app/toBeCompiled/images/cls.jpg" class="edit_revoke_thead_images1" ng-click="cancel()" />
        </div>
        <div class="man_produ_website_syncTemplate" ng-bind="TITLE">
        </div>
        <div class="man_produ_modify_footer">
            <button class="news-role-btn btn_confirm" ng-click="confirm()">确定</button>
        </div>
    </div>
</form>
