.system_main {
    /*overflow: hidden;
    margin: 0px -15px;*/
    margin-left: -15px;
}

.manageConfig-sysMgr .manage-main {
    border-top: 1px solid #ccc;
}

.system-manage-container {
    width: 100%;
    height: auto;
    background-color: #CCC;
}

.system-manage-left {
    width: 15%;
    min-height: 680px;
    float: left;
    background-color: #374760;
}

.system-manage-left .list-group a {
    background-color: #374760;
    border-right: none;
    border-left: none;
    color: #FFF;
    padding-left: 28px;
}

.system-manage-right {
    width: 85%;
    height: 100%;
    float: left;
}

.system-manage-bar {
    width: 100%;
    height: 40px;
    background-color: #EFF0F2;
}

.system-manage-bar p {
    padding: 10px;
}

.system-manage-left .list-group .selected-item {
    background: #0B2242 url(./manageConfig/sysManageMent/images/d1-1.png) no-repeat 100% 50%;
}

.system-manage-content-left .list-group a {
    border: none;
}

.system-manage-content-left .list-group a:last-child {
    border: 1px dotted #88C8EE;
    background: url(./manageConfig/sysManageMent/images/d12.png) no-repeat 6% 50%;
    height: 30px;
}

.system-manage-content {
    width: 100%;
    height: 100%;
    padding: 16px;
}

.system-manage-content-left {
    width: 20%;
    min-height: 630px;
    float: left;
    border: 1px solid #D1D1D1;
    background-color: #F7F8FC;
}

.system-manage-main-left-bar {
    width: 100%;
    height: 30px;
    background-color: #FFF;
}

.system-manage-main-left-bar .form-control,
.system-manage-main-left-bar .btn-default,
.system-manage-main-right-input .btn-default,
.system-manage-main-right-content-main,
.system-manage-main-right-bar .btn-default,
.system-manage-main-right-input .form-control {
    height: 25px;
    font-size: 12px;
}

.system-manage-main-left-bar i,
.system-manage-main-right-bar i {
    display: inline-block;
    width: 15px;
    height: 12px;
}

.system-manage-main-left-bar .system-manage-back-icon {
    vertical-align: -2px;
    background: url(./manageConfig/sysManageMent/images/d5.png) no-repeat 50%;
}

.system-manage-main-left-bar .system-manage-file-icon {
    vertical-align: -2px;
    background: url(./manageConfig/sysManageMent/images/d13.png) no-repeat 50%;
}

.system-manage-main-left-bar .system-manage-search-icon {
    vertical-align: -2px;
    background: url(./manageConfig/sysManageMent/images/d7.png) no-repeat 50%;
}

.system-manage-delete-icon {
    vertical-align: -2px;
    background: url(./manageConfig/sysManageMent/images/d9.png) no-repeat 50%;
}

.system-manage-form-input {
    float: right;
    padding: 10px 15px;
}

.system-manage-main-right-content {
    width: 100%;
    height: auto;
}

.system-manage-main-left-content {
    width: 100%;
    height: 555px;
    margin-top: 10px;
    border: 1px solid #D1D1D1;
}

.system-manage-content-right {
    width: 80%;
    height: 630px;
    float: left;
    border: 1px solid #D1D1D1;
    border-left: none;
}

.system-manage-main-left {
    width: 50%;
    min-height: 616px;
    float: left;
    padding: 10px;
}

.manage-sys-main-right {
    padding-left: 0px;
    padding-right: 10px;
    margin-top: 16px;
    border: 1px solid #e1dfdd;
}

.system-manage-main-right {
    width: 50%;
    margin-top: 10px;
    height: 595px;
    float: left;
    font-size: 12px;
    padding: 10px 0px 0px 10px;
    border: 1px solid #D1D1D1;
}

.system-manage-main-right-bar {
    width: 100%;
    height: 27px;
    padding-right: 10px;
}

.system-manage-main-right-input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding-right: 10px;
}

.system-manage-main-right-text {
    display: inline-block;
    height: 100%;
    line-height: 50px;
}

.system-manage-content-left .list-group-item {
    background-color-color: blue;
}

.system-manage-main-right-content-main,
.system-manage-main-right-content-main textarea {
    resize: none;
    width: 100%;
    height: 430px;
    overflow: auto;
}

.system-manage-main-right-content-main p {
    text-align: center;
}

.system-manage-main-left-btn-1,
.system-manage-main-left-btn-2,
.system-manage-main-left-btn-3,
.system-manage-main-left-btn-4 {
    line-height: 10px;
    padding: 5px;
}

.system-manage-main-left-btn-2 {
    margin-left: 10px;
}

.system-manage-main-left-btn-4 {
    line-height: 15px;
    float: right;
    margin-left: 10px;
}

.system-manage-main-left-input {}

.system-manage-main-right-content-main .list-group .list-group-item {
    border: none;
}

.treecontrol .ng-scope .tree-collapsed:first-child {
    height: 25px;
}

.system-manage-main-left-content treecontrol li {
    font-size: 12px;
    padding-left: 25px;
}

.system-manage-main-left-content-treecontrol {
    margin-top: 20px;
}

.system-manage-main-left-content-title {
    background: #F1F2F6;
    height: 30px;
    padding-top: 2px;
    font-size: 12px;
    font-weight: bold;
}

.system-manage-main-left-content-title-icon1,
.system-manage-main-left-content-title-icon2,
.system-manage-main-left-content-title-icon3 {
    width: 15px;
    height: 25px;
    display: inline-block;
}

.system-manage-main-left-content-title-icon1 {
    margin-left: 8px;
    background: url("./manageConfig/sysManageMent/images/d2.png") no-repeat 50% 50%;
    cursor: pointer;
}

.system-manage-main-left-content-title-icon2 {
    background: url("./manageConfig/sysManageMent/images/d4.png") no-repeat 50% 50%;
}

.system-manage-main-left-content-title-icon3 {
    margin-left: 8px;
    background: url("./manageConfig/sysManageMent/images/d1.png") no-repeat 50% 50%;
    cursor: pointer;
}

.system-manage-main-left-content-title-p {
    position: absolute;
    height: 30px;
    line-height: 25px;
    text-indent: 5px;
    cursor: pointer;
}

.system-manage-main-right .input-group .form-control {
    width: 250px;
}

.system-manage-main-right .input-group-btn {
    font-size: 14px;
}

.system-manage-save-btn {
    text-align: center;
    margin-top: 10px;
}

.list-group-padding {
    padding: 10px;
}

.system-manage-content-footer {
    width: 100%;
    height: 30px;
    clear: both;
    text-align: center;
    padding-top: 10px;
}

.manage-sys-left {
    border: 1px solid #797979;
    min-height: 780px;
    font-family: "微软雅黑";
    padding-left: 0px;
    padding-right: 0px;
    background: #466385;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
    overflow: hidden;
}

.system-manage-main-right treecontrol.tree-light li.tree-collapsed i.tree-branch-head {
    padding: 1px 10px;
    background: url("./manageConfig/sysManageMent/images/folder-closed.png") no-repeat;
}

.system-manage-main-right treecontrol.tree-light li.tree-expanded i.tree-branch-head {
    padding: 1px 10px;
    background: url("./manageConfig/sysManageMent/images/folder.png") no-repeat;
}

.manage-createRole-children .tree-light li.tree-leaf i.tree-leaf-head {
    padding: 1px 10px;
    width: 16px;
    height: 16px;
    background: url("./manageConfig/sysManageMent/images/file.png") no-repeat;
}


/*treecontrol.tree-light li.tree-leaf i.tree-leaf-head {
    padding: 1px 10px;
    width: 16px;
    height: 16px;
    background: url("./manageConfig/sysManageMent/images/file.png") no-repeat;
}
*/


/*2015/11/15*/

.manage-fixed {
    padding-right: 0px;
    padding-left: 0px
}

.manage-system-left {}

.manage-sys-main-leftDiv {
    border: 1px solid #E1DFDD;
    height: 616px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #323431;
    margin-top: 16px;
    margin-right: -16px;
    text-align: left;
    line-height: normal;
    overflow-y: auto;
    background-color: #F7F8FC;
}

.manage-sys-main-leftDiv .list-group a {
    border: none;
    height: 40px;
    font-size: 14px;
    color: #323431;
    font-weight: bold;
    background-color: transparent;
}

.manage-sys-main-leftDiv .list-group .selectedfocus {
    background-color: #4496d2;
    color: #FFF;
    border-radius: 0;
}

.manage-system-left .system-list {
    font-family: "微软雅黑";
    cursor: pointer;
}

.systemManage-create-item {
    display: block;
    cursor: pointer;
    height: 25px;
    width: 100%;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
    border: 1px dotted #88C8EE;
    border-radius: 5px;
    background: url(./manageConfig/sysManageMent/images/d12.png) no-repeat 6% 50%;
}

.manage-system-left .system-title {
    line-height: 40px;
    font-size: 16px;
    background-color: #466385;
}

.manage-system-left .system-title:hover {
    background-color: #1c83d2;
}

.manage-system-left .system-title a {
    display: block;
    height: 40px;
    padding-left: 56px;
    font-size: 16px;
    line-height: 40px;
    color: #fefefe;
    text-decoration: none;
    background-color: #3747602;
    border-bottom: 1px solid #475771;
}

.activefocus {
    /*color: #ddeaf5;
    background: #0B2242 url('./editingCenter/app/images/l12.png') 101% center no-repeat;*/
    background-color: #1c83d2;
}


/*classification 2015/11/19*/

.system_manage_newfolder {
    vertical-align: -2px;
    background: url(./manageConfig/sysManageMent/images/d10.png) no-repeat 50%;
}

.system_manage_newfile {
    vertical-align: -2px;
    background: url(./manageConfig/sysManageMent/images/d4.png) no-repeat 50%;
}

.system-manage-main-left-content treecontrol.tree-light li.tree-expanded i.tree-branch-head {
    background: url(./manageConfig/sysManageMent/images/d2.png) no-repeat left center;
}

.system-manage-main-left-content treecontrol.tree-light li.tree-collapsed i.tree-branch-head {
    background: url(./manageConfig/sysManageMent/images/d1.png) no-repeat left center;
}

.system-manage-main-left-content treecontrol.tree-light li.tree-leaf i.tree-leaf-head {
    background: url(./manageConfig/sysManageMent/images/d3.png) no-repeat center;
}

.system-manage-main-left-content treecontrol li.tree-expanded i.tree-leaf-head,
.system-manage-main-left-content treecontrol li.tree-collapsed i.tree-leaf-head {
    padding-left: 20px;
    display: inline;
    background: url(./manageConfig/sysManageMent/images/d4.png) no-repeat left center;
}

.sys_class_classtion_dropbox {
    width: 65px;
    border-radius: 3px;
    color: #999999;
}


/*smg 2015/11/20*/

.sys_manage_main_left_content_con {
    width: 100%;
    height: 523px;
    overflow: auto;
    overflow-x: hidden;
}

.sys_manage_main_left_content_con a:hover {
    text-decoration: none;
}

.system-manage-main-right .invalidate-input-box span {
    z-index: 9;
}

.manageConfig-sysMgr .title-name {
    display: block;
    padding-left: 20px;
    margin-top: 5px;
    color: #666;
}


/*思图iframe嵌入页面*/

.system_main .iframe_st_to_OperateCenter {
    margin-bottom: -5px;
}

.system_main_mr015 {
    margin-right: -15px;
}

.operateCenter_header_to_st {
    margin-right: 12px;
}

.operateCenter_header_to_st .edit-header .navbar-right li {
    border-bottom: none;
}

.manage-main-left>div[ui-view] {
    padding-left: 15px;
}
