<div class="man_produ_modify">
    <div class="man_produ_modify_head">
        <p>提示信息</p>
        <img src="./editingCenter/app/toBeCompiled/images/cls.jpg" class="edit_revoke_thead_images1" ng-click="cancel()" />
    </div>
    <div class="man_produ_newspaper_delete">
        您确认启用： <span class="text_red">{{viewName}}</span>{{chnlName}}
    </div>
    <div class="man_produ_modify_footer">
        <button class="news-role-btn-success btn_confirm" ng-click="confirm()">启用</button>
        <button class="news-role-btn man_produ_modify_footer_cancel btn_cancel" ng-click="cancel()">取消</button>
    </div>
</div>
