<form name="atlasForm" novalidate>
    <div class="row_allas plr20">
        <!-- <tabset class="subject-tab">
            <tab ng-click="goto('atlasDocInfo')" heading="稿件信息"></tab>
            <tab ng-click="goto('atlasParamInfo')" heading="属性信息"></tab>
            <tab ng-click="goto('atlasSendDoc')" heading="发稿单"></tab>
            <tab ng-click="goto('atlasProgress')" heading="流程版本" ng-if="status.hasVersionTime"></tab>
        </tabset> -->
        <ul class="subject-tab">
            <li>
                <a du-smooth-scroll du-scrollspy offset="20" duration="2000" href="#section-1">稿件信息</a>
            </li>
            <li>
                <a du-smooth-scroll du-scrollspy offset="60" duration="2000" href="#section-2">属性信息</a>
            </li>
            <li>
                <a du-smooth-scroll du-scrollspy offset="60" duration="2000" href="#section-3">发稿单</a>
            </li>
            <li ng-if="status.hasVersionTime">
                <a du-smooth-scroll du-scrollspy duration="2000" offset="60" href="#section-4">流程版本</a>
            </li>
        </ul>
        <div class="atals row_news  mc-padding-bottom">
            <!--禁止form回车触发button请勿删除-->
            <div id="section-1">
                <div class="ht43"></div>
                <button style="display:none"></button>
                <div>
                    <div id="atlasDocInfo"></div>
                    <div class="row mc-padding-top-xs mr0">
                        <div class="col-md-8">
                            <div class="form-group clearfix">
                                <div class="col-sm-1 mc-padding-horizontal-0 text-right">引题：</div>
                                <div class="col-sm-10 mc-padding-horizontal-0">
                                    <div class="invalidate-input-box {{newsForm.LEADTITLE.$invalid?'has-error':''}}">
                                        <input class="form-control" type="text" name="LEADTITLE" ng-model="list.LEADTITLE" placeholder="请输入引题" maxlength-error-message="长度不能超过200个字符！" validator="maxlength=200" ng-blur="showError(true)" ng-mouseenter="isShowTipsLEADTITLE=true" ng-mouseleave="isShowTipsLEADTITLE=false" is-show-tips="isShowTipsLEADTITLE">
                                    </div>
                                </div>
                                <span class="col-sm-1 tip">共
                        <trs-word-num num-obj="{{list.LEADTITLE}}" class="font_red auto_wt"></trs-word-num>
                        字
                        </span>
                            </div>
                        </div>
                        <div class="col-md-2 pl0">
                            <div class="isORINGIN" ng-if="!list.ORIGINMETADATAID||list.ORIGINMETADATAID==0">
                                <!-- 是否原创: -->
                                <img class="edit_wOriginal isORINGIN_cursor" ng-click="oringin(list)" ng-src="./editingCenter/iWo/images/{{list.ORIGINAL==='0'?'or.png':'or-1.png'}}">
                                <p class="edit_wOriginal_p" ng-if="list.ORIGINAL === '1'">原创：已声明</p>
                                <input type="text" style="display:none" ng-model="list.ORIGINAL" name="isOriginal">
                            </div>
                            <div class="isORINGIN not-allowed" ng-if="list.ORIGINMETADATAID>0">
                                <!-- 是否原创: -->
                                <img class="edit_wOriginal isORINGIN_cursor" ng-src="./editingCenter/iWo/images/{{list.ORIGINAL==='0'?'or.png':'or-1.png'}}">
                                <p class="edit_wOriginal_p" ng-if="list.ORIGINAL === '1'">原创：已声明</p>
                                <input type="text" style="display:none" ng-model="list.ORIGINAL" name="isOriginal">
                            </div>
                        </div>
                        <!--肩题结束-->
                        <div class="col-md-8">
                            <div class="form-group clearfix">
                                <div class="col-sm-1 mc-padding-horizontal-0 text-right">
                                    <em class="font_red">*</em>标题：
                                </div>
                                <div class="col-sm-10 mc-padding-horizontal-0">
                                    <div class="invalidate-input-box {{newsForm.TITLE.$invalid?'has-error':''}}">
                                        <input class="form-control" type="text" name="Title" ng-model="list.TITLE" placeholder="请输入标题" maxlength-error-message="长度不能超过200个字数！" validator="maxlength=200,required" ng-blur="showError(true)" ng-mouseenter="isShowTipsA=true" ng-mouseleave="isShowTipsA=false" is-show-tips="isShowTipsA">
                                    </div>
                                </div>
                                <span class="col-sm-1 tip">共
                        <trs-word-num num-obj="{{list.TITLE}}" class="font_red auto_wt"></trs-word-num>
                        字
                        </span>
                            </div>
                        </div>
                        <div class="col-md-2 pl0">
                            <!-- <div class="channel-radio-container">
                            <trs-single-radio ng-repeat="item in status.mediaTypes" ischecked="item.value==list.MEDIATYPES" label="{{item.desc}}" group="'mediaTypes'" callback="toggleRadio(item)" imgurl="{{item.imgurl}}"></trs-single-radio>
                        </div> -->
                        </div>
                        <!--标题结束-->
                        <div class="col-md-8">
                            <div class="form-group clearfix">
                                <div class="col-sm-1 mc-padding-horizontal-0 text-right">副标题：</div>
                                <div class="col-sm-10 mc-padding-horizontal-0">
                                    <div class="invalidate-input-box {{newsForm.SUBTITLE.$invalid?'has-error':''}}">
                                        <input class="form-control" type="text" name="SUBTITLE" ng-model="list.SUBTITLE" placeholder="请输入副标题" maxlength-error-message="长度不能超过200个字符！" validator="maxlength=200" ng-blur="showError(true)" ng-mouseenter="isShowTipsSUBTITLE=true" ng-mouseleave="isShowTipsSUBTITLE=false" is-show-tips="isShowTipsSUBTITLE">
                                    </div>
                                </div>
                                <span class="col-sm-1 tip">共
                            <trs-word-num num-obj="{{list.SUBTITLE}}" class="font_red auto_wt"></trs-word-num>
                            字
                             </span>
                            </div>
                        </div>
                        <div class="col-md-2 pl0">
                        </div>
                        <!--副标题结束-->
                    </div>
                </div>
                <div class="new_tplb">
                    <div class="header">
                        <p>图片列表：</p>
                        <button class="tplb_btn" ng-click="multiImgsUploader()">
                            <img src="./editingCenter/app/images/b5a.png">上传图片</button>
                        <button class="tplb_btn btn btn-default" ng-click="batchDelete()" ng-disabled="status.uploaderImgSelected.length===0">
                            <img src="./editingCenter/app/images/b6a.png">批量删除
                        </button>
                    </div>
                    <div class="con">
                        <table class="table table-striped mb0 iwotable">
                            <thead>
                                <tr ng-if="list.DOC_PICTURELIST.length>=1">
                                    <th style="width: 8%;">
                                        <trs-checkbox ischecked="status.uploaderImgSelected.length===list.DOC_PICTURELIST.length" callback="selectAllImg()"></trs-checkbox>全选
                                    </th>
                                    <th style="width: 23%;">排序</th>
                                    <th style="width: 20%;">图片</th>
                                    <th>说明</th>
                                    <th style="width: 22%;">操作</th>
                                </tr>
                            </thead>
                            <!-- <tbody drag-container>
                            <tr class="h190" ng-repeat="uploaderImg in list.DOC_PICTURELIST" drag-row>
                                <td class="lh180 td-check">
                                    <trs-checkbox ischecked="status.uploaderImgSelected.indexOf(uploaderImg)<0?false:true" callback="selectImg(uploaderImg)"></trs-checkbox>
                                </td>
                                <td class="lh180" style="line-height: 180px;cursor:pointer">
                                    <img ng-click="upMove($index)" src="./editingCenter/app/images/b13.png"> <span ng-click="upMove($index)">上移</span>
                                    <img ng-click="downMove($index)" src="./editingCenter/app/images/b12.png"><span ng-click="downMove($index)">下移</span></td>
                                <td drag-source>
                                    <div class="imgCon">
                                        <img ng-src="{{uploaderImg.PERPICURL}}">
                                    </div>
                                </td>
                                <td class="news_input_check invalidate-input-box">
                                    <dnd-nodrag>
                                        <textarea name="imgDeclare" class="td_textarea form-control" placeholder="在此输入图片说明" ng-model="uploaderImg.APPDESC" maxlength-error-message="长度不能超过500个字符！" validator="maxlength=500,spechar" ng-mouseenter="isShowTips=true" ng-mouseleave="isShowTips=false" is-show-tips="isShowTips"></textarea>
                                    </dnd-nodrag>
                                </td>
                                <td>
                                    <dnd-nodrag>
                                        <div class="h35 mc-margin-top" ng-click="editImage(uploaderImg,$index)"><img src="./editingCenter/app/images/b77.png" class="pr7"> 编辑图片</div>
                                        <div class="h35" ng-click="photoCrop(uploaderImg,$index)"><img src="./editingCenter/app/images/b77-y.png" class="pr7"> 裁剪图片</div>
                                        <div class='h35' ng-click="deleteImg($index)"><img src="./editingCenter/app/images/b78.png">删除</div>
                                        <div class="h35" ng-click="declareAll($index)">
                                            <img src="./editingCenter/app/images/b81.png">同步所有说明
                                        </div>
                                    </dnd-nodrag>
                                </td>
                            </tr>
                             <tr class="dndPlaceholder">
                                <td colspan="5"><i>选定位置后松开鼠标</i></td>
                            </tr>
                        </tbody> -->
                            <tbody dnd-list="list.DOC_PICTURELIST" trs-thumb-container>
                                <tr class="h190" ng-repeat="uploaderImg in list.DOC_PICTURELIST" dnd-draggable="uploaderImg" dnd-moved="moveUploadImg($index)" dnd-effect-allowed="copyMove" dnd-dragstart="dragStart(event)">
                                    <td class="lh180 td-check">
                                        <trs-checkbox ischecked="status.uploaderImgSelected.indexOf(uploaderImg)<0?false:true" callback="selectImg(uploaderImg)"></trs-checkbox>
                                    </td>
                                    <td class="lh180" style="line-height: 180px;cursor:pointer">
                                        <img ng-click="upMove($index)" src="./editingCenter/app/images/b13.png"> <span ng-click="upMove($index)">上移</span>
                                        <img ng-click="downMove($index)" src="./editingCenter/app/images/b12.png"><span ng-click="downMove($index)">下移</span></td>
                                    <td drag-source>
                                        <div class="imgCon">
                                            <trs-thumb item="uploaderImg" transform="editingCenterAllThumb"></trs-thumb>
                                            <!--  <img ng-src="{{uploaderImg.PERPICURL}}"> -->
                                        </div>
                                    </td>
                                    <td class="news_input_check invalidate-input-box">
                                        <dnd-nodrag>
                                            <textarea name="imgDeclare" class="td_textarea form-control" placeholder="在此输入图片说明" ng-model="uploaderImg.APPDESC" maxlength-error-message="长度不能超过1000个字符！" validator="maxlength=1000" ng-mouseenter="isShowTips=true" ng-mouseleave="isShowTips=false" is-show-tips="isShowTips"></textarea>
                                        </dnd-nodrag>
                                    </td>
                                    <td>
                                        <dnd-nodrag class="mt20">
                                            <div class="h35" ng-click="editImage(uploaderImg,$index)"><img src="./editingCenter/app/images/b77.png" class="pr7"> 更换图片</div>
                                            <div class="h35" ng-click="photoCrop(uploaderImg,$index)"><img src="./editingCenter/app/images/b77-y.png" class="pr7"> 编辑图片</div>
                                            <div class='h35' ng-click="deleteImg($index)"><img src="./editingCenter/app/images/b78.png">删除</div>
                                            <div class="h35" ng-click="declareAll($index)">
                                                <img src="./editingCenter/app/images/b81.png">同步所有说明
                                            </div>
                                        </dnd-nodrag>
                                    </td>
                                </tr>
                                <tr class="dndPlaceholder">
                                    <td colspan="5"><i>选定位置后松开鼠标</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="section-2">
                <div id="atlasParamInfo" class="subject-title mt20">属性信息</div>
                <div class="m_box bg-gray">
                    <div class="m_box_item mt20">
                        <div class="col-sm-1 txt_r w90">图集说明：</div>
                        <div class="col-sm-9 invalidate-input-box ">
                            <ueditorLocation>
                            </ueditorLocation>
                            <!-- <textarea class="form-control textarea-mid {{atlasForm.ImgInstructions.$invalid&&atlasForm.ImgInstructions.$dirty?'has-error':''}}" type="text" name="ImgInstructions" ng-model="list.CONTENT" maxlength-error-message="长度不能超过1000个字符！" validator="maxlength=1000,spechar" ng-mouseenter="isShowTips=true" ng-mouseleave="isShowTips=false" is-show-tips="isShowTips"> </textarea> -->
                        </div>
                    </div>
                    <div class="m_box_item">
                        <div class="col-sm-1 txt_r w90">新闻来源：</div>
                        <!-- <div class="col-sm-10 w392 invalidate-input-box {{atlasForm.NewsSource.$invalid&&atlasForm.NewsSource.$dirty?'has-error':''}}">
                        <input class="form-control edit-news-attribute-text" type="text" name="NewsSource" ng-model="list.NEWSSOURCES" placeholder="请输入新闻来源" maxlength-error-message="长度不能超过50个字符！" validator="maxlength=50,spechar" ng-mouseenter="isShowTips=true" ng-mouseleave="isShowTips=false" is-show-tips="isShowTips">
                    </div> -->
                        <div class="col-sm-10 w392">
                            <input class="form-control edit-news-attribute-text" type="text" watch-options='true' ng-model="list.NEWSSOURCES" bs-options="user as user.SRCNAME for user in getSuggestions($viewValue)" bs-typeahead limit="30">
                        </div>
                    </div>
                    <div class="m_box_item">
                        <div class="col-sm-1 txt_r w90">作者：</div>
                        <div class="col-sm-10 w392 invalidate-input-box {{atlasForm.SignAuthor.$invalid&&atlasForm.SignAuthor.$dirty?'has-error':''}}">
                            <input class="form-control edit-news-attribute-text" type="text" name="SignAuthor" ng-model="list.SIGNATUREAUTHOR  " placeholder="请输入署名作者" maxlength-error-message="长度不能超过50个字符！" validator="maxlength=50" ng-mouseenter="isShowTips=true" ng-mouseleave="isShowTips=false" is-show-tips="isShowTips">
                        </div>
                    </div>
                    <div class="m_box_item iwokeywords">
                        <div class="col-sm-1 txt_r w90">关键词：</div>
                        <div class="col-sm-10">
                            <span class="errorTips" ng-show="isShowKeywordTips"><p class="validation-invalid">{{keywordsTips}}</p><i></i></span>
                            <div class="edit-news-attribute-text pull-left iwo-keywords-input-lengthen">
                                <tags-input ng-model="data.KEYWORDS" text="KEYWORDTEXT" add-on-space="true" add-on-enter="false" add-on-blur="true" ng-mouseenter="enter()" ng-mouseleave="leave()" add-on-comma="false" add-on-paste="true" paste-split-pattern="[;]" replace-spaces-with-dashes="false" enable-editing-last-tag="true" spellcheck="false" display-property="name" template="tag-template" min-length="1" max-length="20" placeholder="请输入关键词，以空格完成输入" allowed-tags-pattern="" on-invalid-tag="invalidTag($tag)" on-tag-adding="checkTag($tag)">
                                </tags-input>
                            </div>
                            <!-- <button ng-click="getKeywordsOrAbstract('keywords')" class="iwo-get-keywords iwo_get_keywords_btn">提取关键字</button>
                            <button ng-click="clearAllKeywords()" class="iwo-get-keywords iwo_get_keywords_btn">清除所有关键词</button> -->
                            <script type="text/ng-template" id="tag-template">
                                <div style="float: left; padding-left: 2px">
                                    <span>{{$getDisplayText()}}</span>
                                    <a class="remove-button" ng-click="$removeTag()">&times;</a>
                                </div>
                            </script>
                        </div>
                    </div>
                    <div class="m_box_item">
                        <div class="col-sm-1 txt_r w90">摘要：</div>
                        <div class="col-sm-7 invalidate-input-box {{atlasForm.ConAbstract.$invalid&&atlasForm.ConAbstract.$dirty?'has-error':''}}">
                            <textarea class="form-control textarea-mid" type="text" name="ConAbstract" ng-model="list.ABSTRACT" maxlength-error-message="长度不能超过500个字符！" validator="maxlength=500" ng-mouseenter="isShowTips=true" ng-mouseleave="isShowTips=false" is-show-tips="isShowTips">
                            </textarea>
                        </div>
                        <span class="iwoAbstractWordCount"><span>您已输入<span ng-bind="list.ABSTRACT==undefined?0:list.ABSTRACT.length"></span>个字符</span>
                        </span>
                    </div>
                    <div class="m_box_item mt20">
                        <div class="col-sm-1 text-right w90">备注：</div>
                        <div class="col-sm-7 invalidate-input-box {{newsForm.REMARK.$invalid&&newsForm.REMARK.$dirty?'has-error':''}}">
                            <textarea class="form-control edit-news-textarea" name="REMARK" ng-model="list.REMARKS" maxlength-error-message="长度不能超过500个字符！" validator="maxlength=500" ng-mouseenter="isShowTips=true" ng-mouseleave="isShowTips=false" is-show-tips="isShowTips">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="section-3">
                <div class="subject-title mt20 blueborder">
                    <p>发稿单</p>
                    <trs-checkbox label="不发稿费" ischecked="list.ISNOPAYMENT=='1'" callback="togglepayment()" class="mc-margin-left-xs"></trs-checkbox>
                </div>
                <div class="row mt_20">
                    <div class="m_box_item mb0 mpl">
                        <p class="left newP">稿件体裁：</p>
                        <trs-single-select options="data.docgenre" selected-option="list.DOCGENRE"></trs-single-select>
                    </div>
                </div>
                <editor>
                </editor>
            </div>
            <!-- <editor-dir meta-data-id="{{list.METADATAID}}" editor-json="list.FGD_EDITINFO" show-all-tips="showAllTips" editor-form="atalsForm"></editor-dir>
            <editor-auth-dir author="list.FGD_AUTHINFO"></editor-auth-dir> -->
            <div class='timeline' ng-if="status.hasVersionTime" id="section-4">
                <div class="subject-title mt20">流程版本</div>
                <tabset class="m_nav_3 mt20">
                    <tab heading="操作日志">
                        <div class="m_box_2">
                            <trs-timeline title="'操作日志'">
                                <p ng-bind="data.version.operationLogTitle" class="logTitle"></p>
                                <div ng-repeat="(key, value) in data.version.group">
                                    <h3 ng-class="{'operateLog':$index%2==0}">{{key}}</h3>
                                    <timegroup tick="item.day" ng-repeat="item in data.version.operationLog[key]">
                                        <timeitem tick="n.value.CRTIME" ng-repeat="n in item.times">
                                            <a class="minw45">{{n.value.OPERATION}}</a>
                                            <a class="minw80 pointer" ng-bind="n.value.USERNAME" title="{{n.value.OPERUSERNAME}}"></a>
                                            <a class="minw88" title="{{n.value.ATTRIBUTE}}" ng-bind="n.value.DESUSERNAME||n.value.ATTRIBUTE"></a>
                                            <a title="{{n.value.OPINION}}" class="exttype" ng-if="n.value.OPINION!==''">{{n.value.OPERATION}}意见</a>
                                        </timeitem>
                                    </timegroup>
                                </div>
                            </trs-timeline>
                        </div>
                        <div class="websist_normal w100pen" ng-if="page.CURRPAGE>=page.PAGECOUNT">没有更多了...</div>
                        <div data-ng-if="page.CURRPAGE<page.PAGECOUNT" cg-busy="loadingPromise" class="website_timeline_load_more_2 text-center w100pen" ng-click="getLoadMore()">
                            <img src="./editingCenter/website/images/images/newTab_2.png" /> 点击展开更多
                        </div>
                    </tab>
                    <tab heading="流程版本">
                        <div class="m_box_2">
                            <trs-timeline title="'流程版本'">
                                <timegroup tick="item.day" ng-repeat="item in data.version.versionTime">
                                    <timeitem tick="n.value.CRTIME" ng-repeat="n in item.times">
                                        <a class="minw45">{{n.value.OPERATION}}</a>
                                        <a class="minw80" title="{{n.value.OPERSTATEDESC|trsLimitTo:12}}">{{n.value.OPERSTATEDESC}}</a>
                                        <a class="minw88">{{n.value.CRUSER}}</a>
                                        <a class="exttype" target="_blank" ui-sref="editingCenterPersonalVersionTime({objectversionid:n.value.OBJECTVERSIONID})">{{n.value.EXTTYPE}}</a>
                                    </timeitem>
                                </timegroup>
                            </trs-timeline>
                        </div>
                    </tab>
                    <tab heading="评审意见">
                        <div class="m_box_2 edit_versionTime_comment">
                            <trs-timeline title="'评审意见'">
                                <timegroup tick="item.day" ng-repeat="item in data.comment.comment">
                                    <timeitem tick="n.value.CRTIME" ng-repeat="n in item.times">
                                        <a class="minw80 comment_name" ng-bind="n.value.TRUENAME"></a>
                                        <a ng-bind="n.value.COMMENT" ng-if="n.value.COMMTYPE==1" class="comment_content"></a>
                                        <audio preload controls ng-src="{{trustUrl(data.comment.voiceObj[n.value.COMMENT])}}" ng-if="n.value.COMMTYPE==2"></audio>
                                        <!-- <span ng-bind="n.value.DURATION+' 秒'" class="comment_duration" ng-if="n.value.COMMTYPE==2"></span> -->
                                    </timeitem>
                                </timegroup>
                            </trs-timeline>
                        </div>
                        <div class="websist_normal" ng-if="!data.comment.hasMore">没有更多了...</div>
                        <div data-ng-if="data.comment.hasMore" cg-busy="loadingPromise" class="website_timeline_load_more_2 text-center" ng-click="getLoadMoreComment()">
                            <img src="./editingCenter/website/images/images/newTab_2.png" /> 点击展开更多
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="Iw-box-fix box-fix-bt">
                <div class="txt_r">
                    <button class="btn btn-primary" ng-repeat="btn in arrayBtn track by $index" ng-click="handleBtnClick(btn.OPERFUN)" ng-disabled="!status.openBtn">
                        <span class="s_icon">
                    <img ng-src="./editingCenter/iWo/images/c{{btn.RIGHTINDEX}}.png"></span> {{btn.OPERDESC}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<div cg-busy="loadingPromise"></div>
