<div class="man_produ_modify" ng-class="{'active':isManusCorrShow}">
    <div class="man_produ_modify_head">
        <p>流程记录</p>
        <img src="./editingCenter/app/toBeCompiled/images/cls.jpg" class="edit_revoke_thead_images1" ng-click="cancel()" />
    </div>
    <div class="man_produ_modify_inner">
        <div class="man_produ_column_modify">
            <div class="edit_table cancel_signed_table_container">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>组版员</th>
                            <th>时间</th>
                            <th>操作</th>
                            <th>目标</th>
                        </tr>
                    </thead>
                </table>
                <div class="processRecording-main-table">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr ng-repeat="item in items">
                                <td ng-bind="item.TrueName"></td>
                                <td ng-bind="item.OpreTime"></td>
                                <td ng-bind="item.OpreName"></td>
                                <td ng-bind="item.TargetName"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="man_produ_modify_footer">
            <button class="news-role-btn right" ng-click="cancel()">关闭</button>
        </div>
    </div>
</div>
