.productManageMent-website-distribute-add .modal-dialog{
    width: 400px;
}
.productManageMent-website-distribute-add img{
    cursor: pointer;
}
.productManageMent-website-distribute-add .man_produ_modify{
    padding-bottom: 2px;
}
.productManageMent-website-distribute-add .man_produ_modify_inner{
    background: #fff;
    margin: 10px;
    padding-top: 10px;
    line-height: 45px;
    color: #777;
    font-size: 12px;
}
.productManageMent-website-distribute-add .man_produ_column_modify span{
    display: inline-block;
    width: 20%;
    height: 100%;
    line-height: 100%;
    text-align: right;
}
.productManageMent-website-distribute-add .man_produ_column_modify .man_produ_sensitive_text,
.productManageMent-website-distribute-add .man_produ_column_modify .man_produ_sensitive_select{
    display: inline-block;
    color: #aaa;
    font-size: 12px;
}
.productManageMent-website-distribute-add .man_produ_column_modify .man_produ_sensitive_text {
    width: 280px;
    height: 30px;
}
.productManageMent-website-distribute-add .man_produ_column_modify .man_produ_sensitive_select{
    width: 140px;
    height: 30px;
}
.productManageMent-website-distribute-add .man_produ_column_modify .man_produ_sensitive_checkbox{
    width: 16px;
    height: 16px;
    background-color: #fff;
    vertical-align: -4px;
}
.productManageMent-website-distribute-add .man_produ_modify_footer{
    margin-top: 10px;
    height: 50px;
    line-height: 60px;
    background: #f0f2f5;
    padding-left: 195px;
}
.productManageMent-website-distribute-add .man_produ_modify_footer_cancel{
    margin-right: 0;
}
.productManageMent-website-distribute-add .man_produ_modify_footer button{
    width: 80px;
    height: 30px;
}