<section style="position:static;box-sizing: border-box;">
    <section style="border-radius: 2px; color: rgb(255, 255, 255); margin: 5px; padding: 80px 0px; box-shadow: rgb(117, 117, 117) 2px 2px 10px; border-color: rgb(150, 170, 179); background-color: rgb(73, 129, 154);">
        <section style="border-top-width: 2px; border-top-style: solid; border-top-color: rgb(254, 254, 254); border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(254, 254, 254); color: inherit;">
            <section style="color: inherit; margin: 5px 0px; background-color: rgb(254, 254, 254);">
                <section style="border: 0px; text-align: center; box-sizing: border-box; padding:10px 0px 5px; color: inherit;margin:5px 0px">
                    <section style="display: inline-block; box-sizing: border-box; color: inherit;">
                        <section style="margin: 0.2em 0px 0px; padding: 0px 0.5em 5px; max-width: 100%; color: rgb(73, 129, 154); font-size: 1.8em; line-height: 1; border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(73, 129, 154);"><span style="color:#0C0C0C">编 辑 器</span></section>
                        <section style="margin: 5px 1em; font-size: 1em; line-height: 1; color: rgb(73, 129, 154); box-sizing: border-box; border-color: rgb(73, 129, 154);"><span style="border-color:#49819A; color:#C00000">做最易用的编辑器</span></section>
                    </section>
                </section>
                <section style="border: 0px; box-sizing: border-box; width: 100%; clear: both; overflow: hidden; padding: 0px; text-align: justify; color: inherit;">
                    <section style="box-sizing: border-box; width: 55%; float: right; padding: 0px 0px 0px 0.1em; color: inherit;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTVnpsQmhLdXJ6MEZpYnNNU1ppYnd4aDFpYUI2b0tBMmlhNHpJaDVwUGR4MXJjTlAzM2pnUFVybU1IZy8wP3d4X2ZtdD1qcGVn" style="box-sizing: border-box; color: inherit; width: 100%; margin: 0px; height: auto !important;" width="100%" height="auto" border="0"></section>
                    <section style="display: inline-block; width: 45%; box-sizing: border-box; float: right; padding: 0px 10px 0px 10px; color: inherit;">
                        <section style="box-sizing: border-box; color: rgb(73, 129, 154); font-weight: inherit; text-align: inherit; text-decoration: inherit; border-color: rgb(73, 129, 154);">
                            <section style="box-sizing: border-box; border-color: rgb(73, 129, 154); color: inherit;">
                                <p style="border-color: rgb(73, 129, 154); color: inherit;">
                                    <br>
                                </p>
                                <p style="border-color: rgb(73, 129, 154); color: inherit;">
                                    <br>
                                </p>
                                <p style="text-align: left; border-color: rgb(73, 129, 154); color: inherit;"><span style="color:#7F7F7F; font-size:12px">亲爱的广大用户，积分系统即将重新归来。用积分即可换购付费服务。怎么赚？邀请朋友使用吧，轻松赚取积分大礼包~</span></p>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
