<section style="position:static;box-sizing: border-box;">
    <section style="border:none;margin:0.8em auto 0.3em;">
        <section style="color: #FF6450;font-size: 20px;letter-spacing: 3px;padding: 9px 4px 14px 4px;text-align: center;margin: 0 auto;border:4px solid #FF6450;-webkit-border-radius: 8px;border-radius: 8px;">理念<span style="display:block; font-size:10px; line-height:12px">PHILOSOPHY</span></section>
        <section style="width: 0px; margin-right: auto; margin-left: auto; border-top-width: 0.6em; border-top-style: solid; border-bottom-color: #FF6450; border-top-color:#FF6450; height: 10px; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important;"></section>
    </section>
</section>
