<section style="position:static;box-sizing: border-box;">
    <section style="margin: 10px 0; padding: 0px;">
        <section style="border-width: 28px;border-style:solid;-webkit-border-image: url(http://remote.wx135.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZPTWlhdWlibE5SeFV6WWxNR0RxRTNDT2xZdjBOZ1h4bTBYOWJUWDZSYjNLYnl1NVlPV09oaWNVSnZsV3o2N2liUk9JZWFOalNKMWJMRFp3LzA=) 28;font-size: 14px;padding:0 5px;line-height: 1.4;text-align: left;">
            <p>从别的地方粘贴到编辑器的内容，请将格式全部清除，否则容易出现样式无法调整或者错乱的情况</p>
        </section>
    </section>
</section>
