<section style="position:static;box-sizing: border-box;">
    <section style="width:100%;margin:0 auto;text-align:center;">
        <section style="width: 100%; background-color: rgb(255, 255, 255); padding: 0px; border-top-width: 2px; border-top-style: solid; border-top-color: rgb(172, 29, 16); border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(172, 29, 16); color: inherit; font-size: 14px; margin: 15px 0px; display: inline-block; ">
            <section style="padding: 30px; margin: -15px 15px; border-right-width: 2px; border-right-style: solid; border-right-color: rgb(172, 29, 16); border-left-width: 2px; border-left-style: solid; border-left-color: rgb(172, 29, 16); color: inherit; ">
                <p style="line-height: 24px; text-align: center; color: rgb(172, 29, 16); border-color: rgb(172, 29, 16); "><span style="color:#0C0C0C; font-size:16px"><strong style="color:inherit">请输入内容</strong></span></p>
            </section>
        </section>
    </section>
</section>
