<section style="position:static;box-sizing: border-box;">
    <blockquote style="max-width: 100%; margin: 0px; padding: 5px 15px; color: rgb(160, 160, 162); line-height: 25px; font-weight: bold; text-align: left; border-radius: 5px 5px 0px 0px; border: 0px; background-color: rgb(33, 33, 34);"><span style="color:rgb(255, 255, 255)">这输入标题</span></blockquote>
    <blockquote style="max-width: 100%; margin: 0px; padding: 10px 15px 20px; border-radius: 0px 0px 5px 5px; border: 1px solid rgb(33, 33, 34); line-height: 25px;">
        <p style="color: inherit;">可在这输入内容，编辑器，做微信图文美化最方便的编辑器。</p>
    </blockquote>
</section>
