<section style="position:static;box-sizing: border-box;">
    <section style="padding: 0px 10px 5px; color: rgb(255, 255, 255); border-color: rgb(30, 173, 42); box-sizing: border-box; margin: 30px auto 0; border-radius: 15px; background-color: rgb(30, 173, 42);">
        <section style="width: 2.8em; border-radius: 50%; padding: 10px 0px 0px; margin-top: -20px; display: inline-block; margin-left: 10px; text-align: center; height: 2.8em !important; box-sizing: border-box; background-color: inherit;margin-bottom: 0px;">
            <section style="width: 1.8em; border-radius: 50%; padding: 0px 6px; display: inline-block; line-height: 1.8em;  height: 1.8em !important; box-sizing: border-box; background-color: rgb(254, 254, 254);"><span style="box-sizing:border-box; color:rgb(0, 0, 0); margin:0px; padding:0px"><strong style="box-sizing:border-box; margin:0px; padding:0px"><span class="autonum" style="box-sizing:border-box; color:rgb(0, 0, 0); font-size:16px; margin:0px; padding:0px">1</span></strong>
                </span>
            </section>
        </section>
        <section style="text-align: center; padding: 0px 5px; box-sizing: border-box; margin: -5px 0px 0px;"><strong style="box-sizing:border-box; margin:0px; padding:0px"><span style="box-sizing:border-box; font-size:16px; margin:0px; padding:0px">文字cloud</span></strong></section>
        <section style="margin: 0px 0px 5px; color: inherit; border-color: rgb(172, 29, 16); box-sizing: border-box; padding: 10px; border-radius: 15px; background-color: rgb(254, 254, 254);">
            <p style="color: inherit; border-color: rgb(172, 29, 16); box-sizing: border-box; padding: 0px; margin: 0px;"><span style="box-sizing:border-box; color:rgb(0, 0, 0); margin:0px; padding:0px">请输入正文内容</span></p>
            <p style="color: inherit; border-color: rgb(172, 29, 16); box-sizing: border-box; padding: 0px; margin: 0px;">
                <br>
            </p>
        </section>
    </section>
</section>
