<section style="position:static;box-sizing: border-box;">
    <section style="border-color: rgb(89, 195, 249); color: rgb(255, 255, 255); margin: 0px auto; padding: 35px; background-color: rgb(89, 195, 249);">
        <h2 style="font-size: 24px; font-weight: bold; border-color: rgb(89, 195, 249); color: inherit;">纯底色大边距大段内容</h2>
        <section style="border-color: rgb(89, 195, 249); color: inherit;">
            <p style="border-color: rgb(89, 195, 249); color: inherit;">日本的设计师提出过一个配色黄金比例，是70：25：5，其中的70%为大面积使用的主色，25%为辅助色，5%为点缀色。一般情况下建议画面色彩不超过3种，3种是指的3种色相，比如深红和暗红既可以视为一种色相。</p>
            <p style="border-color: rgb(89, 195, 249); color: inherit;">
                <br>
            </p>
            <p style="border-color: rgb(89, 195, 249); color: inherit;">一般来说颜色用的越少越好，颜色越少画面越简洁，作品会显得更加成熟。</p>
        </section>
    </section>
</section>
