<section style="position:static;box-sizing: border-box;">
    <section style="padding: 5px; border: 1px solid rgb(204, 204, 204); line-height: 24px; color: inherit;margin-top:25px">
        <section style="margin: -20px 0px 0px 15px; padding: 0px; width: auto; font-size: 16px; color: inherit;"><span style="color:inherit; margin:0px; padding:0px"><strong style="color:rgb(102, 102, 102); margin:15px 8px 0px 0px"><span style="background-color:rgb(145, 168, 252); border-color:rgb(145, 168, 252); border-radius:5px; color:rgb(255, 255, 255); padding:4px 10px">编辑器</span>&nbsp;&nbsp;</strong><span style="background-color:rgb(254,254,254); border-color:rgb(145, 168, 252); color:rgb(145, 168, 252); margin:0px; padding:0px">ID:editor135&nbsp;&nbsp;</span></span>
        </section>
        <section style="padding: 0px; line-height: 2em; color: rgb(62, 62, 62); font-size: 14px; margin: 15px;">
            <p style="text-indent: 2em; color: inherit;">是一个在线图文编辑工具，大量节省您排版的时间，让工作更轻松高效。</p>
        </section>
    </section>
</section>
