<section style="position:static;box-sizing: border-box;">
    <section style="text-align:center;">
        <section style="display:inline-block;margin: 5px 0px 3em;">
            <section style="font-size: 14px; border: none; margin-top: 3.5em; margin-bottom: 0.5em; box-sizing: border-box; padding: 0px;text-align: center;">
                <section style="font-size: 14px; box-sizing: border-box; padding: 0px; margin: 0px;">
                    <section style="width: 16.5em; height: 16.5em; margin-top: 0em;  -webkit-transform: rotate(-45deg);transform: rotate(-45deg); font-size: 14px; box-sizing: border-box; padding: 0px; background-color: rgba(221, 240, 237, 0.498039);">
                        <section style="width: 90%; height: 20em; margin-left: -1.5em; padding-top: 0.5em; padding-right: 1em; -webkit-transform: rotate(-10deg);transform: rotate(-10deg); font-size: 1em; font-family: inherit; font-weight: inherit; text-align: right; text-decoration: inherit; color: rgb(255, 255, 255); box-sizing: border-box;"></section>
                    </section>
                </section>
            </section>
            <section style="font-size: 14px; border: none; margin-top: 0em; margin-bottom: 0.5em; box-sizing: border-box; padding: 0px;">
                <section style="font-size: 14px; box-sizing: border-box; padding: 0px; margin: 0px;">
                    <section style=" width: 16.5em; height: 16.5em; margin-top: -16.5em;-webkit-transform: rotate(-35deg);transform: rotate(-35deg);font-size: 14px; box-sizing: border-box; padding: 0px; background-color: rgba(221, 240, 237, 0.498039);">
                        <section style="width: 80%; height: 20em;  padding-top: 2em; padding-bottom: 2em; padding-left: 1em; -webkit-transform: rotate(35deg);transform: rotate(35deg);font-family: inherit; font-weight: inherit;  text-decoration: inherit; box-sizing: border-box;">
                            <p style="text-align: justify; font-size: 14px; box-sizing: border-box; padding: 0px; margin: 0px;">
                                <br>
                            </p>
                            <p style="text-align: justify; font-size: 14px; box-sizing: border-box; padding: 0px; margin: 0px;"><span style="color:#7f7f7f">我可以是正文</span></p>
                            <p style="text-align: justify; font-size: 14px; box-sizing: border-box; padding: 0px; margin: 0px;"><span style="color:#7f7f7f">也可以是标题</span></p>
                            <p style="text-align: justify; font-size: 14px; box-sizing: border-box; padding: 0px; margin: 0px;"><span style="color:#7f7f7f">但我可以让容纳的字数有限</span></p>
                            <p style="text-align: justify; font-size: 14px; box-sizing: border-box; padding: 0px; margin: 0px;"><span style="color:#7f7f7f">不要给我太多内容哦~</span></p>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
