<section style="position:static;box-sizing: border-box;">
    <section style="border: 1px solid #e2e2e2; box-shadow: #e2e2e2 0em 1em 0.1em -0.6em;line-height: 1.6em;">
        <section style="padding: 1em; color:rgb(255, 255, 255);  text-align: center; font-size: 1.4em; font-weight: bold; line-height: 1.4em; box-shadow: 0em 0.2em 0.2em rgb(221, 221, 221); background-color: rgb(249, 110, 87);"><span style="font-size:1.4em; font-style:normal">活动名称</span></section>
        <section style="margin-top: 1.5em; text-align: left;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkc4OXdqMENBcmExTE5JNjYxTVJ5TDdiZzFlTk5neDV2V0hndXdCU3JweUpucGFva1ZocWt6YmhQQWgyZnQyTkRlaWJHVXVpYkdxbmZuUS8wP3d4X2ZtdD1wbmc=" style="margin-left:1em; vertical-align:top; width:30px">
            <section style="display: inline-block; width: 60%; padding: 0.2em; margin-left: 0.5em; font-size: 1em; font-style: normal; color: inherit;">活动时间</section>
        </section>
        <section style="margin-top: 1em; text-align: left;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkc4OXdqMENBcmExTE5JNjYxTVJ5TDdBQUlpY1d2WlRXTEhsdmlhaWJvcUk5VUk1YmljeGxZZ2hmbHAyODIxaWNmRmliM2p4d21EYm9zaWN4SU9RLzA/d3hfZm10PXBuZw==" style="margin-left:1em; vertical-align:top; width:30px">
            <section style="display: inline-block; width: 60%; padding: 0.2em; margin-left: 0.5em; font-size: 1em; color: inherit;">活动地点</section>
        </section>
        <section style="display: inline-block;background-color: rgb(249, 110, 87); height: 2em; max-width: 100%;margin-top: 1.5em; line-height: 1em; box-sizing: border-box;">
            <section style="height: 2em; max-width: 100%; padding: 0.5em 1em;color: rgb(255, 255, 255); white-space: nowrap; text-overflow: ellipsis; font-size: 1em; ">活动介绍</section>
        </section>
        <section style="padding: 1em; font-size: 1em; color: inherit;">请输入活动内容
            <br>请输入活动内容
            <br>请输入活动内容
            <br>......</section>
    </section>
</section>
