<section style="position:static;box-sizing: border-box;">
    <section style="margin:10px auto;width:70%">
        <section style="border: 0px none; padding: 0px; margin: 0px;">
            <h2 style="font-size: 16px; margin: 10px 0px; padding: 10px; max-width: 100%; border-top-style: solid; border-top-width: 1px; border-left-width: 0px; border-bottom-style: solid; border-bottom-width: 1px; line-height: 25px; color: rgb(33, 33, 34); text-align: center; border-color: rgb(33, 33, 34);">大边距居中</h2></section>
        <p style="text-align:right; color: inherit;">自由调整两侧边距</p>
        <section style="line-height: 25px; color: inherit;">
            <p style="color: inherit; text-align: center;">单列居中样式，</p>
            <p style="color: inherit; text-align: center;">内部嵌套插入其它样式，</p>
            <p style="color: inherit; text-align: center;">内容宽度的自定义，</p>
            <p style="color: inherit; text-align: center;">让自己的文章更与众不同。
                <br>
            </p>
            <p style="color: inherit;">
                <br>
            </p>
            <p style="color: inherit; text-align: center;"><span style="color: inherit;">编辑器</span>
                <br>
            </p>
            <p style="color: inherit; text-align: center;"><span style="line-height: 25px; text-align: center;">缩短</span>您的排版时间，</p>
            <p style="color: inherit; text-align: center;">提升排版体验，</p>
            <p style="color: inherit; text-align: center;">工作就应该成为享受！</p>
            <p>
                <br>
            </p>
            <p>
                <br>
            </p>
            <p style="color: inherit;">
                <br>
            </p>
        </section>
    </section>
</section>
