<section style="position:static;box-sizing: border-box;">
    <section style="border:none;margin: 5px auto;">
        <section style="color: rgb(89, 195, 249); font-size: 20px;  text-align: center; margin: 0px auto -2px; border: 2px solid rgb(89, 195, 249); border-radius: 5px;padding: 5px 5px 15px;">
            <p><span style="font-size:18px; letter-spacing:2px">wén huà</span> <span style="border-color:rgb(89, 195, 249); color:inherit; display:block; font-size:24px; letter-spacing:2px; line-height:12px">文 &nbsp;化</span></p>
        </section>
        <section style="width: 0px; margin-right: auto; margin-left: auto; border-top-width: 0.6em; border-top-style: solid; border-bottom-color: rgb(89, 195, 249); border-top-color: rgb(89, 195, 249); height: 10px; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important; color: inherit;"></section>
        <section style="width: 0px; margin-right: auto; margin-left: auto; border-top-width: 0.6em; border-top-style: solid; border-bottom-color: rgb(254, 254, 254); border-top-color: rgb(254, 254, 254); height: 10px; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important; margin-top: -21px; color: inherit;"></section>
    </section>
</section>
