<section style="position:static;box-sizing: border-box;">
    <section style="border: none; margin: 10px 0px 20px; box-sizing: border-box;">
        <section style="box-sizing: border-box; color: inherit; border-color: rgb(0, 234, 172); padding: 0px; margin: 0px;">
            <section style="border-top-left-radius: 0px; border-top-right-radius: 0em; border-bottom-right-radius: 0em; border-bottom-left-radius: 0px; box-sizing: border-box; color: rgb(255, 255, 255); display: block; font-size: 16px; text-align: center; padding: 0.8em 0.5em; border-color: rgb(98, 238, 201); background-color: rgb(0, 234, 172); margin: 0px;">
                <p style="color:inherit;font-size:16px;text-align:center;line-height:1.5em;"><span style="box-sizing:border-box; color:inherit">请输入内容</span></p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>
                <p style="text-align: justify;">通过大家最近对积分的反响，发现积分限制了大家的操作行为！于是紧急讨论，决定取消收藏消耗积分的权限。所以从5月10日开始，可以无限制收藏样式了！
                    <br>不过收藏扣除积分的提示近期内还会存在，我们会尽快发布优化版本取消这个提示！
                    <br>给大家带来的不便，对此很抱歉！</p>
                <p>
                    <br>
                </p>
                <p>
                    <br>
                </p>
            </section>
        </section>
        <section style="margin: -18px 8px 10px; padding: 0px; border-right-width: 90px; border-left-width: 0px; border-right-style: solid; border-right-color: rgb(0, 234, 172); border-left-color: rgb(0, 234, 172); display: inline-block; max-width: 100%; height: 60px; width: 50px; vertical-align: top; float: right; -webkit-transform: rotate(-50deg); color: inherit; border-bottom-width: 60px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important; word-wrap: break-word !important; box-sizing: border-box !important;"></section>
    </section>
</section>
