<section style="position:static;box-sizing: border-box;">
    <section style="padding: 5px;box-shadow: rgb(198,198,199) 5px 5px 3px; background-color: rgb(250, 250, 250);margin: 20px 10px 10px;">
        <section style="text-align:left;margin-left:20px;width: auto;margin-top: -15px;">
            <section style="border-radius: 0.2em 1.1em; box-shadow: rgb(165, 165, 165) 4px 4px 2px; color: rgb(255, 255, 255); padding: 4px 10px; display: inline-block; background-color: rgb(241, 28, 9);"><strong>1</strong></section>
            <section style="padding:5px 10px 5px;">
                <p style="line-height: 2em;text-align: center;"><span style="color: #0C0C0C;">人生就是不断地放下，</span></p>
                <p style="line-height: 2em; text-align: center;"><span style="color: #0C0C0C;">但痛心的是</span></p>
                <p style="line-height: 2em; text-align: center;"><span style="color: #0C0C0C;">我还没来得及与他们好好告别。</span></p>
            </section>
        </section>
    </section>
</section>
