<section style="position:static;box-sizing: border-box;">
    <section style="margin: 5px; border: 1px solid rgb(250,61,65); text-align: center;">
        <section style="padding: 0px; text-align: center; margin: 0px auto; min-height: 10em; color: rgb(255, 255, 255); border-color: rgb(250,61,65); background-color: rgb(250,61,65);">
            <section style="margin: 10px; display: inline-block; border-color: rgb(238, 201, 110); padding: 5px; color: inherit;">
                <p style="color: inherit;"><span style="color:inherit; font-size:24px"><strong style="color:inherit; font-size:24px"><span style="color:inherit; font-size:24px">添加标题</span></strong>
                    </span>
                </p>
            </section>
        </section>
        <section style="display:inline-block;margin-top: -6em;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTeHdqdlI4UXV6RzdVaWJVd2xXQVVCNWhmQmNzQUZpYjFROEJNM3RkYnZpY051d0dwcE1XaWJYNEJMdy8wP3d4X2ZtdD1qcGVn" style="border-radius: 50%; color: inherit; padding: 0px; margin: 0px; height: 12em !important; width: 12em !important;" width="12em" height="12em" border="0"></section>
        <section style="max-width: 100%; margin: 0.5em; text-align: center;">
            <section style="height: 36px; display: inline-block; color: rgb(70, 70, 72); font-size: 16px; font-weight: bold; padding: 0px 10px; line-height: 36px; vertical-align: top; box-sizing: border-box !important; border-color: rgb(164, 164, 207); background-color: rgb(250,61,65);"><span style="color:#FFFFFF">添加副标题</span></section>
        </section>
        <section style="text-align:justy;padding: 5px 10px 15px;text-align: justify;">
            <p style="text-align: justify;"><span style="color:#7F7F7F; font-family:微软雅黑; font-size:14px">编辑器发布任务了，只要去任务中心做任务，就可以赚取积分啦~</span></p>
        </section>
    </section>
</section>
