<section style="position:static;box-sizing: border-box;">
    <section style="margin:0 auto">
        <section style="padding: 10px; box-shadow: rgb(225, 225, 225) 8px 8px 3px; font-size: 1em; line-height: 1.4; white-space: normal; font-family: inherit; text-decoration: inherit; color: rgb(255, 255, 255); border: 2px dotted rgb(252, 252, 252); box-sizing: border-box; margin: 0px; background-color: rgb(255, 129, 36);">
            <section style="color: inherit; border-color: rgb(255, 129, 36); box-sizing: border-box; padding: 0px; margin: 0px;">
                <p>请输入文字</p>
                <p>请输入文字</p>
            </section>
        </section>
    </section>
</section>
