<section style="position:static;box-sizing: border-box;">
    <section style="padding: 40px 40px; color: #737373; background: #f8f8f8;">
        <p><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkYzeDBTTmg5QjliaWFmREQ0S0I3eVF1b2tuTlVROGliZkNLQTdmaWNrVDR3bnVRdUJDckhpYVZ1RVRtcklKbkNoRkJiSnloRnNqRmo1MWpnLzA/d3hfZm10PXBuZw==" style="width: 19px;height: 18px !important;"></p>
        <section>
            <p>2015年1月25日，编辑器“秒刷”功能上线，一秒钟让自己的文章有优美的格式，大量节省您编辑文章格式的时间。</p>
        </section>
        <p style="text-align:right"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkYzeDBTTmg5QjliaWFmREQ0S0I3eVF1aWNrT3A5aWN6cFhxSXZPTUtqUkdlRjc4dGJtRE5mTzliQ2M1T3FCckwyUWRSS0JpY3k3clNHNE9nLzA/d3hfZm10PXBuZw==" style="width: 19px;height: 18px !important;"></p>
    </section>
</section>
