<section style="position:static;box-sizing: border-box;">
    <section style="border: 0px none; margin: 0px; padding: 0px;">
        <section style="display: block;">
            <section style="padding: 5px 0px 0px; text-align: center; position: relative; color: rgb(123, 123, 111); border-color: rgb(245, 245, 244); background: rgb(245, 245, 244);">
                <section style="padding:10px">
                    <p style="margin: 10px; border-color: rgb(245, 245, 244);">请根据自己的审美，</p>
                    <p style="margin: 10px; border-color: rgb(245, 245, 244);">输入文字内容或者</p>
                    <p style="margin: 10px; border-color: rgb(245, 245, 244);">放入图片即可</p>
                </section>
                <section style="display: block; height: 10px; margin-top: 5px; border-color: rgb(245, 245, 244); background-image: -webkit-linear-gradient(45deg, rgb(245, 245, 244) 25%, transparent 25%, transparent), -webkit-linear-gradient(135deg, rgb(245, 245, 244) 25%, transparent 25%, transparent), -webkit-linear-gradient(45deg, transparent 75%, rgb(245, 245, 244) 75%), -webkit-linear-gradient(135deg, transparent 75%, rgb(245, 245, 244) 75%); background-color: rgb(42, 30, 51); background-size: 10px 20px;"></section>
            </section>
        </section>
    </section>
</section>
