<section style="position:static;box-sizing: border-box;">
    <section style="margin:0px 1.2em;">
        <section style="display:inline-block;float:left;">
            <section style="width: 0.6em; height: 1.4em; display: inline-block; border: 2px solid rgb(254, 254, 254); color: rgb(15, 44, 150); background-color: rgb(173, 189, 247);"></section>
            <section style="width: 0.6em; height: 1.4em; display: inline-block; margin-left: 0.2em; border: 2px solid rgb(254, 254, 254); color: rgb(15, 44, 150); background-color: rgb(173, 189, 247);"></section>
        </section>
        <section style="text-align:right;">
            <section style="width: 0.6em; height: 1.4em; display: inline-block; border: 2px solid rgb(254, 254, 254); color: rgb(15, 44, 150); background-color: rgb(173, 189, 247);"></section>
            <section style="width: 0.6em; height: 1.4em; display: inline-block; margin-left: 0.2em; border: 2px solid rgb(254, 254, 254); color: rgb(15, 44, 150); background-color: rgb(173, 189, 247);"></section>
        </section>
    </section>
    <section style="padding: 15px; margin-top: -0.9em; color: rgb(15, 44, 150); background-color: rgb(173, 189, 247);">
        <section style="border:2px solid rgb(254,254,254);padding:20px 15px;" class="135brush">
            <p style="text-align: justify;"><span style="font-size: 14px; color: #FFFFFF;">人的一生，要走很多条路，有笔直坦途，有羊肠阡陌；有繁华，也有荒凉。无论如何，路要自己走，苦要自己吃，任何人无法给予全部依赖。不回避，不退缩，以豁达的心态面对，属于你的终将到来。</span></p>
        </section>
    </section>
</section>
