<section style="position:static;box-sizing: border-box;">
    <section style="margin: 10px 0px; border-radius: 4px; padding: 40px 10px; color: rgb(255, 255, 255); text-align: center; border-color: rgb(169, 169, 169); background-color: rgb(117, 117, 118);">
        <section style="border: 0px none; padding: 0px; color: inherit;">
            <section style="border-width: 6px; border-color: rgba(33, 33, 33, 0.0980392) rgba(33, 33, 33, 0.0980392) rgba(33, 33, 33, 0.0980392) rgb(239, 52, 115); border-style: solid; box-sizing: border-box; width: 150px; clear: both; margin: 0px auto; padding: 4px; text-align: center; height: 150px; border-radius: 50%; color: inherit;">
                <section style="width: 130px; border-radius: 50%; color: inherit; border-color: rgb(234, 159, 184); height: 130px !important; background-color: rgb(239, 52, 115);">
                    <p style="text-align: center; padding-top: 40px; color: inherit; border-color: rgb(239, 52, 115);"><span data-brushtype="text" style="border-color:rgb(239, 52, 115); color:inherit; font-family:微软雅黑; font-size:18px">CLASSICAL MUSIC</span></p>
                </section>
            </section>
        </section>
        <p style="color: inherit;">
            <br>
        </p>
        <section style="margin:10px 5px;line-height:1.5em;">
            <p style="color: inherit;"><span style="color:inherit; font-size:16px"><strong style="color:inherit; font-size:16px">I Been Hoping</strong></span></p>
            <p style="color: inherit;">I'v been brokehearted</p>
            <p style="color: inherit;">ever since the day we partied</p>
            <p style="color: inherit;">I didn't know where to turn to</p>
            <p style="color: inherit;">ever since you went away</p>
            <p style="color: inherit;">......</p>
        </section>
    </section>
</section>
