<section style="position:static;box-sizing: border-box;">
    <section style="width:100%;text-align:center;">
        <section style="width: 100%; padding: 0px; border: 1px solid rgb(198, 198, 199); color: inherit; font-size: 14px; margin: 15px 0px; display: inline-block; background-color: rgb(255, 255, 255);">
            <section class="135brush" style="padding: 20px; margin: -10px 5px; border: 1px solid rgb(198, 198, 199); color: inherit;">
                <p style="line-height: 24px; text-align: center; color: rgb(70, 70, 72); border-color: rgb(198, 198, 199);"><span style="color:#BFBFBF; font-size:16px"><strong style="color:inherit">请输入内容</strong></span></p>
            </section>
        </section>
    </section>
</section>
