<section style="position:static;box-sizing: border-box;">
    <section style="width: 5em; height: 5em; border-radius: 50%; float: left; padding: 12px 5px; margin-right: 10px; border-color: rgb(194, 229, 246); color: rgb(255, 255, 255); background-color: rgb(89, 195, 249);">
        <p style="line-height: 1.5em; text-align: center; border-color: rgb(89, 195, 249); color: inherit;"><span style="border-color:rgb(89, 195, 249); color:inherit; font-size:16px">笔记</span></p>
        <p style="line-height: 1.5em; text-align: center; border-color: rgb(89, 195, 249); color: inherit;"><span style="border-color:rgb(89, 195, 249); color:inherit; font-size:14px">PAGE1</span></p>
    </section>
    <section>
        <p style="clear: none; color: inherit; line-height: 1.75em;"><span style="color:rgb(127, 127, 127)">编辑器每天都在更新样式，但是估计也没法满足所有用户的需求。如果您发现一些想用的样式编辑器里没有，请直接联系QQ群管理员，我们尽快制作样式，尽量满足大家的需求。感谢大家的支持！</span></p>
    </section>
</section>
