<section style="position:static;box-sizing: border-box;">
    <section style="border: 0px none; margin: 0px; padding: 0px;">
        <section style="color: inherit; font-size: 16px; padding: 25px 0px 25px 25px; margin: 0 25px; border-left-width: 2px; border-left-style: solid; border-left-color: #eee;">
            <section style="width: 16px; height: 16px; margin-left: -34px; margin-top: 4px;  text-align: center; line-height: 32px; border-radius: 16px; background: rgb(254,254,254);border: 2px solid #CCC;"></section>
            <section style="margin-top: -20px; color: inherit;">
                <p style="font-size: 14px; color: inherit;"><span style="color:inherit; font-size:18px"><strong style="color:inherit">可通过删除减少列表项</strong></span></p>
                <p style="font-size: 14px; color: inherit;">
                    <br>
                </p>
                <section style="padding-bottom: 10px; color: inherit;">
                    <p style="line-height: 1.5em; font-size: 14px; color: inherit;">在编辑器中，点击列表项，在左下角的操作项中点击删除，可删除多余的列表项</p>
                </section>
            </section>
        </section>
    </section>
    <section style="border: 0px none; margin: 0px; padding: 0px;">
        <section style="background:#009cd2;color:#FFF;">
            <section style="color: inherit; font-size: 16px; padding: 25px 0px 25px 25px; margin: 0 25px; border-left-width: 2px; border-left-style: solid; border-left-color: #EEE;">
                <section style="width: 16px; height: 16px; margin-left: -34px; margin-top: 4px;  text-align: center; line-height: 32px; border-radius: 16px; background: rgb(254,254,254);border: 2px solid #CCC;"></section>
                <section style="margin-top: -20px; color: inherit;">
                    <p style="font-size: 14px; color: inherit;"><span style="color:inherit; font-size:18px"><strong style="color:inherit">通过复制、粘贴来增加列表项</strong></span></p>
                    <p style="font-size: 14px; color: inherit;">
                        <br>
                    </p>
                    <section style="padding-bottom: 10px; color: inherit;">
                        <p style="line-height: 1.5em; font-size: 14px; color: inherit;">点击样式，然后在左下角操作项中点复制，然后在列表最后或者中间插入的行里粘贴即在指定位置增加列表项</p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section style="border: 0px none; margin: 0px; padding: 0px;">
        <section style="color: inherit; font-size: 16px; padding: 25px 0px 25px 25px; margin: 0 25px; border-left-width: 2px; border-left-style: solid; border-left-color: #EEE;">
            <section style="width: 16px; height: 16px; margin-left: -34px; margin-top: 4px;  text-align: center; line-height: 32px; border-radius: 16px; background: rgb(254,254,254);border: 2px solid #CCC;"></section>
            <section style="margin-top: -20px; color: inherit;">
                <p style="font-size: 14px; color: inherit;"><span style="color:inherit; font-size:18px"><strong style="color:inherit">最便捷的操作，让您节省大量排版时间</strong></span></p>
                <p style="font-size: 14px; color: inherit;">
                    <br>
                </p>
                <section style="padding-bottom: 10px; color: inherit;">
                    <p style="line-height: 1.5em; font-size: 14px; color: inherit;">网页搜索“编辑器”，搜索结果中找到编辑器，点击即可进入编辑器页面</p>
                </section>
            </section>
        </section>
    </section>
</section>
