<section style="position:static;box-sizing: border-box;">
    <section style="border: 28px solid rgb(255, 129, 36); border-style:solid;-webkit-border-image: url(http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkdramJnOEJhcmZ6YlB4ZnpwUUV3MkhHbDY1eEhHaWFhTWlhSTRkS2RVcjBoSEpaUjBVOWdScDRPMHBCWlZyNkdVbXNhVzFVOFlBUTIzQS8wP3d4X2ZtdD1wbmc=) 28;padding: 10px;">
        <p style="text-align: left;"><span style="color:#4C4C4C; font-size:14px">从别的地方粘贴到编辑器的内容，请将格式全部清除，否则容易出现样式无法调整或者错乱的情况</span></p>
    </section>
</section>
