<section style="position:static;box-sizing: border-box;">
    <section style="border: 0px rgb(255, 129, 36); margin:1em auto;">
        <section style="border: 28px solid rgb(255, 129, 36); border-style:solid;-webkit-border-image: url(http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkdGVzFxcldrNVFGdUFVdk81TmlhYlYzbEZKV3FnT1ZiYmg1STJHVnVJZG1RNHNGQ3VXaWNHNkhHU0tTWGJwaWNWYW1uMDVLaGlhcDRyaWNzQS8wP3d4X2ZtdD1wbmc=) 28; margin-top: 1em; font-size: 16px; color: rgb(255, 129, 36); line-height: 1.4; text-align: left;">
            <p><span style="color:#4C4C4C; font-size:14px">最近出现图片不显示的问题，请ctrl+f5强刷后，再点击右侧的复制按钮复制粘贴到微信。部分图片同步出现问题，请暂时通过复制的方式复制到微信去，此问题编辑器正在修复，给大家带来不便非常抱歉。</span></p>
        </section>
    </section>
</section>
