<section style="position:static;box-sizing: border-box;">
    <section style="margin: 5px auto;">
        <section style="height:1em;">
            <section style="height: 100%; width: 1.5em; float: left; border-top-width: 0.15em; border-top-style: solid; border-color: rgb(198, 198, 199); border-left-width: 0.15em; border-left-style: solid;"></section>
            <section style="height: 100%; width: 1.5em; float: right; border-top-width: 0.15em; border-top-style: solid; border-color: rgb(198, 198, 199); border-right-width: 0.15em; border-right-style: solid;"></section>
        </section>
        <section style="margin: -0.9em 0.1em; padding: 0.8em; box-sizing: border-box; color: rgb(131, 87, 87); background-color: rgb(247, 247, 248);">
            <section style="color: rgb(51, 51, 51); font-size: 1em; line-height: 1.4; word-break: break-all; word-wrap: break-word; text-align: left;">
                <p><span style="font-size: 14px;">感情最怕的就是自私，可是人心不像纸箱，会被逐渐填满，如果你爱得更多，心的容量也会变得越来越大。——《她》</span></p>
            </section>
        </section>
        <section style="height: 1em; box-sizing: border-box;">
            <section style="height: 100%; width: 1.5em; float: left; border-bottom-width: 0.15em; border-bottom-style: solid; border-color: rgb(198, 198, 199); border-left-width: 0.15em; border-left-style: solid; box-sizing: border-box;"></section>
            <section style="height: 100%; width: 1.5em; float: right; border-bottom-width: 0.15em; border-bottom-style: solid; border-color: rgb(198, 198, 199); border-right-width: 0.15em; border-right-style: solid; box-sizing: border-box;"></section>
        </section>
    </section>
</section>
