<section style="position:static;box-sizing: border-box;">
    <section style="margin-top: 0.5em; margin-bottom: 0.5em; padding-left: 0.5em; padding-right: 0.5em; text-align: center; position: static;">
        <section style="position: static;transform: rotate(0.1deg);-webkit-transform: rotate(0.1deg);-moz-transform: rotate(0.1deg);-o-transform: rotate(0.1deg);box-sizing: border-box;"><img style="width: 2.2em; margin-bottom: -1.4em; vertical-align: middle;" src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei9jWlYyaFJwdUFQaWFpY211RWlidzVTS1BrSGxQVUZuVFY1Mm41RENRVTlNYWlhazJCckg5a3hxeVNHbXFDOHJPQk9pYzZLdU1NSHBQelpUaWNmeE9pYXlqRWliREFnLzA="></section>
        <section style="padding: 7%; box-shadow: rgb(204, 204, 204) 0.3em 0.3em 0.3em; width: 90%; margin-right: auto; margin-left: auto; background-color: rgb(239, 239, 239);">
            <section class="135brush">
                <p>请输入正文</p>
            </section>
        </section>
    </section>
</section>
