<section style="position:static;box-sizing: border-box;">
    <section style="float: left; margin:0 15px 10px;color: inherit;">
        <p style="color: inherit;line-height:72px;"><span class="135brush" style="color:rgb(95, 156, 239); font-size:72px">08</span></p>
        <p style="color:#999;"><span style="color:inherit; font-size:24px">Jan,2015</span></p>
    </section>
    <section style="margin: 24px 5px -20px -8px; padding: 0px; border-right-width: 5px; border-left-width: 0px; border-right-style: solid; border-right-color: rgb(95, 156, 239); border-left-color: rgb(95, 156, 239); display: inline-block; max-width: 100%; height: 5px; width: 5px; vertical-align: top; float: left;  border-bottom-width: 5px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important; word-wrap: break-word !important; box-sizing: border-box !important;"></section>
    <section style="margin-left: 125px; line-height: 1.75em; color: rgb(255, 255, 255); padding: 15px; border-radius: 5px; background: rgb(95, 156, 239);"><span style="font-size:14px">提子平台是一个互联网运营平台，为运营者提供图文编辑工具，运营经验，收录公众号，定制开发微网站等服务，让运营更轻松高效。</span></section>
</section>
