<section style="position:static;box-sizing: border-box;">
    <section style="margin-top: 50px; padding: 10px; color: rgb(110, 156, 40); border-radius: 15px; border-color: rgb(189, 246, 103); background-color: rgb(229, 243, 208);">
        <section style="padding: 15px 10px; color: inherit; margin: 0px; border-color: rgb(229, 243, 208);">
            <section style="margin-top: -65px; color: inherit; padding: 0px; float: right; clear: none; border-color: rgb(229, 243, 208);"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkhYSTVla29LUjFpY0E5bjJ0SU4yTWFmbEJpYWNpYzJBWkJDcUh3Y1dZalFNYUNrZlhNUGROSXdsUmRVakZSYnlJUkh6ZEFCNGlhSHgzemlhdy8wP3d4X2ZtdD1naWY=" style="border-color: rgb(229, 243, 208); color: inherit; padding: 0px; margin: 0px;" title="4FP06VJH0fw.gif" alt="4FP06VJH0fw.gif" width="" height="" border="0"></section>
            <section style="margin-top: -65px; color: inherit; padding: 0px; clear: none; border-color: rgb(229, 243, 208);"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkhueXBGRWd2UXJpY3NrYTJUTGhadU5NaWM1dXB1dTB6aWNrUGlid2FEdk42bG1neGRXM2hLdnQwTVdpYk9hazRNSDlLYU1ySTVneHczcjhZUS8wP3d4X2ZtdD1naWY=" style="border-color:rgb(229, 243, 208); color:inherit; margin:0px; padding:0px"></section>
            <section style="padding: 10px; margin: 0px; border-color: rgb(229, 243, 208); color: inherit;">
                <p style="text-align: center; line-height: 2em; border-color: rgb(229, 243, 208); color: inherit;"><span style="border-color:#E5F3D0; color:inherit; font-size:20px">祝大家端午节快乐~</span></p>
                <p style="text-align: center; line-height: 2em; border-color: rgb(229, 243, 208); color: inherit;"><span style="border-color:#E5F3D0; color:inherit; font-size:20px">也祝全天下的父亲，节日快乐~</span></p>
            </section>
        </section>
    </section>
    <section style="margin-top: -2px;">
        <section style="width: 10px; height: 30px; margin-left: 40px; float: left; color: rgb(110, 156, 40); border-color: rgb(189, 246, 103); background-color: rgb(229, 243, 208);"></section>
        <section style="width: 10px; height: 30px; margin-right: 40px; float: right; color: rgb(110, 156, 40); border-color: rgb(189, 246, 103); background-color: rgb(229, 243, 208);"></section>
        <section style="width: 0px; height: 0px; clear: both; color: inherit;"></section>
    </section>
</section>
