<section style="position:static;box-sizing: border-box;">
    <section style="margin:0 auto">
        <section style="border: 2px solid rgb(33,33,34);padding: 10px 0px;width: 100%;display:inline-block;">
            <section style="float:right;margin-right: 15px;">
                <p style="font-size:60px;font-weight:bold;">01</p>
            </section>
            <section style="display: block; width: 0; height: 0; clear: both;"></section>
            <section style="margin-top:20px;display: inline-block;border-bottom: 1px solid rgb(33,33,34);padding: 4px 20px;">
                <section style="width:25px;height:25px;border-radius:50%;background-color:rgb(33,33,34);display:inline-block;">
                    <p style="text-align:center;font-weight:1000;"><span style="color: #FFFFFF;font-size:20px;">♪</span></p>
                </section>
                <section style="display:inline-block;padding-left:10px;vertical-align: top;">
                    <p style="text-align:center;line-height: 1.75em;"><strong><span style="color: #000000; font-size: 16px;">民 谣 &nbsp;</span></strong><span style="color: #000000; font-size: 16px;">MínYáo</span></p>
                </section>
            </section>
            <section style="margin-top:10px;padding: 20px;">
                <p style="text-align: center; line-height: 2em;"><span style="color: #000000; font-size: 16px;">民谣表现一个民族的感情与习尚，</span></p>
                <p style="text-align: center; line-height: 2em;"><span style="color: #000000; font-size: 16px;">因此各有其独特的音阶与情调风格</span></p>
            </section>
        </section>
    </section>
</section>
