<section style="position:static;box-sizing: border-box;">
    <section style="font-size: 16px; white-space: normal; margin:10px 0px; border: 1px solid rgb(201, 201, 201); text-align: center;">
        <section style="border: 0.1em solid rgb(255, 202, 0); margin: 1em auto; width: 12em; height: 12em; border-radius: 6em;">
            <section style="display: table; max-height: 11em; background-color: rgb(255, 202, 0); border-radius: 5.5em; height: 11em; width: 11em; margin: 0.5em;">
                <section style="display: table-cell; vertical-align: middle; max-height: 11em; margin: 1em; padding: 1em; color: rgb(255, 255, 255); font-size: 1.5em; line-height: 1.2em; ">
                    <br>编辑器</section>
            </section>
        </section>
        <section style="display: inline-block; color: white; background-color: rgb(255, 202, 0); line-height: 1em; border-radius: 1em; margin: 1em 1em 2em; max-width: 100%; padding: 0.5em 1em; font-size: 1em;">
            <p>编辑器，您的微信文章可以更精彩！</p>
        </section>
    </section>
</section>
