<section style="position:static;box-sizing: border-box;">
    <section style="color: rgb(255, 255, 255);margin-left: -8px; font-style: inherit; text-decoration: inherit;  background-color: transparent;margin-top: 15px;">
        <section style="box-sizing: border-box;"><span style="border-radius: 0px 0.5em 0.5em 0px; box-sizing: border-box; display: inline-block; font-size: 15px; padding: 0.3em 0.5em; color: #FFFFFF; background-color: #F30C38;"><strong>编辑器</strong> </span></section>
        <section style="font-weight: inherit; width: 0px; border-right-width: 4px; border-right-style: solid; border-top-width: 4px; border-top-style: solid; border-top-color: rgb(19,19,19); border-right-color: rgb(19,19,19); box-sizing: border-box; border-left-width: 4px !important; border-left-style: solid !important; border-left-color: transparent !important; border-bottom-width: 4px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;"></section>
    </section>
    <section style="overflow: hidden;margin: -3.6em 0px 0px;">
        <section style="width: 9em; height: 2em; line-height: 2em; margin: 1em -2.5em -4em 0px; text-align: center; color: rgb(255, 255, 255); transform: rotate(45deg);-webkit-transform: rotate(45deg);float: right; background-color: rgb(243, 12, 56);box-shadow: rgb(200,200,200)8px 4px 14px;"></section>
        <section style="padding: 55px 8px 10px; border-width: 1px 6px 4px; border-style: solid; border-color: rgb(243, 12, 56); border-radius: 8px;">
            <p style="box-sizing: border-box; line-height: 1.75em;"><span style="line-height: 25.6px; font-size: 14px;">无论听来多么平凡的爱情，那都是属于他们的、独一无二的史诗，是他们自己的桃花源传说。 from 张佳玮《爱情故事》</span></p>
        </section>
    </section>
</section>
