<section style="position:static;box-sizing: border-box;">
    <section style="background-color: rgb(89, 195, 249); padding: 20px; ">
        <section style="padding: 10px; color: rgb(255, 255, 255);  margin: 0px; background: rgb(89, 195, 249);border: 2px solid rgba(254,254,254,0.8);">
            <section style="border: 0px; box-sizing: border-box; width: 100%; clear: both;  padding: 0px; text-align: center; color: rgb(255,255,255);height:60px">
                <section style="box-sizing: border-box; width: 42%; float: left; padding:3px 0px; text-align: right; color: inherit;">
                    <section style="color: inherit;padding:0px;">
                        <p style="box-sizing: border-box; margin-right: 0.2em; padding: 3px 0px 0px 0px; color:inherit; line-height: 1.3em; text-align: right; font-size: 18px;  border-color: rgb(172, 29, 16);"><strong><span style="border-color:rgb(172, 29, 16); color:inherit; font-size:18px">SAVE</span></strong></p>
                        <p style="box-sizing: border-box; margin-right: 0.2em; padding: 0px 0px 3px 0px; line-height: 1.2em; text-align: right; font-size: 18px; text-indent: 0em; border-color: rgb(172, 29, 16);"><strong><span style="border-color:rgb(172, 29, 16); color:inherit; font-size:18px">UPTO</span></strong></p>
                    </section>
                </section>
                <section style="display: inline-block; width: 58%; box-sizing: border-box; float: right; padding: 0px; text-align: left; color: inherit;">
                    <section style="color: inherit;height:60px">
                        <p style="box-sizing: border-box; margin-right: 0.2em; padding: 3px 0px; color: inherit; line-height: 3.5em; text-align: left;border-color: rgb(172, 29, 16);"><span style="color:inherit"><strong><span style="border-color:rgb(172, 29, 16); color:inherit; font-size:55px">50%</span></strong>
                            </span>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
