<section style="position:static;box-sizing: border-box;">
    <section style="margin: 0px auto;">
        <section style="border:62px solid rgb(255, 129, 36); border-style:solid;-webkit-border-image: url(http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei96aWFkRERReGJDSkZ1TXo0VFoxQWtKT1BtMThiUHJYNkJMWWNhM3YxVjJhSGlhWjcxS3o2RlFOYWNoMnljR0FoN21sM1ZzcDcyTGt2Y1d3OW53bXVxZmljQS8w) 90; padding:5px;">
            <p style="text-align: justify;"><span style="color:#4C4C4C; font-size:14px">你的过去我不愿过问，那是你的事情。</span></p>
            <p style="text-align: justify;"><span style="color:#4C4C4C; font-size:14px">你的未来我希望参与，这是我的荣幸。</span></p>
            <p style="text-align: justify;"><span style="color:#4C4C4C; font-size:14px">from《神探夏洛克》</span></p>
        </section>
    </section>
</section>
