<section style="position:static;box-sizing: border-box;">
    <section style="text-align:center;">
        <section style="display:inline-block;">
            <section style="width: 0px; height: 0px; text-align: center; border-left-width: 5em; border-left-style: solid; border-left-color: transparent; border-right-width: 5em; border-right-style: solid; border-right-color: transparent; border-top-width: 10em; border-top-style: solid; border-top-color: rgb(198, 198, 199);"></section>
            <section style="width: 0px;height: 0px;text-align: center;border-left: 4.9em solid transparent;border-right: 4.9em solid transparent;border-top: 9.75em solid rgb(254,254,254);margin-top: -9.95em;margin-left: 0.15em;"></section>
        </section>
        <section style="margin-top: -102px;margin-bottom:50px;">
            <section style=" padding: 0px 5px 0px;display:inline-block;background-color:rgb(254,254,254);font-weight:100;"><span style="vertical-align: middle; color: #7F7F7F; font-size: 32px;" class="135brush">喜欢请点赞</span></section>
        </section>
    </section>
</section>
