<section style="position:static;box-sizing: border-box;">
    <section style="margin:4.5em auto 1em;text-align: center;">
        <section style="-ms-transform: rotate(8deg);-moz-transform: rotate(5deg); -webkit-transform:rotate(5deg); -o-transform: rotate(5deg);transform: rotate(5deg);margin-top: -2.4em;display: inline-block;box-shadow:rgb(117, 117, 117) 2px 2px 10px">
            <section style="border: 1px solid rgb(206, 192, 192);">
                <section style="width:16em;height: 2em;position: relative;z-index: 9;margin: auto;-ms-transform: rotate(-39deg);-moz-transform: rotate(-39deg); -webkit-transform:rotate(-39deg); -o-transform: rotate(-39deg);transform: rotate(-39deg);margin-left: -13em;display: inline-block;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei9seHViVWJpYzZYU1dwb3VRWlJyWXNpYnZuc25TM3FYaWFQdlB6MlBtbExCemRsdVFTaWNWTlpXZkFLaWEySHpmTk51a1FTOHcwa0RIZDVaQ3ZCb2RCVmpBeVN3LzA/d3hfZm10PXBuZw==" style="width: 98px; height: 28px;"></section>
                <section style=" width: 15em;padding: 0em 1em 2em 2em;-ms-transform: rotate(-6deg);-moz-transform: rotate(-6deg); -webkit-transform: rotate(-6deg); -o-transform: rotate(-6deg);transform: rotate(-6deg);margin-top: -2em;text-align:justify;margin:auto">
                    <p><span style="font-size:14px;">我头上有犄角！犄角！犄角！我身后有尾巴！尾巴！尾巴！·····</span></p>
                </section>
            </section>
        </section>
    </section>
</section>
