<section style="position:static;box-sizing: border-box;">
    <section style="border: 0px none; margin: 0px; padding: 0px;">
        <section style=" background-color:rgb(254,254,254);padding: 0px; border:2px solid rgb(198, 198, 199); color: rgb(0, 0, 0); font-size: 14px; margin:25px 15px;">
            <section style="padding: 0px; margin: -8px -8px 4px 4px; border: 2px solid rgb(198, 198, 199); color: inherit; background-color:rgb(255,255,255);">
                <section style="background-color:inherit;padding: 15px; margin: -8px -8px 4px 4px; border:2px solid rgb(198, 198, 199); color: inherit; ">
                    <p style="line-height: 24px; text-align: center; color: rgb(70, 70, 72); border-color: rgb(198, 198, 199); "><span style="color:#7F7F7F; font-size:20px; letter-spacing:5px; word-spacing:5px"><strong>BianJiQi.com</strong></span></p>
                </section>
            </section>
        </section>
    </section>
</section>
