<section style="position:static;box-sizing: border-box;">
    <section style="border:1px solid #ccc;padding:3px;">
        <section style="padding: 15px; color: rgb(255, 255, 255); border-color: rgb(89, 195, 249); background: rgb(89, 195, 249);">
            <p style="text-align: center; color: inherit;">
                <br>
            </p>
            <p style="text-align: center; color: inherit;">
                <br>
            </p>
            <p style="text-align: center; color: inherit;"><strong style="color:inherit"><span style="color:inherit; font-size:24px">高薪招聘</span></strong></p>
            <p style="text-align: center; color: inherit;">好工作就在此</p>
            <p style="text-align: center; color: inherit;">
                <br>
            </p>
            <p style="text-align: center; color: inherit;">
                <br>
            </p>
        </section>
        <section style="box-sizing: border-box; padding: 9px; color: rgb(85, 85, 85); overflow-y: hidden;font-size: 14px; line-height: 20px; text-align: center;">
            <h3 style="box-sizing: border-box; font-weight: 500; line-height: 1.1; color: inherit; margin-top: 20px; margin-bottom: 10px; font-size: 24px;"></h3>
            <h3 style="box-sizing: border-box; font-weight: 500; line-height: 1.1; color: inherit; margin-top: 20px; margin-bottom: 10px; font-size: 24px;">招聘求职<br style="box-sizing: border-box; color: inherit;"><small style="box-sizing: border-box; font-size: 16px; line-height: 1; color: rgb(119, 119, 119);">高薪工作</small></h3>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; color: inherit;">正在高薪招聘<span style="border-color:rgb(89, 195, 249); color:rgb(89, 195, 249)">PHP开发工程师</span>，<span style="border-color:rgb(89, 195, 249); color:rgb(89, 195, 249)">网页设计师</span>以及<span style="border-color:rgb(89, 195, 249); color:rgb(89, 195, 249)">网页制作</span>，欢迎感兴趣的朋友投递和推荐简历至<strong style="color:inherit">service@tizikeji.com</strong>！</p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; color: inherit;">
                <br>
            </p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; color: inherit;">
                <br>
            </p>
        </section>
    </section>
</section>
