<section style="position:static;box-sizing: border-box;">
    <section style="margin-top: 10px; margin-bottom: 10px; padding: 3px; font-family: 微软雅黑; color: rgb(255, 255, 255); background-color: rgb(194, 205, 7);">
        <section style="box-sizing: border-box; background-color: rgb(255, 255, 255); display: inline-block; width: 100%;">
            <section><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTeHdqdlI4UXV6RzdVaWJVd2xXQVVCNWhmQmNzQUZpYjFROEJNM3RkYnZpY051d0dwcE1XaWJYNEJMdy8wP3d4X2ZtdD1qcGVn" style="margin: 0px; width: 100% !important; visibility: visible !important; height: auto !important;" width="100%" height="auto" border="0"></section>
            <section style="margin-top: -60px; -webkit-transform: rotate(0deg); background-image: url(http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei9DSXRSTHRabEhuQTAzcWpGbmhPWGZsOGljVEJ3cjczOUJGRTVpY1B4T2hwV1Y4dENzV1paY0ZrUG00RWJmcEpRRUpycWNKb29HS0N5T3NMWmZtaWNTUm5tQS8wP3d4X2ZtdD1wbmc=); background-size: 100%; height: 60px; background-repeat: no-repeat no-repeat;"></section>
            <section style="margin-right: 20px; margin-left: 20px;">
                <p><span style="color: #7F7F7F;"><strong><span style="font-size: 24px;">《Her》</span></strong><span style="font-size: 16px;">(台词)</span></span>
                </p>
            </section>
            <section style="margin-top: 10px; margin-bottom: 10px; display: inline-block; width: 100%;">
                <section style="margin-right: 20px; margin-left: 20px; border-bottom-width: 1px; border-bottom-style: dashed; border-color: rgb(194, 205, 7) rgb(194, 205, 7) rgb(102, 102, 102);"></section>
            </section>
            <section style="margin: 10px 20px; text-align: justify; color: rgb(102, 102, 102);">
                <p>感情最怕的就是自私，可是人心不像纸箱，会被逐渐填满，如果你爱得更多，心的容量也会变得越来越大。</p>
            </section>
        </section>
    </section>
</section>
