<section style="position:static;box-sizing: border-box;">
    <section style="text-align:center;">
        <section style="display: inline-block; color: rgb(189, 80, 0); background-color: rgb(255, 217, 189);">
            <section style="padding: 8px 8px 0px 0px;background-image:repeating-linear-gradient(-45deg, transparent, transparent 1px, rgb(255, 255, 255) 4px, rgb(255, 255, 255) 8px);">
                <section style="padding: 6px 20px; color: rgb(255, 255, 255); background-color: rgb(255, 129, 36);">
                    <p><span style="color: #FFFFFF;">双十一活动</span></p>
                </section>
            </section>
        </section>
        <section style="padding:40px 20px 20px 20px;background-color: rgb(252,252,252);margin-top: -20px;border-right: 1px solid rgb(182,182,182);border-bottom: 1px solid rgb(182,182,182);">
            <p style="text-align: center;">双十一特大优惠了！</p>
            <p style="text-align: center;">初级会员只需要<span style="font-size: 20px;">11.11</span></p>
            <p style="text-align: center;">活动时间：11.4~11.18</p>
        </section>
    </section>
</section>
