<section style="position:static;box-sizing: border-box;">
    <section style="font-size: 14px; line-height: 22.39px;margin: 10px 0px; padding:15px 20px 15px 45px; outline: 0px; border: 0px currentcolor; color: rgb(62, 62, 62); vertical-align: baseline; background-image: url(http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkhYSTVla29LUjFpY0E5bjJ0SU4yTWFmUno0Wk1sYlo5VkpJUHlIVnZBMzYyMlY5TTRvcHAwS2liV0c2Rjc4SGRjSE9BQlFiaWMxa3JmUHcvMD93eF9mbXQ9anBlZw==); background-color: rgb(241, 241, 241); background-position: 1% 5px; background-repeat: no-repeat no-repeat;">
        <p style="text-align:left;">这里插入分号引用样式的内容。</p>
    </section>
</section>
