<div>
<div class="frame_title">
    <p>系统提示</p>
    <a class="frame_cancel" ng-click="cancel();"></a>
</div>
<div class="delete_account_count">
    <div class="delete_tip">
        <img src="common/images/delete_tip_img_03.png" alt="" width="128" height="106"/>
        <p>是否删除？</p>
    </div>
    <div class="delete_btn">
        <div class="tz-tk-btn">
            <a class="delete_btn_confirm" ng-click="ok();">确定</a>
            <a class="delete_btn_delete" ng-click="cancel();">取消</a>
        </div>
    </div>
</div>
</div>