<div class="man_produ_modify">
    <div class="man_produ_modify_head">
        <p>请输入用户登录密码</p>
        <img src="./editingCenter/app/toBeCompiled/images/cls.jpg" class="edit_revoke_thead_images1" ng-click="cancel()" />
    </div>
    <div class="man_produ_column_delete">
        <span>登录用户密码：</span>
        <input type="password" ng-model="password" class="form-control" />
    </div>
    <div class="man_produ_delete_footer">
        <button class="news-role-btn man_produ_delete_footer_cancel btn_confirm" ng-click="confirm()">确定</button>
        <button class="news-role-btn btn_cancel" ng-click="cancel()">取消</button>
    </div>
</div>
