.toBeCompiled-directSign-window .modal-content {
    width: 300px;
    background: #DDD;
    top: 205px;
    margin: 0px auto;
}

.toBeCompiled-directSign-container {
    width: 294px;
    background: #FFF;
    margin: 2px 2px;
    border-radius: 6px;
}

.toBeCompiled-directSign-body {
    overflow: hidden;
    background: #f1f2f4;
    height: 78px;
    line-height: 78px;
}
.toBeCompiled-directSign-body p span{
    color: red;
}

.toBeCompiled-directSign-body p {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    text-align: center;
}
.toBeCompiled-directSign-footer{
	background: #f1f2f4;
	padding-bottom: 26px;
}
.toBeCompiled-directSign-footer .new-role-btn {
    width: 64px;
    height: 24px;
    line-height: 24px;
    background: #4496d2;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: 12px;
}

.toBeCompiled-directSign-footer .ml140 {
    margin-left:140px;
}
