<section style="position:static;box-sizing: border-box;">
    <section>
        <section>
            <section>
                <section style="width: 50%; display: inline-block; float: left;">
                    <section style="padding: 20px 12px; min-height: 140px; text-align: center; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(0, 0, 0); background-image: initial; background-attachment: initial; background-color: rgb(255, 255, 255); background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <p style="color: inherit;line-height:2em"><span style="color:rgb(0, 0, 0)">如果我会发光，</span></p>
                        <p style="color: inherit;line-height:2em"><span style="color:rgb(0, 0, 0)">就不必害怕黑暗,</span></p>
                        <p style="color: inherit;line-height:2em">如果我自己是那么美好，</p>
                        <p style="color: inherit;line-height:2em">那么一切恐惧都会烟消云散</p>
                    </section>
                </section>
                <section style="color: inherit; margin-left: 0px; width: 50%; display: inline-block; text-align: center;">
                    <section style="padding: 20px 12px; min-height: 140px; color: inherit; background: rgb(255,255,255);border-bottom:1px solid rgb(0,0,0)">
                        <p style="color: inherit;"><span style="color:inherit; line-height:2em">如果我会发光，</span></p>
                        <p style="line-height: 2em; color: inherit; text-align: center; white-space: normal;">就不必害怕黑暗,</p>
                        <p style="line-height: 2em; color: inherit; text-align: center; white-space: normal;">如果我自己是那么美好，</p>
                        <p style="line-height: 2em; color: inherit; text-align: center; white-space: normal;">那么一切恐惧都会烟消云散</p>
                    </section>
                </section>
            </section>
        </section>
        <section style="border: 0px none; padding: 0px;">
            <section style=" color: #FFF;    margin-top: 0px;">
                <section style="width: 50%; display: inline-block; float: left; color: inherit;">
                    <section style="padding: 20px 12px; min-height: 140px;text-align: center; color: inherit; background: rgb(255,255,255);border-right:1px solid rgb(0,0,0)">
                        <p style="color: inherit;"><span style="color:rgb(0, 0, 0); line-height:2em">如果我会发光，</span></p>
                        <p style="line-height: 2em; color: inherit; text-align: center; white-space: normal;"><span style="color:rgb(0, 0, 0)">就不必害怕黑暗,</span></p>
                        <p style="line-height: 2em; color: inherit; text-align: center; white-space: normal;"><span style="color:rgb(0, 0, 0)">如果我自己是那么美好，</span></p>
                        <p style="line-height: 2em; color: inherit; text-align: center; white-space: normal;"><span style="color:rgb(0, 0, 0)">那么一切恐惧都会烟消云散</span></p>
                    </section>
                </section>
                <section style="margin-left: 0px; width: 50%; display: inline-block; text-align: center; color: inherit;">
                    <section style="padding: 20px 12px; min-height: 140px;color: inherit; background: rgb(255,255,255);">
                        <p style="color: inherit;"><span style="color:rgb(0, 0, 0); line-height:2em">如果我会发光，</span></p>
                        <p style="line-height: 2em; color: inherit; text-align: center; white-space: normal;"><span style="color:rgb(0, 0, 0)">就不必害怕黑暗,</span></p>
                        <p style="line-height: 2em; color: inherit; text-align: center; white-space: normal;"><span style="color:rgb(0, 0, 0)">如果我自己是那么美好，</span></p>
                        <p style="line-height: 2em; color: inherit; text-align: center; white-space: normal;"><span style="color:rgb(0, 0, 0)">那么一切恐惧都会烟消云散</span></p>
                    </section>
                </section>
                <p style="height: 2px; color: inherit;">
                    <br>
                </p>
            </section>
        </section>
    </section>
</section>
