<section style="position:static;box-sizing: border-box;">
    <h3 style="text-align: center; padding: 0px; margin: 0px;"></h3>
    <section style="border: 0px none; padding: 0px; margin: 0px;">
        <h2 style="padding-bottom: 9px; border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(235, 103, 148) rgb(235, 103, 148) rgb(238, 238, 238); margin-bottom: 10px; font-weight: 500; line-height: 1.1; font-size: 22px; text-align: center;">左右分栏内容</h2></section>
    <section style="border: 0px; width: 100%; clear: both; overflow: hidden; padding: 0px; color: inherit; margin: 0px;">
        <section style="width: 50%; float: left; padding: 0px 0.8em 0px 0px; color: inherit; line-height: 1.75em; margin: 0px;">
            <p style="padding: 0px; text-align: justify;">定时群发功能怎么搞？选好素材，定好时，等着发送就是了。不过<span style="color:rgb(255, 0, 0); margin:0px; padding:0px">只有授权给135的认证公众号才可以使用定时群发功能</span>， 功能免费，去个人中心找吧。</p>
        </section>
        <section style="width: 50%; float: right; padding: 0px 0px 0px 0.8em; color: inherit; line-height: 1.75em; margin: 0px;">
            <p style="padding: 0px; text-align: justify;">推送的实际时间不一定能完全按照时间发送，同一时间点配置的太多时，可能有几分钟的延后。</p>
            <p style="padding: 0px; text-align: justify;">左右分栏文字内容适合两端对齐方式。</p>
        </section>
    </section>
</section>
