<section style="position:static;box-sizing: border-box;">
    <section style="margin-top:5px;">
        <section style="width:50%;display:inline-block;float:left;">
            <section style="padding:20px 25px;border:1px solid #e7e7e7;text-align:center;">
                <p><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTeHdqdlI4UXV6RzdVaWJVd2xXQVVCNWhmQmNzQUZpYjFROEJNM3RkYnZpY051d0dwcE1XaWJYNEJMdy8wP3d4X2ZtdD1qcGVn" style="margin: 0px 0px 15px; height: 50px !important;" width="" height="50" border="0" opacity="" mapurl="" title="" alt=""></p>
                <h3 style="font-size:16px;font-weight:bold;margin:0 0 10px 0;">135编辑器</h3>
                <section>
                    <p style="clear:none;margin:0 0;line-height:1.5em;">生而排版</p>
                    <p style="clear:none;margin:0 0;line-height:1.5em;"><span style="text-align:center">为你而美</span></p>
                </section>
            </section>
        </section>
        <section style="width:50%;display:inline-block;text-align:center;">
            <section style="padding:20px 25px;border:1px solid #e7e7e7;">
                <p><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTeHdqdlI4UXV6RzdVaWJVd2xXQVVCNWhmQmNzQUZpYjFROEJNM3RkYnZpY051d0dwcE1XaWJYNEJMdy8wP3d4X2ZtdD1qcGVn" style="margin: 0px 0px 15px; height: 50px !important;" width="" height="50" border="0" opacity="" mapurl="" title="" alt=""></p>
                <h3 style="font-size:16px;font-weight:bold;margin:0 0 10px 0;">秒刷</h3>
                <section>
                    <p style="clear:none;margin:0 0;line-height:1.5em;">一键排版</p>
                    <p style="clear:none;margin:0 0;line-height:1.5em;">珍惜生命</p>
                </section>
            </section>
        </section>
    </section>
</section>
