<section style="position:static;box-sizing: border-box;">
    <section style="border: 0px; width: 100%; padding: 0px; color: inherit; margin: 0px; clear: both;">
        <section style="border: 0px none; width: 33%; float: left; padding: 0px;">
            <section style="color: inherit; margin: 0px; padding: 0px 8px; ">
                <p style="text-align: center; line-height: 1.5em;">第一栏</p>
                <p style="text-align:center;line-height: 1.5em;">请输入内容</p>
            </section>
        </section>
        <section style="border: 0px none; width: 67%; float: left; padding: 0px;">
            <section style="border: 0px none;  width: 50%; float: left; padding: 0px;">
                <section style="color: inherit;margin: 0px; padding: 0px 8px;">
                    <p style="text-align:center;line-height: 1.5em;">第二栏</p>
                    <p style="text-align:center; line-height: 1.5em;">请输入内容</p>
                </section>
            </section>
            <section style="border: 0px none;  width: 50%; float: left; padding: 0px;">
                <section style="color: inherit;margin: 0px;padding: 0px 8px;">
                    <p style="text-align:center;line-height: 1.5em;">第三栏</p>
                    <p style="text-align:center;line-height: 1.5em;">请输入内容</p>
                </section>
            </section>
        </section>
    </section>
    <section style="clear:both;"></section>
</section>
