<div class="editing-operate-lst">
    <ul>
        <a href="javascript:void(0)" ng-click="rejectionDraft(item)" ng-if="data.btnRights['web.daishen.tuigao']">退稿</a>
        <a href="javascript:void(0)" ng-click="shareDraft(item)" ng-if="data.btnRights['web.daishen.gongxiang']">共享</a>
        <a href="javascript:void(0)" ng-click="moveDraft(item)" ng-if="data.btnRights['web.daishen.yidong']">移动</a>
        <a href="javascript:void(0)" ng-click="copyDraft(item)" ng-if="data.btnRights['web.daishen.fuzhi']">复制</a>
        <a href="javascript:void(0)" ng-click="collectDraft(item)" ng-if="data.btnRights['web.daishen.shoucang']">收藏</a>
    </ul>
</div>
