<div>
    <div>
        <div style="float: left">
            <img ng-src="{{data.picture}}" width="64" height="64" />
        </div>
        <div style="float:left; margin-left: 5px">
            <div><span ng-bind-html="$highlight(data.name)"></span></div>
            <div style="margin-top: 5px">
                <div><span style="font-style: italic; font-size: 14px">{{data.realname}}</span></div>
                <div><span style="font-style: italic; font-size: 14px">{{data.city}}</span></div>
            </div>
        </div>
    </div>
</div>
