<div class="product-manage-left-content">
    <div class="container-fluid editing-list">
        <div class="container-fluid editing-list">
            <tabset justified="true" class="editing-nav">
                <tab ng-if="configureAccess.product.paper" heading="报纸" class="product-manage-nav-paper" active="status.data.newspaper.isSelectedTab" ng-click="setTabSelected('newspaper')">
                    <accordion class="iwo_accordion" close-others="false">
                        <accordion-group ng-click="setPmmNewspaperSelectedChnl(item)" is-disabled="true" ng-class="{'iWo-left-accordion-active':status.data.newspaper.selectedItem == 'newspapermgr'}" ng-repeat="item in status.data.newspaper.items">
                            <accordion-heading>
                                <div class="pmm-left-accordion">
                                    <div ng-class="{'pmm-left-accordion-active':status.data.newspaper.selectedItem == item}">
                                        <a title="{{item.SITEDESC}}" class="ml0 pmm-left-item" ui-sref="manageconfig.productmanage.newspaper({stauts:0})" ng-bind="item.SITEDESC | trsLimitTo:10"></a>
                                    </div>
                                </div>
                            </accordion-heading>
                        </accordion-group>
                    </accordion>
                </tab>
                <tab ng-if="configureAccess.product.website" heading="网站" class="editing-nav-website" active="status.data.website.isSelectedTab" ng-click="setTabSelected('website')">
                    <div class="editing-downlist">
                        <div class="tab-content" trs-scrollbar>
                            <treecontrol selected-node="selectedNode" class="tree-classic" expanded-nodes="treeExpanded" on-node-toggle="showToggle(node,1)" tree-model="treedata" on-selection="showSelected(node)" options="treeOpts">
                                <b ng-mouseenter="treeEyes(node,true,$even)" ng-mouseleave="treeEyes(node,false,$even)" ng-show="node.flag" class="tree-branch-head" ng-class="[mouseEye()]" ng-click="websiteChannelPreview(node)"></b> {{node.CHNLDESC}}
                            </treecontrol>
                        </div>
                        <div ng-if="status.isAdministrator" class="pmm-left-accordion-add">
                            <a class="addSite" ng-click="addFnWebsite()">+</a>
                        </div>
                    </div>
                    <!-- <accordion class="iwo_accordion" close-others="false">
                        <accordion-group ng-click="status.data.website.selectedItem = item" is-disabled="true" ng-repeat="item in status.data.website.items">
                            <accordion-heading>
                                <div class="pmm-left-accordion">
                                    <div ng-class="{'pmm-left-accordion-active':status.data.website.selectedItem.SITEID==item.SITEID}">
                                        <a title="{{item.SITEDESC}}" class="ml0 pmm-left-item" ui-sref="manageconfig.productmanage.website.site({site:item.SITEID})" ng-bind="item.SITEDESC | trsLimitTo:10"></a>
                                    </div>
                                </div>
                            </accordion-heading>
                        </accordion-group>
                        <accordion-group is-disabled="true">
                            <accordion-heading>
                                <div class="pmm-left-accordion-add">
                                    <a ng-click="addFnWebsite()">+</a>
                                </div>
                            </accordion-heading>
                        </accordion-group>
                    </accordion> -->
                </tab>
                <tab ng-if="configureAccess.product.app" heading="APP" class="editing-nav-app" active="status.data.app.isSelectedTab" ng-click="setTabSelected('app')">
                    <!-- <accordion class="iwo_accordion" close-others="false">
                        <accordion-group ng-click="setPmmAppSelectedChnl(item)" is-disabled="true" ng-class="{'iWo-left-accordion-active':item == PmmAppChnlSelected}" ng-repeat="item in status.data.app.items">
                            <accordion-heading>
                                <div class="pmm-left-accordion">
                                    <div ng-class="{'pmm-left-accordion-active':item == PmmAppChnlSelected}">
                                        <a class="ml0 pmm-left-item" ng-bind="item.DOCNAME"></a>
                                    </div>
                                </div>
                            </accordion-heading>
                        </accordion-group>
                    </accordion> -->
                    <div class="editing-downlist">
                        <div class="tab-content" trs-scrollbar>
                            <treecontrol selected-node="selectedNode" class="tree-classic" expanded-nodes="treeExpanded" on-node-toggle="showToggle(node,1)" tree-model="apptreedata" on-selection="showSelected(node)" options="treeOpts">
                                <b ng-mouseenter="treeEyes(node,true,$even)" ng-mouseleave="treeEyes(node,false,$even)" ng-show="node.flag" class="tree-branch-head" ng-class="[mouseEye()]" ng-click="websiteChannelPreview(node)"></b> {{node.CHNLDESC}}
                            </treecontrol>
                        </div>
                        <div ng-if="status.isAdministrator" class="pmm-left-accordion-add">
                            <a class="addSite" ng-click="addFnApp()">+</a>
                        </div>
                    </div>
                </tab>
                <!--<div class="editing-more" ng-click="isTabWebsiteShow = !isTabWebsiteShow"></div>-->
                <!-- <button type="button" ng-click="status.isMoreTabListShow = !status.isMoreTabListShow" ng-class="{'editing-more-rotate':status.isMoreTabListShow}" class="editing-more" data-placement="right-bottom" data-auto-close="1" data-template-url="./editingCenter/service/moreTabList/moreTabList.html" data-animation="am-slide-left" bs-popover></button> -->
            </tabset>
        </div>
    </div>
</div>
