<form class="myzone-personalInfo-changePwd" name="changePwdForm" novalidate>
    <div class="changePwd_container">
        <div class="changePwd_form_container">
            <div class="changePwd_form_row">
                <p>用户名：</p>
                <div ng-bind="info.USERNAME">
                </div>
            </div>
            <div class="changePwd_form_row">
                <p>原密码：</p>
                <div class="invalidate-input-box">
                    <input type="password" class="form-control" ng-model="oldPwd" ng-mouseenter="isShowTipsB=true" ng-mouseleave="isShowTipsB=false" name="newPwd" is-show-tips="isShowTipsB"/>
                </div>
            </div>
            <div class="changePwd_form_row">
                <p>新密码：</p>
                <div class="invalidate-input-box">
                    <input type="password" class="form-control" ng-model="newPwd" maxlength-error-message="长度不能超过50个字符！" minlength-error-message="长度至少8个字符！" validator="minlength=8,maxlength=50,required,password"  ng-mouseenter="isShowTipsB=true" ng-mouseleave="isShowTipsB=false" name="newPwd" is-show-tips="isShowTipsB"/>
                </div>
            </div>
            <div class="changePwd_form_row">
                <p>确认密码：</p>
                <div class="invalidate-input-box">
                    <input type="password" class="form-control" ng-model="newPwdTwo"  maxlength-error-message="长度不能超过50个字符！" minlength-error-message="长度至少8个字符！"  validator="minlength=8,maxlength=50,required,password"  ng-mouseenter="isShowTipsC=true" ng-mouseleave="isShowTipsC=false" name="confirmNewPwd" is-show-tips="isShowTipsC"/>
                </div>
            </div>
        </div>
        <div class="changePwd_footer_btn_group">
            <button class="changePwd_save_btn" ng-click="savePwd()">保&nbsp;&nbsp;存</button>
        </div>
    </div>
</form>