 <div class="dp-rt-main no-pd" style="margin-top: 0;">
    <div class="cg-ls-top white-bac">
        <div class="cg-deal-tit cy-zl-tit lf">查阅指令</div>
    </div>
    <div class="cy-zl-con">
        <div class="cy-zl-main mycy-zl-main">
            <div class="box-shadow-bk cy-zl-bk mycy-zl-bk">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <th>发送人：</th>
                            <td>{{contents.CRUSER}}</td>
                        </tr>
                         <tr>
                            <th>发送人电话：</th>
                            <td>{{contents.TEL}}</td>
                        </tr>
                        <tr>
                            <th>指令标题：</th>
                            <td>{{contents.TITLE}}</td>
                        </tr>
                        <tr>
                            <th>指令内容：</th>
                            <td style="padding:0">
                                <textarea class="table-pre" readonly>{{contents.CONTENT}}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>指令类型：</th>
                            <td>{{contents.TYPE=='1'?"采访任务":"通知"}}</td>
                        </tr>
                        <tr>
                            <th>附件相关：</th>
                            <td ng-show="contents.files==''">无</td>
                            <td ng-show="contents.files!=''">
                                <span ng-repeat="file in contents.files">
                                    <a ng-href="{{file.filePath}}">{{file.fileName}}</a>&nbsp&nbsp
                                </span>
                            </td>
                        </tr>
                         <tr>
                            <th>创建时间：</th>
                            <td>{{contents.CRTIME}}</td>
                        </tr>
                        <tr>
                            <th>期望完成时间：</th>
                            <td>{{contents.OVERTIME}}</td>
                        </tr>
                        <tr>
                            <th>密级指令：</th>
                            <td><span>{{contents.ISSECRET=='1'?"密级":"非密级"}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-shadow-bk sf-yd-bk" >
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <th>未读：</th>
                        <td>
                            <div class="sf-yd-mw">
                                <div class="sf-yd-per" ng-repeat="noRea in contents.noRead">
                                    <img ng-src="{{noRea.userHead}}" />
                                    <span>{{noRea.userName}}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                   <!-- <tr>
                       <th>已读：</th>
                       <td>
                           <div class="sf-yd-mw">
                               <div class="sf-yd-per" ng-repeat="rea in contents.read">
                                   <img ng-src="{{rea.userHead}}" />
                                   <span>{{rea.userName}}</span>
                               </div>
                           </div>
                       </td>
                   </tr> -->
                   <tr>
                       <th>完成：</th>
                       <td>
                           <div class="sf-yd-mw">
                               <div class="sf-yd-per" ng-repeat="ove in contents.over">
                                   <img ng-src="{{ove.userHead}}" />
                                   <span>{{ove.userName}}</span>
                               </div>
                           </div>
                       </td>
                   </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>