<div class="cg-ls-top">
    <ul class="i-started-top">
        <li class="i-start-cur" checked="i-start-cur" ng-click="getcheckList(0);">
            <a href="javascript:;">待审核</a>
        </li>
        <li checked="i-start-cur" ng-click="getcheckList(1);">
            <a href="javascript:;">已审核</a>
        </li>
    </ul>
</div>
<div class="cg-main-ls" style="overflow:inherit">
    <ul>
        <li ng-repeat="content in contents" ng-class="{'blue-bac':($index+1)%2==0}">
            <a href="javascript:void(0);" class="cg-ls-tit lf sp-blue" 
               ui-sref="command.myinstructCheck_details({dictateId:content.DICTATEID})"  >{{content.TITLE}}</a>
            <span style="float:right;">{{content.CRUSER}}</span>
        </li>
    </ul>
    <div class="hd-page-bk">
        <a href ng-click="reduce();" class="log-page hd-pg-pre"></a>
        <div class="hd-pg-num"><span>{{pageInfo.pageIndex}}</span>-<span>{{pageInfo.pageCount}}</span></div>
        <a href ng-click="add();" class="log-page hd-pg-next"></a>
    </div>
</div>