<section style="position:static;box-sizing: border-box;">
    <section style="margin: 5px 5px 0px; text-align: center;"><span style="color:inherit; font-size:18px">manufacture <span style="color:#FF0000; font-size:16px">d</span>`essai</span>
    </section>
    <section style="margin: 2px 1em; padding: 0px; border: 0px rgb(33, 33, 34);max-width: 100%; box-sizing: border-box; color: rgb(62, 62, 62); font-size: 12px; text-align: center; word-wrap: break-word !important;">
        <section style="width: 40%; box-sizing: border-box; padding: 2px 2px 0px; border-top-width: 3px; border-top-style: solid; border-top-color: rgb(33, 33, 34); color: rgb(0, 0, 0); font-size: 14px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(33, 33, 34); display: inline-block;"></section>
        <section style="margin:0px 2px"><span style="color:inherit; font-size:12px; text-align:center"><em style="color: inherit;">welcome</em> </span></section>
    </section>
</section>
