<section style="position:static;box-sizing: border-box;">
    <section style="border: 0px; text-align: center; box-sizing: border-box; padding: 0px;">
        <section style="display: inline-block; box-sizing: border-box; color: inherit;">
            <section style="margin: 0.2em 0px 0px; padding: 0px 0.5em 5px; max-width: 100%; color: rgb(107, 77, 64); font-size: 1.8em; line-height: 1; border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(107, 77, 64);">编辑器</section>
            <section style="margin: 5px 1em; font-size: 1em; line-height: 1; color: rgb(107, 77, 64); box-sizing: border-box; border-color: rgb(107, 77, 64);">做最易用的编辑器</section>
        </section>
    </section>
</section>
