<section style="position:static;box-sizing: border-box;">
    <section style="clear: both; padding: 0px; border: 0px none; margin: 1em 0px 0.5em;">
        <section style="border-top-width: 2px; border-top-style: solid; border-color: rgb(142, 201, 101); font-size: 1em; font-weight: inherit; text-decoration: inherit; color: rgb(255, 255, 255); box-sizing: border-box;">
            <section style="padding: 0px 0.5em; background-color: rgb(142, 201, 101); display: inline-block; font-size: 16px;">编辑器</section>
        </section>
    </section>
</section>
