<section style="position:static;box-sizing: border-box;">
    <section style="border:none;margin: 5px;text-align: center;">
        <section style="color: rgb(255, 255, 255); font-size: 20px; text-align: center; margin: 0px auto -2px; border-radius: 5px; padding: 10px 10px 15px; display: inline-block; border-color: rgb(85, 85, 85); background-color: rgb(33, 33, 34);">
            <section style="padding: 2px 5px 0px; box-sizing: border-box; color: inherit; border-top-style: none; margin: 0px; text-align: left;">
                <section style="height: 23px; width: 6px; -webkit-transform: rotate(45deg); transform: rotate(45deg); margin-left: 7px; display: inline-block; margin-bottom: 2px; margin-top: -5px; box-sizing: border-box; padding: 0px; color: inherit; background-color: rgb(254, 254, 254);"></section>
                <section style="width: 0px; height: 0px; border-width: 5px 3px 0px; border-style: solid; border-color: rgb(254, 254, 254) transparent transparent; display: inline-block; margin-left: -17px; margin-top: 2px; -webkit-transform: rotate(45deg); transform: rotate(45deg); box-sizing: border-box; padding: 0px; color: inherit;"></section>
                <section style="margin-left: 15px; margin-top: -36px; color: inherit; box-sizing: border-box; padding: 0px;">
                    <section style="padding: 5px 15px 0px; color: inherit; box-sizing: border-box; margin: 0px;"><span style="box-sizing:border-box; color:inherit; font-size:18px; margin:0px; padding:0px">请输入标题</span></section>
                </section>
            </section>
        </section>
        <section style="width: 0px; margin-right: auto; margin-left: auto; border-top-width: 0.6em; border-top-style: solid; border-bottom-color: rgb(33, 33, 34); border-top-color: rgb(33, 33, 34); height: 10px; color: inherit; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important;"></section>
    </section>
</section>
