<section style="position:static;box-sizing: border-box;">
    <section style="margin: 0.8em 0 0.5em 0;font-size: 16px;line-height: 32px; font-weight: bold;">
        <section style="display: inline-block; float: left; min-width: 32px; height: 32px; vertical-align: top; text-align: center;  ">
            <section style="display: table; width: 100%; color: inherit; border-color: rgb(72, 192, 163);">
                <section style="display: table-cell;text-indent: 0; vertical-align: middle; font-style: normal; color: rgb(255, 255, 255); border-color: rgb(72, 192, 163);"><span style="color:#C6C6C7; font-size:50px">1</span></section>
                <section style="width: 18px; height: 70px;margin-left: -6px; margin-top:5px;border-left:1px solid rgb(198,198,199);background-color: rgb(254,254,254); box-sizing: border-box;-webkit-transform: rotate(35deg);transform: rotate(35deg);"></section>
            </section>
        </section>
        <section style="margin-left: 40px;padding-top:18px; font-style:normal;font-size:30px; color: #737373; border-color: rgb(72, 192, 163);"><span style="color:#737373; font-size:20px">请输入标题</span></section>
    </section>
</section>
