<section style="position:static;box-sizing: border-box;">
    <section style="margin: 0.5em 0px 0px; padding: 0px; max-width: 100%; box-sizing: border-box; min-width: 0px; color: rgb(62, 62, 62); font-size: 15px; line-height: 24px; border: none; word-wrap: break-word !important; ">
        <section>
            <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; display: inline-block; vertical-align: top; height: 1.8em; width: 1.8em; border-radius: 50%; border: 3px solid rgb(142, 201, 101); font-size: 1.6em; font-family: inherit; font-weight: inherit; text-align: center; text-decoration: inherit; color: rgb(142, 201, 101); word-wrap: break-word !important;background: #FeFeFe;">
                <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; line-height: 1.6em; word-wrap: break-word !important;">1</section>
            </section>
        </section>
        <section style="margin: -1.56em 0px 1em 0.5em; padding: 0px;float: left; border-radius: 1em; font-size: 1.2em; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(255, 255, 255); border-color: rgb(142, 201, 101); word-wrap: break-word !important; background-color: rgb(142, 201, 101);z-index: -1;"><span style="box-sizing:border-box; display:inline-block; float:left; font-family:inherit; line-height:1.6em; margin:0px 5px; max-width:100%; padding:0px 10px 0px 2em; vertical-align:top; word-wrap:break-word !important">编辑器</span></section>
    </section>
</section>
