<section style="position:static;box-sizing: border-box;">
    <section style="border: none; margin: 30px; padding: 0px;">
        <section style="width: 25px; height: 130px; margin-left: -12px; border-right: 1px solid rgb(198, 198, 199); background-color: rgb(254, 254, 254); box-sizing: border-box;-webkit-transform: rotate(45deg);transform: rotate(45deg); display: inline-block; margin-top: -50px;"></section>
        <p style="text-align: center;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZhMHBqOVVQTWNFczBhY0FESVE3bFZiMFMyRmg3TkNvbExpYzMyYTdzTm5WaWI5SE14NW8yQlBGaWNLMmp6WEJnR2huMXhhMEtTNVE0d1EvMD93eF9mbXQ9anBlZw==" style="width: 100%; margin: -80px 0px 0px;" width="100%" height="" border="0"></p>
        <section style="width: 25px; height: 130px; margin-right: -12px; margin-top: -80px; margin-bottom: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(198, 198, 199); box-sizing: border-box; -webkit-transform: rotate(45deg); transform: rotate(45deg); float: right; background-color: rgb(254, 254, 254);"></section>
    </section>
</section>
