<form name="atlasForm" novalidate>
    <div class="row_allas plr20">
        <ul class="subject-tab">
            <li>
                <a du-smooth-scroll du-scrollspy offset="20" duration="2000" href="#section-1">列表信息</a>
            </li>
            <li>
                <a du-smooth-scroll du-scrollspy offset="60" duration="2000" href="#section-2">属性信息</a>
            </li>
            <li>
                <a du-smooth-scroll du-scrollspy offset="60" duration="2000" href="#section-3">发稿单</a>
            </li>
            <li ng-if="status.hasVersionTime">
                <a du-smooth-scroll du-scrollspy duration="2000" offset="60" href="#section-4">流程版本</a>
            </li>
        </ul>
        <div class="atals row_news" id="section-1">
            <div class="ht43"></div>
            <button style="display:none"></button>
            <div class="subject-title">列表信息</div>
            <div class="m_box bg0 br0">
                <div>
                    <div class="subject-list-style row" style="margin-top:0px;">
                        <div class="subject-item">
                            <div class="col-md-1 padfixed">
                                <div class="txt-style">列表样式：</div>
                            </div>
                            <div class="col-md-11 pl0">
                                <div class="list-style-radio">
                                    <div class="style-radio" ng-repeat="listStyle in data.listStyle">
                                        <trs-single-radio label="{{listStyle.desc}}" group="'listStyle'" ischecked="listStyle.value==list.LISTSTYLE" callback="list.LISTSTYLE = listStyle.value"></trs-single-radio>
                                    </div>
                                </div>
                                <div class="clear mb10"></div>
                                <div class="news_input_check invalidate-input-box {{atlasForm.ListTitle.$invalid?'has-error':''}}">
                                    <input trs-spe-char class="form-control list-text" type="text" name="ListTitle" ng-model="list.LISTTITLE" placeholder="请输入标题" maxlength-error-message="长度不能超过100个字符！" validator="required,maxlength=100" ng-mouseenter="isShowTipsA=true" ng-mouseleave="isShowTipsA=false" is-show-tips="isShowTipsA">
                                </div>
                                <span class="star-red">*</span>
                                <div class="list-style-img h120">
                                    <div class="fa_upload invalidate-input-box {{atlasForm.listStyleOne.$invalid?'has-error':''}}" ng-if="list.LISTSTYLE==0||list.LISTSTYLE==1">
                                        <trs-upload-full file-name="list.LISTPICS[0].APPFILE " file-desc="list.LISTPICS[0].APPDESC " return-file="list.LISTPICS[0].PERPICURL " callback="deleteUploaderImg('LISTPICS',0)"></trs-upload-full>
                                        <input type="text" class="ueditorReplace" validator="required" name="listStyleOne" ng-model="list.LISTPICS[0].APPFILE" />
                                    </div>
                                    <div class="fa_upload invalidate-input-box {{atlasForm.listStyleTwo.$invalid? 'has-error': ''}}" ng-if="list.LISTSTYLE==1">
                                        <trs-upload-full file-name="list.LISTPICS[1].APPFILE " file-desc="list.LISTPICS[1].APPDESC " return-file="list.LISTPICS[1].PERPICURL " callback="deleteUploaderImg('LISTPICS',1) "></trs-upload-full>
                                        <input type="text" class="ueditorReplace" validator="required" name="listStyleTwo" ng-model="list.LISTPICS[1].APPFILE" />
                                    </div>
                                    <div class="fa_upload invalidate-input-box {{atlasForm.listStyleThree.$invalid? 'has-error': ''}} " ng-if="list.LISTSTYLE==1">
                                        <trs-upload-full file-name="list.LISTPICS[2].APPFILE" file-desc="list.LISTPICS[2].APPDESC" return-file="list.LISTPICS[2].PERPICURL " callback="deleteUploaderImg('LISTPICS',2) "></trs-upload-full>
                                        <input type="text" class="ueditorReplace" validator="required" name="listStyleThree" ng-model="list.LISTPICS[2].APPFILE" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row edit-news-lable ">
                            <div class="col-md-1 pr0 txt_r edit-news-lable-title ">
                                <p>标签：</p>
                            </div>
                            <div class="col-md-11 subject-list-style web-list-info-con edit-news-lable-body ">
                                <div class="list-style-tab " ng-model="list.LABEL " bs-radio-group>
                                    <label ng-repeat="tabName in data.label " class="btn btn-default " ng-click="list.LABEL=tabName.value " ng-class="{ 'selected':list.LABEL==tabName.value} ">{{tabName.value}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="subject-item">
                            <div class="col-md-1 padfixed">
                                <div class="txt-style">焦点图：</div>
                            </div>
                            <div class="col-md-11 pl0 ">
                                <div class="list-style-check ">
                                    <trs-checkbox ischecked="list.ISFOCUSIMAGE==0" callback="toggleFoucesImg()"></trs-checkbox>栏目焦点图
                                </div>
                            </div>
                            <div ng-if="list.ISFOCUSIMAGE==0" class="focusDiv">
                                <div class="list-style-img row">
                                    <div class="left fa_div mt10">
                                        <div class="news_input_check invalidate-input-box">
                                            <input trs-spe-char class="form-control list-text fz12" type="text" name="FocusImage" ng-model="list.FOCUSIMGTITLE" placeholder="请输入标题" maxlength-error-message="长度不能超过100个字符" validator="maxlength=100,required" ng-mouseenter="isShowTipsB=true" ng-mouseleave="isShowTipsB=false" is-show-tips="isShowTipsB">
                                        </div>
                                        <span class="star-red">*</span>
                                    </div>
                                    <div class="fa_upload invalidate-input-box {{atlasForm.isFoucesImage.$invalid? 'has-error': ''}}">
                                        <trs-upload-full file-name="list.FOCUSIMAGE[0].APPFILE" return-file="list.FOCUSIMAGE[0].PERPICURL" file-desc="list.FOCUSIMAGE[0].APPDESC" callback="deleteUploaderImg('FOCUSIMAGE',0)"></trs-upload-full>
                                        <input type="text" class="ueditorReplace" validator="required" name="isFoucesImage" ng-model="list.FOCUSIMAGE[0].APPFILE" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subject-title">稿件信息</div>
            <div class="new_tplb">
                <div class="header">
                    <p>图片列表：</p>
                    <button class="tplb_btn " ng-click="multiImgsUploader() ">
                        <img src="./editingCenter/app/images/b5a.png ">上传图片</button>
                    <button class="tplb_btn btn btn-default" ng-click="batchDelete()" ng-disabled="status.uploaderImgSelected.length===0">
                        <img src="./editingCenter/app/images/b6a.png">批量删除
                    </button>
                </div>
                <div class="con invalidate-input-box {{atlasForm.isDocPIC.$invalid?'has-error':''}}" ">
                    <table class="table table-striped mb0 iwotable ">
                        <thead>
                            <tr ng-if="list.DOC_PICTURELIST.length>=1">
                    <th style="width: 8%;">
                        <trs-checkbox ischecked="status.uploaderImgSelected.length===list.DOC_PICTURELIST.length" callback="selectAllImg()"></trs-checkbox>全选
                    </th>
                    <th style="width: 23%;">排序</th>
                    <th style="width: 20%;">图片</th>
                    <th>说明</th>
                    <th style="width: 22%;">操作</th>
                    </tr>
                    </thead>
                    <tbody dnd-list="list.DOC_PICTURELIST" trs-thumb-container>
                        <tr class="h190" ng-repeat="uploaderImg in list.DOC_PICTURELIST track by $index" dnd-draggable="uploaderImg" dnd-moved="moveUploadImg($index)" dnd-effect-allowed="copyMove" dnd-dragstart="dragStart(event)">
                            <td class="lh180 td-check">
                                <trs-checkbox ischecked="status.uploaderImgSelected.indexOf(uploaderImg)<0?false:true" callback="selectImg(uploaderImg)"></trs-checkbox>
                            </td>
                            <td class="lh180" style="line-height: 180px;cursor:pointer">
                                <img ng-click="upMove($index)" src="./editingCenter/app/images/b13.png"> <span ng-click="upMove($index)">上移</span>
                                <img ng-click="downMove($index)" src="./editingCenter/app/images/b12.png"><span ng-click="downMove($index)">下移</span>
                            </td>
                            <td drag-source>
                                <div class="imgCon">
                                    <trs-thumb item="uploaderImg" transform="editingCenterAllThumb"></trs-thumb>
                                </div>
                            </td>
                            <td class="news_input_check invalidate-input-box">
                                <dnd-nodrag>
                                    <textarea name="imgDeclare" class="td_textarea form-control" placeholder="在此输入图片说明" ng-model="uploaderImg.APPDESC" maxlength-error-message="长度不能超过1000个字符！" validator="maxlength=1000, spechar" ng-mouseenter="isShowTips=true" ng-mouseleave="isShowTips=false" is-show-tips="isShowTips">
                                    </textarea>
                                </dnd-nodrag>
                            </td>
                            <td>
                                <dnd-nodrag class="mt20">
                                    <div class="h35" ng-click="editImage(uploaderImg,$index)"><img src="./editingCenter/app/images/b77.png" class="pr7"> 更换图片</div>
                                    <div class="h35" ng-click="photoCrop(uploaderImg,$index)"><img src="./editingCenter/app/images/b77-y.png" class="pr7"> 编辑图片</div>
                                    <div class='h35' ng-click="deleteImg($index)"><img src="./editingCenter/app/images/b78.png">删除</div>
                                    <div class="h35" ng-click="declareAll($index)">
                                        <img src="./editingCenter/app/images/b81.png">同步所有说明
                                    </div>
                                </dnd-nodrag>
                            </td>
                        </tr>
                        <tr class="dndPlaceholder">
                            <td colspan="5"><i>选定位置后松开鼠标</i></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="subject-title mt20" id="section-2">属性信息</div>
            <div class="m_box bg-gray">
                <div class="m_box_item mt20">
                    <div class="col-sm-1 txt_r">新闻来源：</div>
                    <div class="col-sm-10 w392 invalidate-input-box {{atlasForm.NewsSources.$invalid&&atlasForm.NewsSources.$dirty?'has-error':''}}">
                        <input class="form-control list-text md_lngchange" type="text" name="NewsSources" ng-model="list.NEWSSOURCES" placeholder="请输入新闻来源" maxlength-error-message="长度不能超过100个字符！" validator="maxlength=100" ng-mouseenter="isShowTipsB=true" ng-mouseleave="isShowTipsB=false" is-show-tips="isShowTipsB">
                    </div>
                </div>
                <div class="m_box_item">
                    <div class="col-sm-1 txt_r">署名作者：</div>
                    <div class="col-sm-10 w392 invalidate-input-box {{atlasForm.SignatureAuthor.$invalid&&atlasForm.SignatureAuthor.$dirty?'has-error':''}}">
                        <input class="form-control list-text md_lngchange" type="text" name="SignatureAuthor" ng-model="list.SIGNATUREAUTHOR" placeholder="请输入署名作者" maxlength-error-message="长度不能超过100个字符！" validator="maxlength=100" ng-mouseenter="isShowTipsB=true" ng-mouseleave="isShowTipsB=false" is-show-tips="isShowTipsB">
                    </div>
                </div>
                <div class="m_box_item">
                    <div class="col-sm-1 txt_r">供稿方：</div>
                    <div class="col-sm-10">
                        <trs-single-select selected-option="list.CONTRIBUTORSONE" options="data.contributorsOne"></trs-single-select>
                        <trs-single-select selected-option="list.CONTRIBUTORSTWO" options="data.contributorsOne"></trs-single-select>
                        <trs-single-select selected-option="list.CONTRIBUTORSTHREE" options="data.contributorsOne"></trs-single-select>
                    </div>
                </div>
                <div class="m_box_item">
                    <div class="col-sm-1 txt_r lh40">评论设置：</div>
                    <div class="col-sm-10 mt10">
                        <div class="style-radio left" ng-repeat="commentset in data.commentSet">
                            <trs-single-radio label="{{commentset.desc}}" group="'commentset'" ischecked="commentset.value==list.COMMENTSET" callback="list.COMMENTSET=commentset.value"></trs-single-radio>
                        </div>
                    </div>
                </div>
                <div class="m_box_item">
                    <div class="col-sm-1 txt_r">所属栏目：</div>
                    <div class="col-sm-10">
                        <trs-single-select selected-option="list.BELONGCHANNEL" options="data.belongChannel"></trs-single-select>
                    </div>
                </div>
                <div class="m_box_item mt20">
                    <div class="col-sm-1 txt_r">
                        关键词：
                    </div>
                    <div class="col-sm-10">
                        <span class="errorTips" ng-show="isShowKeywordTips"><p class="validation-invalid">{{keywordsTips}}</p><i></i></span>
                        <div class="edit-news-attribute-text pull-left iwo-keywords-input-lengthen">
                            <tags-input ng-model="data.KEYWORDS" ng-blur="leave()" text="KEYWORDTEXT" add-on-space="true" add-on-enter="false" add-on-blur="true" ng-mouseenter="enter()" ng-mouseleave="leave()" add-on-comma="false" add-on-paste="true" paste-split-pattern="[;]" replace-spaces-with-dashes="false" enable-editing-last-tag="true" spellcheck="false" display-property="name" template="tag-template" min-length="1" max-length="20" placeholder="请输入关键词，以空格完成输入" allowed-tags-pattern="" on-invalid-tag="invalidTag($tag)" on-tag-adding="checkTag($tag)">
                            </tags-input>
                        </div>
                        <script type="text/ng-template" id="tag-template">
                            <div style="float: left; padding-left: 2px">
                                <span>{{$getDisplayText()}}</span>
                                <a class="remove-button" ng-click="$removeTag()">&times;</a>
                            </div>
                        </script>
                    </div>
                </div>
                <div class="m_box_item">
                    <div class="col-sm-1 txt_r">摘要：</div>
                    <div class="col-sm-7 invalidate-input-box {{newsForm.ConAbstract.$invalid&&newsForm.ConAbstract.$dirty?'has-error':''}}">
                        <textarea ng-model="list.CONABSTRACT" name="ConAbstract" class="form-control edit-news-textarea" maxlength-error-message="长度不能超过500个字符！" validator="maxlength=500" ng-mouseenter="isShowTipsB=true" ng-mouseleave="isShowTipsB=false" is-show-tips="isShowTipsB"></textarea>
                    </div>
                    <div class="col-sm-2 mt140">
                        <!-- <a href="">提取摘要</a> -->
                    </div>
                </div>
            </div>
            <div id="section-3">
                <div class="mtb20">
                    <div class="edit-news-title blueborder">
                        <p class="pull-left">发稿单</p>
                        <label class="edit-news-checkbox">
                            <trs-checkbox ischecked="list.ISNOPAYMENT==1" label="不发稿费" callback="updateCKSelection(list)"></trs-checkbox>
                        </label>
                    </div>
                    <div class="m_box_item mt20 ml15">
                        稿件体裁：
                        <trs-single-select selected-option="list.DOCGENRE" options="data.docGenre"></trs-single-select>
                    </div>
                </div>
                <editor></editor>
            </div>
            <div ng-if="status.hasVersionTime">
                <div class="subject-title mt20" id="section-4">流程版本</div>
                <tabset class="m_nav_3 mt20">
                    <tab heading="操作日志">
                        <div class="m_box_2">
                            <trs-timeline title="'操作日志'">
                                <p ng-bind="data.version.operationLogTitle" class="logTitle"></p>
                                <div ng-repeat="(key, value) in data.version.group">
                                    <h3 ng-class="{'operateLog':$index%2==0}">{{key}}</h3>
                                    <timegroup tick="item.day" ng-repeat="item in data.version.operationLog[key]">
                                        <timeitem tick="n.value.CRTIME" ng-repeat="n in item.times">
                                            <a class="minw45">{{n.value.OPERATION}}</a>
                                            <a class="minw80 pointer" ng-bind="n.value.USERNAME" title="{{n.value.OPERUSERNAME}}"></a>
                                            <a class="minw88" title="{{n.value.ATTRIBUTE}}" ng-bind="n.value.DESUSERNAME||n.value.ATTRIBUTE"></a>
                                            <a title="{{n.value.OPINION}}" class="exttype" ng-if="n.value.OPINION!==''">{{n.value.OPERATION}}意见</a>
                                        </timeitem>
                                    </timegroup>
                                </div>
                            </trs-timeline>
                        </div>
                        <div class="websist_normal w100pen" ng-if="page.CURRPAGE>=page.PAGECOUNT">没有更多了...
                        </div>
                        <div data-ng-if="page.CURRPAGE<page.PAGECOUNT" cg-busy="loadingPromise" class="website_timeline_load_more_2 text-center w100pen" ng-click="getLoadMore()">
                            <img src="./editingCenter/website/images/images/newTab_2.png" /> 点击展开更多
                        </div>
                    </tab>
                    <tab heading="流程版本">
                        <div class="m_box_2">
                            <trs-timeline title="'流程版本'">
                                <timegroup tick="item.day" ng-repeat="item in data.version.versionTime">
                                    <timeitem tick="n.value.CRTIME" ng-repeat="n in item.times">
                                        <a class="minw45">{{n.value.OPERATION}}</a>
                                        <a class="minw80" title="{{n.value.OPERSTATEDESC|trsLimitTo:12}}">{{n.value.OPERSTATEDESC}}</a>
                                        <a class="minw88">{{n.value.CRUSER}}</a>
                                        <a class="exttype" target="_blank" ui-sref="editingCenterPersonalVersionTime({objectversionid:n.value.OBJECTVERSIONID})">{{n.value.EXTTYPE}}</a>
                                    </timeitem>
                                </timegroup>
                            </trs-timeline>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
    <div class="Iw-box-fix box-fix-bt">
        <div class="txt_r">
            <button class="btn btn-primary" ng-repeat="btn in data.arrayBtn track by $index" ng-click="handleBtnClick(btn.OPERFUN)" ng-disabled="!status.openBtn">
                <span class="s_icon">
                   <img ng-src="./editingCenter/website/images/b{{btn.RIGHTINDEX}}.png"></span>{{btn.OPERDESC}}
            </button>
        </div>
    </div>
</form>
<div cg-busy="loadingPromise"></div>
