.fillSupplement_popup{
	width:100%;
	margin:0 auto;
	padding:10px;
}

.fillSupplement_popup .header{
	height: 35px;
	width:100%;
	background:#fafafa;
	border-bottom:1px solid #ccc;
	line-height: 35px;
	font-weight: bold;
}

.fillSupplement_popup .header img{
	margin:0 10px;
}

.fillSupplement_popup .topRight_btn{
	margin-right: 10px;
}

.fillSupplement_popup .topRight_btn .s_icon{
	padding-right: 5px;
	margin-right: 15px;
	position: relative;
	left: 8px;
	width: 18px;
	height: 18px;
	border: none;
	background:url(./planningCenter/jointCommand/images/pup9.png) no-repeat right center;
}

.fillSupplement_popup .topRight_btn .btn-primary {
    width: auto;
    height: 30px;
    margin:10px 5px;
    font-size: 12px;
    background: #0081b1;
	float:right;
	padding:0 20px 0 5px;
}

.fillSupplement_popup .topRight_btn .btn-primary:hover {
    background: #1ABAA0;
    border-color: #1ABAA0;
}

.fillSupplement_popup .content{
	padding:20px 0 20px 0;
}

.fillSupplement_popup .content .con{
	line-height:35px;
}

.fillSupplement_popup .content .con img{
	width:22px;
	cursor:pointer;
	margin-right: 10px;
}

.fillSupplement_popup .content .con b{
	width:100px;
	text-align:right;
	padding-right:10px;
	font-weight:normal;
	display: block;
	float: left;
	font-size:16px;
}

.fillSupplement_popup .content .con p{
	padding-left:100px;
	margin:0;
}

.fillSupplement_popup .content .con textarea{
	padding: 0 10px;
	margin-top: 10px;
	width: 90%;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.fillSupplement_popup .content .con input{
	padding: 0 10px;
	margin-top: 10px;
	width: 90%;
	height:300px;
}

/*
.fillSupplement_popup .content .con .con_fill{
	padding: 0 10px;
	margin-top: 10px;
	width: 80%;
	min-height:300px;
	border:1px solid #ccc;
	float: left;
}*/

.fillSupplement_popup .footer{
	text-align:center;
}

.fillSupplement_popup .footer button{
    width: 80px;
    height: 32px;
    background-color: #0095CE;
    color: white;
    border: 0px;
    border-radius: 4px;
    margin: 10px;
}

.fillSupplement_popup .footer button.backColor999{
    background-color:#999999!important;
}

.fillSupplement_popup .fl{
	float:left;
}
.fillSupplement_popup .clear{
	clear:both;
}
.fillSupplement_popup .mr50{
	margin-right:50px;
}