<div class="modal-header">
    <span class="modal-title">加入收藏</span>
</div>
<div class="modal-body">
    <div class="row bar form-group ">
        <div class="col-sm-2 labeltext">
            名称：
        </div>
        <div class="col-sm-9 ">
            <input class="form-control" type="text" name="Title" placeholder="默认名称为原名称，可更改">
        </div>
    </div>
    <div class="row">
        暂无内容
    </div>
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm btn_confirm" type="button" ng-click="export()">确定</button>
    <button class="btn btn-primary btn-sm btn_cancel" type="button" ng-click="cancel()">取消</button>
</div>
