<div class="toBeCompiled-directSign-container">
	<div class="toBeCompiled-review-head">
        <p ng-bind="title"></p>
        <img src="./editingCenter/app/toBeCompiled/images/cls.jpg" ng-click="cancel()">
    </div>
    <div class="toBeCompiled-directSign-body">
    	<p ng-bind-html="content"></p>
        
    </div>
    <div class="toBeCompiled-directSign-footer  toBeCompiled-directSign-footer-modify">
    	<button class="new-role-btn toBeCompiled-directSign-confirm-modify btn_confirm" ng-click="isConfirm()">确定</button>
        <button class="button-cancel new-role-btn btn_cancel" ng-click="cancel()">取消</button>
    </div>
</div>