<div class="sy-bk-opa"></div>
<div class="sy-bk-deal">
    <div class="zx-wb-icon">
        <div class="wb-icon-opa"></div>
        <div class="wb-bk-img">
            <img src="common/images/xt-sy-icon01.png" alt=""/>                    
        </div>
    </div>
    <h3 class="sy-wx-tit">最新微信</h3>
    <div class="zx-wx-div" ng-controller="weinxinContentPreview">
        <a href class="zx-wx-ls" ng-repeat="content in contents" ng-click="open('lg',content.Id);">
            <div class="wx-user-pc">
                <img ng-src="{{content.headPicUrl}}" alt=""/>                    
            </div>
            <div class="zx-wx-sp">
                <p>{{content.content}}</p>
            </div>
        </a>
    </div>
</div>