<div>
            <div class="popup-title">
                <p>系统提示</p>
                <a href="#" class="popup-close" ng-click="cancel();"></a>
            </div>
            <div class="delete-account-con">
                <div class="delete-tips">
                    <img src="common/images/delete-tips_bg.png" width="72" height="60" alt=""/>
                    <p>是否删除公众号？</p>
                </div>
                <div class="popup-btn">
                    <div class="delete-btn-bg">
                        <a class="popup-btn-confirm" ng-click="ok();">确认</a>
                        <a class="popup-btn-cancel"  ng-click="cancel();">取消</a>
                    </div>
                </div>
            </div>
</div>