<div class="popup-box qf-box">
    <div class="popup-top">
        <span class="tx-wd-box lf">提醒</span>
        <a href="javascript:;" class="popup-close-btn rt" ng-click="cancel();"></a>
    </div>
    <div class="popup-con">
        <div class="sf-ch-sp">
            <div class="sf-ch-icon" style="width:195px">
                <span>分组名称:</span>
                <div class="sel-search-box">
                    <input type="text" ng-model="groupName"  maxlength="10" value="键入名称或关键字"/>
                </div>
            </div>
        </div>
        <div class="popup-btn-bk">
            <div class="bnt-bk-deal" changes >
                <a href="javascript:;" class="popup-btn-yes"   ng-click="determine();">是</a>
                <a href="javascript:;" class="popup-btn-no "  ng-click="cancel();">否</a>
            </div>
        </div>
    </div>
</div>
