<div class="popup" displayborder id="pop-hide" style="display: block;">

    <!--隐藏部分-->
    <div class="qf-pop-box">
        <!--密级指令-->
        <div class="" style="width: 450px;" >
            <div class="dialog-psd-close" ng-click="close();"> </div>
            <div class="my-popup-top">
                <div class="my-popup-icon"></div>
                <span>密级指令</span>
            </div>
            <div class="my-zl-mm">
                <div class="my-mm-box lf">
                    <input type="password" placeholder="请输入密码查看" ng-model="password" autofocus="autofocus" />
                </div>
                <a href="javascript:void(0);" ng-click="check();" class="my-submit-btn lf"></a>
            </div>
            <div style="color: red;font-size: 15px">{{warning}}</div>
        </div>
    </div>
</div>