<div class="popup" id="pop-hide" style="display: block">
    <!--隐藏部分-->
    <div class="qf-pop-box">
        <!--撤回-->
        <div class="popup-box qf-box">
            <div class="popup-top">
                <span class="sf-ch-box lf">撤回</span>
                <a href="javascript:;" class="popup-close-btn rt" ng-click="cancel();"></a>
            </div>
            <div class="popup-con">
                <div class="sf-ch-sp">
                    <div class="sf-ch-icon" style="width:132px">
                        <img src="common/images/popup-icon03.png" width="25" height="20"/>
                        <span>是否撤回指令</span>
                    </div>
                </div>
                <div class="popup-btn-bk">
                    <div class="bnt-bk-deal">
                        <a href="javascript:;" class="popup-btn-yes" ng-click="determine();">是</a>
                        <a href="javascript:;" class="popup-btn-no" ng-click="cancel();">否</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>