<form name="subjectForm" novalidate class="website_subjectForm">
    <div class="row_allas plr20">
        <!--  <tabset class="subject-tab">
            <tab ng-click="goto('atlsListInfo')" heading="稿件信息"></tab>
            <tab ng-click="goto('atlasStatusInfo')" heading="属性信息"></tab>
        </tabset> -->
        <ul class="subject-tab">
            <li>
                <a du-smooth-scroll du-scrollspy offset="40" duration="1000" href="#section-1">稿件信息</a>
            </li>
            <li>
                <a du-smooth-scroll du-scrollspy offset="60" duration="1000" href="#section-2">属性信息</a>
            </li>
        </ul>
        <div class="atals row_news">
            <div id="section-1">
                <div class="ht43"></div>
                <!--误删解决回车触发按钮-->
                <button style="display:none"></button>
                <div class="subject-title" id="atlsListInfo">稿件信息</div>
                <div class="col-md-12 mtb15 invalidate-input-box web-tobecompiled-news-tit {{subjectForm.Title.$invalid?'has-error':''}}">
                    <p class="website-docinfo-tit"><i class="web-toBeCompiled-star">*</i>标题：</p>
                    <textarea class="edit-news-textare-h70 form-control md_lng w640 mr16 fs14" name="Title" ng-model="list.TITLE" placeholder="请输入标题" maxlength-error-message="长度不能超过200个字符！" validator="maxlength=200,required" ng-style="{color:list.TITLECOLOR}" ng-mouseenter="isShowTipsA=true" ng-mouseleave="isShowTipsA=false" is-show-tips="isShowTipsA"></textarea>
                    <trs-color-picker col-obj="list.TITLECOLOR" class="color_pos"></trs-color-picker>
                    <img class="timepicker-img left_596" src="./editingCenter/website/images/images/w31.png" alt="" /> 已输入
                    <trs-word-num num-obj="{{list.TITLE}}" class="font_red"></trs-word-num>
                    字数
                </div>
            </div>
            <div class="clear"></div>
            <div id="section-2">
                <div class="subject-title mt10" id="atlasStatusInfo">属性信息</div>
                <div class="m_box bg-fafafa">
                    <div class="m_box_item mt20">
                        <div class="col-sm-1 txt_r "><i class="web-toBeCompiled-star">*</i>内容：</div>
                        <div class="col-sm-8 invalidate-input-box {{subjectForm.specialcontent.$invalid?'has-error':''}}">
                            <textarea ng-model="list.SPECIALCONTENT" name="specialcontent" cols="30" rows="10" class="form-control edit-news-textarea h600" validator="required" ng-mouseenter="isShowTipsB=true" ng-mouseleave="isShowTipsB=false" is-show-tips="isShowTipsB"></textarea>
                        </div>
                    </div>
                    <div class="m_box_item ">
                        <div class="col-sm-1 txt_r ">栏目：</div>
                        <div class="col-sm-11 ">
                            <img src="./editingCenter/website/images/images/w29.png " alt=" " class="channel-choose-icon " ng-click="chooseChannel() " ng-class="{'cursorDefault':status.position==2}" />
                            <p ng-bind="CHANNEL " class="channel-choose-content pointer" ng-click="chooseChannel()" ng-class="{'cursorDefault':status.position==2}"></p>
                        </div>
                    </div>
                    <div class="m_box_item ">
                        <div class="col-sm-1 txt_r ">作者：</div>
                        <div class="col-sm-11 invalidate-input-box ">
                            <input class="form-control w613 " type="text " ng-model="list.AUTHOR" name="AUTHOR " maxlength-error-message="长度不能超过50个字符！ " validator="maxlength=50 " ng-mouseenter="isShowTipsG=true " ng-mouseleave="isShowTipsG=false " is-show-tips="isShowTipsG ">
                        </div>
                    </div>
                    <div class="m_box_item ">
                        <div class="col-sm-1 txt_r ">稿件归属人：</div>
                        <div class="col-sm-11 invalidate-input-box ">
                            <button ng-click="chooseAscription()" class="iwo_get_keywords_btn">选择归属人</button>
                        </div>
                    </div>
                    <!-- <div class="m_box_item">
                    <div class="col-sm-1 txt_r">责任编辑：</div>
                    <div class="col-sm-11 invalidate-input-box">
                        <input class="form-control w613" type="text" ng-model="list.EDITORTRUENAME" maxlength-error-message="长度不能超过50个字符！" validator="maxlength=50,spechar" name="flowEdit" ng-mouseenter="isShowTipsI=true" ng-mouseleave="isShowTipsI=false" is-show-tips="isShowTipsI">
                    </div>
                </div> -->
                    <!-- <div class="m_box_item">
                    <div class="col-sm-1 txt_r">签发时间：</div>
                    <div class="col-sm-11">
                        <div class="timing-calendar">
                            <div class="timeGroup">
                                <input type="text" size="10" class="form-control" ng-model="list.ISSUETIME" data-autoclose="1" placeholder="Date" data-min-date="today" bs-datepicker readonly="readonly">
                                <img src="./editingCenter/app/toBeCompiled/images/t3.png" class="news-imgOne">
                            </div>
                            <div class="timeGroup ml20">
                                <input type="text" size="8" class="form-control" ng-model="list.ISSUETIME" data-time-format="HH:mm" data-autoclose="1" data-minute-step="1" placeholder="Time" bs-timepicker readonly="readonly">
                                <img src="./editingCenter/app/toBeCompiled/images/t1.png" class="news-imgTwo">
                            </div>
                        </div>
                    </div>
                </div> -->
                    <div class="m_box_item">
                        <div class="col-sm-1 txt_r">签发时间：</div>
                        <div class="col-sm-11">
                            <div class="timing-calendar">
                                <div class="timeGroup">
                                    <input type="text" size="10" class="form-control" ng-model="list.ISSUETIME" data-autoclose="1" placeholder="Date" data-min-date="" bs-datepicker readonly="readonly">
                                    <img src="./editingCenter/app/toBeCompiled/images/t3.png" class="news-imgOne">
                                </div>
                                <div class="timeGroup ml20">
                                    <input type="text" size="8" class="form-control" ng-model="list.ISSUETIME" data-time-format="HH:mm" data-autoclose="1" data-minute-step="1" placeholder="Time" bs-timepicker readonly="readonly">
                                    <img src="./editingCenter/app/toBeCompiled/images/t1.png" class="news-imgTwo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="m_box_item">
                        <div class="col-sm-1 txt_r">文章选择：</div>
                        <div class="col-sm-11">
                            <a class="visual-choose" ng-click="visualChooseWindow()">可视化选择</a>
                        </div>
                    </div> -->
                    <div class="m_box_item">
                        <div class="col-sm-1 txt_r">导读图片：</div>
                        <div class="col-sm-11">
                            <div class="list-style-img introduce-img" style="margin-right:20px;">
                                <div class="fa_upload form-control" ng-repeat="OUTLINEPIC in list.OUTLINEPICS track by $index" style="margin-left:10px;">
                                    <trs-upload-full file-name="list.OUTLINEPICS[$index].APPFILE" file-desc="list.OUTLINEPICS[$index].APPDESC" return-file="list.OUTLINEPICS[$index].PERPICURL" callback="deleteImgContainer(OUTLINEPIC,list.OUTLINEPICS)"></trs-upload-full>
                                </div>
                                <button class="div_btn btn btn-default" ng-click="addUploaderImg(list.OUTLINEPICS,'概览图片')"></button>
                            </div>
                        </div>
                    </div>
                    <div class="m_box_item">
                        <div class="col-sm-1 txt_r">标签管理：</div>
                        <div class="col-sm-11">
                            <div class="website_subject_left col-sm-3">
                                <div>
                                    <input type="text" class="form-control" placeholder="请输入标签名，按回车完成添加" ng-model="status.tag.newTagName" ng-keypress="newTag($event)">
                                </div>
                                <ul>
                                    <li ng-repeat="item in status.tag.tagArray" ng-class="{'active':item.SPECAILTAGID==status.tag.currTagId}" ng-click="selectCurrTag(item,$index)">
                                        <b ng-bind="item.SPECAILTAGID" title="{{item.TAGNAME}}"></b>
                                        <span ng-bind="item.TAGNAME" title="{{item.TAGNAME}}"></span>&nbsp;
                                        <img ng-src="./editingCenter/app/images/{{item.SPECAILTAGID==status.tag.currTagId?'l7.png':'l7-1.png'}}" ng-click="modifyTagName(item)">
                                        <a du-smooth-scroll du-scrollspy offset="60" duration="1000" href="#section-2">
                                            <img ng-src="./editingCenter/app/images/{{item.SPECAILTAGID==status.tag.currTagId?'l25.png':'l25-1.png'}}" ng-click="markTag(item)" title="查找">
                                        </a>
                                        <img src="./editingCenter/iWo/images/del.png" class="pointer deleteItem" ng-click="deleteTag(item)">
                                    </li>
                                </ul>
                            </div>
                            <div class="website_subject_right col-sm-6">
                                <div>
                                    <button ng-disabled="status.tag.currTagId==''" ng-click="chooseDraftWindow()">选择</button>
                                </div>
                                <ul dnd-list="in status.tag.tagArray[status.tag.currTagIndex].DRAFTLIST" dnd-allowed-types="['itemsType']" dnd-external-sources="false" dnd-dragover="dragoverCallback(event, index, external, type)" dnd-drop="dropCallback(event, index, item, external, type, 'itemsType')">
                                    <li ng-repeat="item in status.tag.tagArray[status.tag.currTagIndex].DRAFTLIST" dnd-dragstart="dragStart(event,item,$index)" dnd-type="'itemsType'" dnd-effect-allowed="move" dnd-draggable="item" dnd-moved="status.tag.tagArray[status.tag.currTagIndex].DRAFTLIST.splice($index, 1)" draggable="true">
                                        <span ng-bind="$index+1"></span>
                                        <b class="handel" ng-bind="item.METADATAID"></b>
                                        <i ng-bind="item.WEBSTATUSNAME"></i>
                                        <dnd-nodrag>
                                            <input type="text" ng-class="{'active':status.tag.currDraftId==item.METADATAID}" ng-model="item.RTITLE" title="{{item.RTITLE}}" ng-click="status.tag.currDraftId=item.METADATAID" ng-blur="modifyDraftName(item)" ng-focus="markOriginalDraftName(item)">
                                        </dnd-nodrag>
                                        <img src="./editingCenter/iWo/images/del.png" class="pointer deleteItem" ng-click="removeTagDraft(item,$index)">
                                    </li>
                                    <li class="dndPlaceholder drag_place_list">选定位置后松开鼠标</li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="m_box_item">
                        <div class="col-sm-1 txt_r">专题附件：</div>
                        <div class="col-sm-11">
                            <div class="website-file-upload">
                                <div class="website-file-upload-icon"></div>
                                <div class="website-file-upload-button" ngf-select ng-model="status.files" ngf-multiple="true" ngf-keep="'distinct'" ngf-change="selectFiles($files, $file, $newFiles)" accept=".zip"></div>
                            </div>
                            <table class="table table-striped table-bordered file-uploader-table" ng-if="status.showFiles.length>0 || list.SPECIALFILE.length>0">
                                <thead>
                                    <tr>
                                        <th width="30%">附件名称</th>
                                        <th width="30%">附件描述</th>
                                        <th width="20%">操作</th>
                                        <th width="20%">状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- 附件上传和待上传的列表 -->
                                    <tr ng-repeat="file in status.showFiles">
                                        <td>
                                            <div class="invalidate-input-box">
                                                <input type="text" ng-model="file.SRCFILE" name="filename" class="form-control" maxlength-error-message="长度不能超过200个字数！" validator="maxlength=200,required" ng-mouseenter="$index=true" ng-mouseleave="$index=false" is-show-tips="$index">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="invalidate-input-box">
                                                <input type="text" ng-model="file.APPDESC" name="filedesc" class="form-control" maxlength-error-message="长度不能超过200个字数！" validator="maxlength=200,required" ng-mouseenter="$index=true" ng-mouseleave="$index=false" is-show-tips="$index">
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="removeCurFile(file,$index)">
                                                <span class="glyphicon glyphicon-trash"></span> 移除
                                            </button>
                                        </td>
                                        <td class="multiImgsUploader">
                                            <img ng-if="file.FILEINFO=='上传成功'" src="./manageConfig/productManageMent/images/n5.png" />
                                            <img ng-if="file.FILEINFO!=='上传成功'&&file.FILEINFO!=='等待上传'&&file.FILEINFO!=='上传中'" src="./planningCenter/images/gl50.png" />
                                            <img ng-if="file.FILEINFO=='等待上传'" src="./editingCenter/website/images/wait.png" />
                                            <img ng-if="file.FILEINFO=='上传中'" src="./editingCenter/newspaper/images/loading2.gif" />
                                            <span ng-bind="file.FILEINFO" class="text"></span>
                                            <!-- <div class="progress file-progress" ng-show="!file.PERPICURL">
                                            <span class="percentage" ng-style="{'width':file.progressPercentage}"></span>
                                            </div> -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <button type="submit" class="btn btn-success btn-xs website-upload-btn" ng-click="fileSubmit()" ng-disabled="status.isUploaderFile==false">
                                                <span class="glyphicon glyphicon-upload"></span> 上传
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--流程版本开始-->
        <div class='timeline row_news' ng-if="status.isEdit" id="section-3">
            <div class="subject-title mt20">流程版本</div>
            <tabset class="m_nav_3 mt20">
                <tab heading="评审意见">
                    <div class="m_box_2 edit_versionTime_comment">
                        <trs-timeline title="'评审意见'">
                            <timegroup tick="item.day" ng-repeat="item in data.comment.comment">
                                <timeitem tick="n.value.CRTIME" ng-repeat="n in item.times">
                                    <a class="minw80 comment_name" ng-bind="n.value.TRUENAME"></a>
                                    <a ng-bind="n.value.COMMENT" ng-if="n.value.COMMTYPE==1" class="comment_content"></a>
                                    <audio preload controls ng-src="{{trustUrl(data.comment.voiceObj[n.value.COMMENT])}}" ng-if="n.value.COMMTYPE==2"></audio>
                                    <!-- <span ng-bind="n.value.DURATION+' 秒'" class="comment_duration" ng-if="n.value.COMMTYPE==2"></span> -->
                                </timeitem>
                            </timegroup>
                        </trs-timeline>
                    </div>
                    <div class="websist_normal" ng-if="!data.comment.hasMore">没有更多了...</div>
                    <div data-ng-if="data.comment.hasMore" cg-busy="loadingPromise" class="website_timeline_load_more_2 text-center" ng-click="getLoadMoreComment()">
                        <img src="./editingCenter/website/images/images/newTab_2.png" /> 点击展开更多
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="Iw-box-fix box-fix-bt">
            <div class="txt_r">
                <button class="btn btn-primary" ng-repeat="btn in arrayBtn track by $index" ng-click="handleBtnClick(btn.OPERFUN)" ng-disabled="!status.openBtn">
                    <span class="s_icon">
                    <img ng-src="./editingCenter/website/images/b{{btn.RIGHTINDEX}}.png"></span> {{btn.OPERDESC}}
                </button>
            </div>
        </div>
    </div>
</form>
