<div class="new-wb-bk lf" ng-controller="latestArticlesCtrl">
    <div class="weibo-tit zb-zx-wz"><span>最新文章</span>
    </div>
    <div class="new-wb-tit" >
        <div style="position: relative;width: 495px;overflow: hidden;float: left;height: 29px;">
            <div style="position: absolute;" change num="1" ele="zxChange" width="495">
                <a href="" checked="lg-sel-cur" class="lg-sel-btn lg-sel-cur" 
                   ng-click="queryLatestArticle();">全部</a>
                <a href="" ng-repeat="class in classs" class="lg-sel-btn" checked="lg-sel-cur" 
                   ng-click="queryLatestArticle(class.ClassName);">{{class.ClassName}}</a>
            </div>
        </div>
        <div>
            <a href class="wb-go-btn" id="zxChange"></a>
        </div>
    </div>
    <div class="league-deal-list" style="padding-top: 4px;height: 509px;">
        <a href class="wb-add-btn" ng-click="more();"></a>
        <div class="wb-ls-bk" ng-repeat="content in contents">
            <div class="wb-gf-img wb-ls-img"><img ng-src="{{content.headPicUrl}}" alt=""></div>
            <div class="new-wb-deal">
                <div class="ls-con-tit">
                    <a href class="rw_my_hcolor lf">{{content.title}}</a>
                    <div class="wb-deal-name rt">
                        <a href>{{content.accountUnit}}</a>
                    </div>
                </div>
                <a href="#" class="new-wb-p">{{content.content}}</a>
                <div class="wx-yx-ct lf">
                    <p class="my_mdsr_dt lf"><span class="my_mdate">{{content.crtime}}</span></p>
                    <ul>
                        <li>评论<span>{{content.commentNum}}</span></li>
                        <li class="no-br">{{content.likesNum}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>