.reseource-observe-window .modal-dialog {
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 80%;
    margin: auto;
}

.reseourceObserve {
    width: 400px;
    min-height: 420px;
    border: 2px solid #E1DFDB;
    border-radius: 4px;
}

.reseourceObserve .head {
    height: 40px;
}

.reseourceObserve .head span {
    position: relative;
    top: 10px;
    font-weight: bold;
    left: 10px;
}

.reseourceObserve .head img {
    position: relative;
    top: 8px;
    left: 300px;
    cursor: pointer;
}

.reseourceObserve .search {
    height: 60px;
    background-color: #F0F2F4;
}

.reseourceObserve .search span {
    position: relative;
    float: left;
    top: 20px;
    left: 20px;
}

.reseourceObserve .search input {
    width: 260px;
    position: relative;
    top: 12px;
    left: 30px;
}

.reseourceObserve .body {
    height: 440px;
}

.reseourceObserve .body .right {
    width: 365px;
    height: 334px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #E4E2DE;
    float: left;
}

.reseourceObserve .body .right .tree {
    padding-top: 10px;
    overflow-y: auto;
    height: 310px;
    padding-left: 30px;
    overflow-x: hidden;
}

.reseourceObserve .body .right .tree .checkbox {
    display: initial;
}

.reseourceObserve .body .right .tree .checkbox label {
    padding: 6px;
}

.reseourceObserve .body .right .tree .checkbox .regular-checkbox:checked + label:after {
    top: 0px;
    left: 0px
}

.reseourceObserve .body .right .head {
    height: 26px;
    background-color: #0095CE;
}

.reseourceObserve .body .right .head span {
    top: 2px;
    color: white;
    left: 4px;
    cursor: pointer;
}

.reseourceObserve .body .right .head img {
    position: initial;
    margin-left: 20px;
}

.reseourceObserve .body .left {
    height: 334px;
    width: 182px;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #E4E2DE;
    padding-left: 5px;
    overflow: scroll;
}

.reseourceObserve .body .main {
    overflow: hidden;
}

.reseourceObserve .body .left span.myLabel {
    font-size: 14px;
    border: 1px solid #E4E2DE;
    padding: 5px;
    height: 28px;
    line-height: 15px;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
}

.reseourceObserve .body .left span.myClose {
    cursor: pointer;
}

.reseourceObserve .body .foot {
    height: 55px;
    position: relative;
    top: 345px;
}

.reseourceObserve .body .foot div {
    position: relative;
    top: -330px;
    overflow: hidden;
}

.reseourceObserve treecontrol li {
    line-height: 30px;
    width: 550px;
}

.reseourceObserve treecontrol li .tree-label span.selected {
    font-weight: bold;
}

.reseourceObserve treecontrol.tree-light li .tree-selected {
    font-weight: normal;
}

.reseourceObserve treecontrol li .tree-label {
    position: relative;
    top: -5px;
}

.reseourceObserve treecontrol.tree-light li.tree-collapsed i.tree-branch-head {
    padding: 3px 10px;
    background: url("./editingCenter/app/images/m1-l.png") no-repeat !important;
}

.reseourceObserve treecontrol.tree-light li.tree-expanded i.tree-branch-head {
    background: url("./editingCenter/app/images/m2-l.png") no-repeat;
}

.reseourceObserve .body .foot button.confirm {
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: #4496d2;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    padding: 0px;
}

.reseourceObserve .body .foot button.cancel {
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    border-color: #C1C1C1!important;
    background-color: #C1C1C1!important;
}

.reseourceObserve .body .foot .button {
    left: 160px;
    margin-top: 10px;
}

.reseourceObserve trs-single-radio .regular-radio + label {
    cursor: pointer;
}

.reseourceObserve .body .foot .selected {
    width: 300px;
    position: relative;
    left: 30px;
}

.reseourceObserve .body .foot .selected .chnldesc {
    font-size: 13px;
}

.reseourceObserve .body .foot .selected .myClose {
    cursor: pointer;
}

.reseourceObserve .body .foot .selected .selectedSpan {
    font-size: 14px;
    border: 1px solid #E4E2DE;
    padding: 5px;
    height: 28px;
    line-height: 15px;
    border-radius: 10px;
    margin-top: 0px;
    margin-right: 5px;
    display: inline-block;
    float: left;
}
