.zp-layout-rank-window .modal-content{
    margin: 0px auto;
    width: 479px;
    border: 4px solid #DDD;
    top: 130px;
}

.layout-rank-container {
    width: 466px;
    height: 340px;
    background: #FFF;
    margin: 2px 2px;
    border-radius: 6px;
}

.layout-rank-head {
    height: 72px;
    padding-top: 6px;
}

.layout-rank-head p.tit {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-left: 18px;
    line-height: 20px;
    margin-bottom: 0px;
}

.layout-rank-head img {
    cursor: pointer;
    float: right;
    margin-right: 8px;
    margin-top: -18px;
}

.layout-rank-head .dropdown {
    margin-top: 6px;
    margin-left: 17px;
}

.layout-rank-head .dropdown .bth-fix {
    width: 280px;
}

.layout-rank-head .dropdown .dropdown-menu{
	width: 280px;
}

.layout-rank-body {
    height: 220px;
}

.layout-rank-body .rank-operate {
    height: 40px;
    background: #f1f2f4;
    padding-top: 10px;
    padding-left: 18px;
}

.layout-rank-body .rank-operate img{
	cursor: pointer;
	margin-right: 10px;
	float: left;
}
.layout-rank-body ul {
    margin-left: 0px;
    height: 180px;
	overflow-y:auto;
	border:1px solid #ccc;
}

.layout-rank-body ul li {
    list-style: none;
    line-height: 26px;
    padding-left: 12px;
    cursor: pointer;
}

.layout-rank-body ul li.active{
	background: #4496d2;
	color:#fff;
}

.layout-rank-footer{
    background: #f1f2f4;
    padding-bottom: 10px;
    padding-top: 14px;
    padding-left: 305px;
}

.layout-rank-footer .new-role-btn{
    width: 64px;
    height: 24px;
    line-height: 24px;
    background: #4496d2;
    color: #fff;
    text-align: center;
    border: none;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 12px;
}