<div trs-scroll-fix class="row edit_right_head">
    <div class="col-md-8 col-lg-9">
        <div class="btn-group" role="group" ng-if="status.btnRights['app.daishen.qianfa']">
            <button type="button" class="btn btn-default dropdown-toggle btn-commen opacity100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="data.selectedArray.length==0" ng-mouseenter="status.batchOperateBtn['hoverStatus']='sign'" ng-mouseleave="status.batchOperateBtn['hoverStatus']=''">
                <span class="s_icon"><img ng-src="./editingCenter/app/images/{{status.batchOperateBtn['hoverStatus']=='sign'&&data.selectedArray.length>0?'b5-1.png':'b5.png'}}" /></span> 签发
                <span class="pulldown_icon"></span>
            </button>
            <ul class="dropdown-menu edit_dropdown_menu">
                <li><a href="javascript:void(0)" ng-click="directSigned()">直接签发</a></li>
                <li><a href="javascript:void(0)" ng-click="timeSinged()">定时签发</a></li>
            </ul>
        </div>
        <button class="btn btn-default btn-commen opacity100" ng-click="revoke()" ng-disabled="data.selectedArray.length==0" ng-mouseenter="status.batchOperateBtn['hoverStatus']='revoke'" ng-mouseleave="status.batchOperateBtn['hoverStatus']=''" ng-if="status.btnRights['app.daishen.tuigao']">
            <span class="s_icon"><img ng-src="./editingCenter/app/images/{{status.batchOperateBtn['hoverStatus']=='revoke'&&data.selectedArray.length>0?'zm38-1.png':'zm38.png'}}" ng-click="rejection()"/></span> 撤稿
        </button>
        <button class="btn btn-default btn-commen hidden-operate opacity100" ng-click="draftlist()" ng-disabled="data.selectedArray.length==0" ng-mouseenter="status.batchOperateBtn['hoverStatus']='draftlist'" ng-mouseleave="status.batchOperateBtn['hoverStatus']=''" ng-if="status.btnRights['app.daishen.fgd']">
            <span class="s_icon"><img ng-src="./editingCenter/iWo/images/{{status.batchOperateBtn['hoverStatus']=='draftlist'&&data.selectedArray.length>0?'i39-1.png':'i39.png'}}" /></span> 发稿单
        </button>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle btn-commen opacity100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="data.selectedArray.length==0" ng-mouseenter="batchOperateBtn['hoverStatus']='more'" ng-mouseleave="batchOperateBtn['hoverStatus']=''">
                <span class="s_icon"><img ng-src="./editingCenter/app/images/{{batchOperateBtn['hoverStatus']=='more'&&data.selectedArray.length>0?'b8-1.png':'b8.png'}}"></span> 更多
                <span class="pulldown_icon"></span>
            </button>
            <ul class="dropdown-menu edit_dropdown_menu">
                <li ng-if="status.btnRights['app.daishen.yidong']"><a ng-click="move()">移动</a></li>
                <li ng-if="status.btnRights['app.daishen.waifa']"><a ng-click="outSending()">邮件外发</a></li>
                <li><a ng-click="exportDraft()">导出</a></li>
                <li ng-if="status.btnRights['app.daishen.shoucang']"><a ng-click="collect()">收藏</a></li>
                <li><a ng-click="print()">打印</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-lg-3">
        <ol class="breadcrumb pull-right edit_breadcrumb">
            <trs-nav-location is-all-route="isAllRoute"></trs-nav-location>
        </ol>
    </div>
</div>
<div class="row edit_right_mid app-selectedTimeType">
    <div class="col-md-5 app-selected">
        <span class="s_onlyme">只看我的</span>
        <trs-radio ckstatus="status.onlyMine" ckcallback="isOnlyMine()"></trs-radio>
        <trs-single-select selected-option="data.selectedDocType" callback="queryDropDown('DocType',data.selectedDocType.value)" options="data.docTypeJsons"></trs-single-select>
        <trs-time-select selected-option="data.selectedTimeType" options="data.timeTypeJsons" callback="queryDropDown('timeType',data.selectedTimeType.value)" fromdate="data.fromdate" untildate="data.untildate"></trs-time-select>
    </div>
    <div class="col-md-7">
        <div class="input-group edit_input_group">
            <input type="text" class="form-control edit_form_control" placeholder="请输入关键词检索"  ng-model="keywords" ng-keypress="fullTextSearch($event)">
            <span class="input-group-btn">
            <button class="btn btn-default btn_edit_search" type="button" ng-click="fullTextSearch()">搜索</button>
          </span>
        </div>
        <trs-single-select class="pull-right" callback="" selected-option="data.selectedClassify" options="data.classifyJsons"></trs-single-select>
        <trs-single-select class="pull-right" ng-show="status.isESSearch" selected-option="data.sortType" callback="queryDropDown('', data.sortType.value)" options="data.sortTypeJsons"></trs-single-select>
    </div>
</div>
<div class="edit_table">
    <table class="table table-striped data-table black-box">
        <thead>
            <tr>
                <th class="td-check w90 txt_l">
                    <trs-checkbox ischecked="data.selectedArray.length==data.items.length&&data.items.length>0" callback="selectAll()"></trs-checkbox>
                </th>
                <th class="xcol-newspaper-id">稿件ID</th>
                <th>标题</th>
                <!-- <th>图示</th> -->
                <th class="xcol-newspaper-type">类型</th>
                <!--  <th class="xcol-newspaper-column">栏目</th> -->
                <th class="xcol-newspaper-releaseBuild">操作人</th>
                <th class="xcol-newspaper-date">最后版本时间</th>
                <th class="xcol-newspaper-state">状态</th>
                <th class="xcol-newspaper-operation">操作</th>
                <th class="xcol-newspaper-picture">图示</th>
            </tr>
        </thead>
        <tbody trs-thumb-container>
            <tr ng-repeat="item in data.items">
                <td class="td-check">
                    <trs-checkbox ischecked="data.selectedArray.indexOf(item)<0?false:true" callback="selectDoc(item)"></trs-checkbox>
                    {{(page.CURRPAGE-1)*(page.PAGESIZE)+$index+1}}
                </td>
                <!--稿件ID-->
                <td class="xcol-newspaper-id">
                    {{item.METADATAID}}
                </td>
                <!--标题-->
                <td class="ta-l"><a ui-sref="appPreview({channelid:status.channelId,chnldocid:item.CHNLDOCID,siteid:status.siteId,metadataid:item.METADATAID,platform:1,doctype:(item.DOCTYPEID-1)})" target="_blank">{{item.TITLE}}</a></td>
                <!--类型-->
                <td ng-bind="item.DOCTYPE"></td>
                <!--创建人-->
                <td ng-bind="item.TRUENAME"></td>
                <!--最后版本时间-->
                <td ng-bind="item.OPERTIME" class="pointer" ng-click="showVersionTime(item)"></td>
                <!--状态-->
                <td ng-bind="item.WEBSTATUSNAME"></td>
                <!--操作-->
                <td>
                    <a ui-sref="{{data.editPath[item.DOCTYPEID]}}({channelid:status.channelId,chnldocid:item.CHNLDOCID,siteid:status.siteId,metadataid:item.METADATAID,platform:1,doctype:(item.DOCTYPEID-1)})" target="_blank" title="编辑" ng-if="status.btnRights['app.daishen.bianji']">
                        <img src="./editingCenter/app/images/r1.png">
                    </a>
                </td>
                <td class="edit-icon-td">
                    <trs-thumb item="item" transform="editingCenterAllThumb"></trs-thumb>
                </td>
            </tr>
        </tbody>
        <div cg-busy="loadingPromise"></div>
    </table>
    <div class="page">
        <trs-pagenation-left page-count="page" callback="selectPageNum()" is-select-pagecount="true"></trs-pagenation-left>
        <pagination total-items="page.ITEMCOUNT" ng-change="pageChanged()" ng-model="page.CURRPAGE" max-size="6" class="pagination-sm page_left" boundary-links="true" items-per-page="page.PAGESIZE" rotate="false" num-pages="page.PAGECOUNT" first-text="首页" previous-text="上一页" next-text="下一页" last-text="末页"></pagination>
        <trs-pagenation-right callback="jumpToPage()" currpage="data.copyCurrPage" page="page"></trs-pagenation-right>
    </div>
</div>
