<div class="myManuSubmit md_size">
    <div class="submit">
        <div class="header">
            <p>新建分组</p>
            <img ng-click="close()" src="./editingCenter/app/toBeCompiled/images/cls.jpg">
        </div>
        <div class="content">
            <div class="mc-padding-top-xs bg_f0f2f5 plr10">
                <input type="text" style="line-height: normal;" class="form-control" ng-model="groupName" placeholder="请在此填写分组名称" />
            </div>
            <div class="footer">
                <button class="btn btn-primary btn_cancel" ng-click="close()">取消</button>
                <button class="btn btn-primary btn_confirm" ng-click="save()">创建</button>
            </div>
        </div>
    </div>
</div>
