.content-container-box {
    /*border-top: 1px solid #ddd;*/
}
.myzone-personalInfo-changePwd .changePwd_container{
    width: 560px;
    margin-top: 20px
}
.myzone-personalInfo-changePwd .changePwd_form_container {
    border: 1px solid #d3d3d3;
    border-bottom: none;
}
.myzone-personalInfo-changePwd .changePwd_form_row {
    height: 50px;
    border-bottom: 1px solid #d3d3d3;
}
.myzone-personalInfo-changePwd .changePwd_form_row > p,
.myzone-personalInfo-changePwd .changePwd_form_row > div {
    display: inline-block;
    height: 100%;
    line-height: 50px;
}
.myzone-personalInfo-changePwd .changePwd_form_row > p {
    background: #f1f2f6;
    font-weight: bold;
    width: 30%;
    margin: 0;
    text-align: right;
    border-right: 1px solid #d3d3d3;
    padding-right: 20px;
}
.myzone-personalInfo-changePwd .changePwd_form_row > div {
    width: 69%;
    padding: 0 20px;
}
.myzone-personalInfo-changePwd .changePwd_form_row > div >input.form-control {
    height: 30px;
}
.myzone-personalInfo-changePwd .changePwd_footer_btn_group {
    text-align: center;
    height: 100px;
    line-height: 100px;
}
.myzone-personalInfo-changePwd .changePwd_save_btn {
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: #fff;
    border: none;
    background: #4496d2;
    font-size: 16px;
    border-radius: 4px;
}