<div class="websiteBatChooseChnl">
    <div class="head">
        <span ng-bind="modalTitle"></span>
        <img ng-click="cancel()" src="./editingCenter/app/toBeCompiled/images/cls.jpg">
    </div>
    <div class="search">
        <span>栏目</span>
        <input ng-model="searchChannel" watch-options='true' bs-options="sChannel as sChannel.SUGGESTION for sChannel in getSuggestionsSc($viewValue)" bs-typeahead type="text" class="form-control" placeholder="请输入关键词搜索" limit="30">
    </div>
    <div class="body">
        <div class="main">
            <div class="right">
                <div class="head">
                    <img ng-click="status.ifExpand = !status.ifExpand" src="./editingCenter/app/images/{{status.ifExpand?'m2-2-0.png':'m1-1-0.png'}}"><span ng-click="status.ifExpand = !status.ifExpand" ng-bind="SITEDESC"></span>
                </div>
                <div class="tree" ng-show="status.ifExpand">
                    <treecontrol selected-node="selectedNode" expanded-nodes="expandedTest" class="tree-light" on-node-toggle="showToggle(node)" tree-model="dataForTheTree" options="treeOptions" on-selection="showSelected(node)">
                        <!-- <input ng-click="chooseChannel($event,node)" ng-show="node.PARENTID!='0'" ng-checked="isChecked(node)" type="checkbox" /><span ng-bind='node.CHNLDESC || node.SITEDESC'></span> -->
                        <trs-checkbox class="checkbox" ischecked="ifSelected(node)" ng-show="node.CHANNELID!=undefined" callback="chooseChannel(node)"></trs-checkbox><span ng-bind='node.CHNLDESC' class="{{node.selected==true?'selected':''}}" ng-click="chooseChannel(node)"></span>
                    </treecontrol>
                </div>
            </div>
            <div class="left">
                <span ng-repeat="channel in selectedChannels" class="myLabel">
                <span title="{{channel.CHNLDESC}}" ng-bind="channel.CHNLDESC | limitTo:10"></span>
                <span ng-click="cancelChannel(channel)" class="myClose">X</span>
                </span>
            </div>
        </div>
        <div class="foot">
            <div class="singleRadio" ng-if="!!radio">
                <span>{{radio.label}}：</span>
                <span ng-repeat="(key,value) in radio.enumValue"><trs-single-radio group="'radio'" ischecked="radioIsChecked(value)" callback="chooseRadio(value)"></trs-single-radio>&nbsp;<span ng-bind="key"></span>&nbsp;&nbsp;</span>
            </div>
            <div class="button">
                <button class="confirm" ng-click="confirm()">确定</button>
                <button class="cancel" ng-click="cancel()">取消</button>
            </div>
        </div>
    </div>
</div>
