<div class="man_produ_modify">
    <div class="man_produ_modify_head">
        <p>删除 {{chnlName}}</p>
        <img src="./editingCenter/app/toBeCompiled/images/cls.jpg" class="edit_revoke_thead_images1"
             ng-click="cancel()"/>
    </div>
    <div class="man_produ_sensitive_delete">
        您是否确认删除！
    </div>
    <div class="man_produ_modify_footer">
        <button class="news-role-btn btn_cancel" ng-click="cancel()">取消</button>
        <button class="news-role-btn-success man_produ_modify_footer_cancel btn_confirm" ng-click="confirm()">删除</button>
    </div>
</div>