<form name="websiteSensitiveBatchAddForm" novalidate>
    <div class="man_produ_modify">
        <div class="man_produ_modify_head">
            <p>批量添加敏感词</p>
            <img src="./editingCenter/app/toBeCompiled/images/cls.jpg" class="edit_revoke_thead_images1"
                 ng-click="cancel()"/>
        </div>
        <div class="man_produ_sensitive_batch_add">
            <div>
                <span class="top_span">敏感词：</span>
                <div class="invalidate-input-box">
                    <textarea class="man_produ_sensitive_textarea form-control" ng-model="sensitiveArray" validator="required,sensitiveWords"  ng-mouseenter="isShowTipsA=true" ng-mouseleave="isShowTipsA=false" is-show-tips="isShowTipsA"></textarea>
                </div>
            </div>
            <div>
                <span class="sensitive_batch_add_span">敏感级别：</span>
                <trs-single-select selected-option="sensitiveLevel" callback="choseLevel()" options="sensitiveLevelJsons"></trs-single-select>
            </div>
            <hr/>
            <div>
            <span class="top_span">
                敏感词要求：
            </span>
                <ol>
                    <li>要求每行一个敏感词条目</li>
                    <li>请使用英文标点，参数之间用英文“,”隔开</li>
                    <li>敏感级别由数字1，2代替，1 一般；2 严重</li>
                </ol>
            </div>
        </div>
        <div class="man_produ_modify_footer">
            <button class="news-role-btn-success man_produ_modify_footer_cancel btn_cancel" ng-click="cancel()">取消</button>
            <button class="news-role-btn btn_confirm" ng-click="confirm()">确定</button>
        </div>
    </div>
</form>