.resource-publishLive .modal-dialog {
    width: 700px;
    height: 400px;
}

.resource-publishLive .modal-content {
    position: relative;
    background: #f1f2f4;
}

.resource-publishLive .modal-content .live {
    width: 698px;
    border: 4px solid #dddddd;
}

.resource-publishLive .modal-content .header {
    height: 40px;
    background: #fff;
}

.resource-publishLive .modal-content .header p {
    float: left;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
}

.resource-publishLive .modal-content .header img {
    float: right;
    margin-right: 10px;
    margin-top: 12px;
    width: 18px;
    height: 18px;
    border: 0;
    cursor: pointer;
}

.resource-publishLive .modal-content .main {
    /*overflow: hidden;*/
}

.resource-publishLive .modal-content .main .children {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}

.resource-publishLive .modal-content .main .children p {
    float: left;
    font-size: 12px;
    color: #666460;
    margin: 0px;
    text-align: center;
}

.resource-publishLive .modal-content .main .children .dropdown .bth-fix {
    width: 530px;
}

.resource-publishLive .modal-content .main .children .con {
    float: left;
    margin-left: 15px;
    width: 80%;
    position: relative;
    font-size: 12px;
}

.resource-publishLive .modal-content .main .children .con input {
    width: 530px;
    height: 28px;
    /* border: 1px solid #d0cdc7; */
    text-indent: 10px;
    font-size: 12px;
    color: #666460;
    line-height: 28px;
    padding: 0px;
    float: left;
}

.resource-publishLive .modal-content .main .children .con textarea {
    height: 65px;
    width: 530px;
    resize: none;
}

.resource-publishLive .modal-content .main .children .con .timeGroup {
    float: left;
    width: 130px;
}

.resource-publishLive .modal-content .main .children .con .timeGroup input {
    width: 128px;
    height: 33px;
    border: 1px solid #cecece;
    border-radius: 3px 3px;
    padding: 0px;
    text-indent: 10px;
}

.resource-publishLive .modal-content .main .children .con .timeGroup input.form-control[readonly] {
    background: #fff;
}

.resource-publishLive .modal-content .main .children .con .timeGroup img {
    width: 15px;
    height: 15px;
    border: 0;
    position: absolute;
    top: 50px;
    left: 106px;
}
.resource-publishLive .modal-content .main .children .con .timeGroup img.imgDate{
	left: 106px;
	top:10px;
}
.resource-publishLive .modal-content .main .children .con .timeGroup img.imgTime{
	left: 252px;
	top:10px;
}
.resource-publishLive .modal-content .footer{
	margin-top: 20px;
	width: 100%;
	overflow:hidden;
	margin-bottom: 20px;
}
.resource-publishLive .modal-content .footer button.submit{
	width: 114px;
	height: 30px;
	border: none;
	border-radius: 4px;
	background: #28a3df;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	float: right;
	margin-right: 30px;
}
.resource-publishLive .modal-content trs-single-radio span{
	padding-top: 0px;
	line-height: 27px;
}
.resource-publishLive .modal-content .main .children .dropdown ul li{
    width: 530px;
}