<div trs-scroll-fix class="row edit_right_head">
    <div class="col-md-9">
        <button class="btn btn-default btn-commen opacity100" ng-disabled="data.selectedArray.length==0" ng-click="restore()" ng-mouseenter="status.batchOperateBtn['hoverStatus']='restore'" ng-mouseleave="status.batchOperateBtn['hoverStatus']=''" ng-if="status.btnRights['wechat.recyclemgr.delete']">
            <span class="s_icon">
                <img ng-src="./editingCenter/app/images/{{status.batchOperateBtn['hoverStatus']=='restore'&&data.selectedArray.length>0?'fg1-1.png':'fg1.png'}}">
            </span> 还原
        </button>
        <button class="btn btn-default btn-commen opacity100" ng-disabled="data.selectedArray.length==0" ng-click="deleteItems()" ng-mouseenter="status.batchOperateBtn['hoverStatus']='deleteItems'" ng-mouseleave="status.batchOperateBtn['hoverStatus']=''" ng-if="status.btnRights['wechat.recyclemgr.delete']">
            <span class="s_icon">
                <img ng-src="./editingCenter/app/images/{{status.batchOperateBtn['hoverStatus']=='deleteItems'&&data.selectedArray.length>0?'fg2-1.png':'fg2.png'}}" />
            </span> 删除
        </button>
        <button class="btn btn-default btn-commen opacity100 vx_btn" ng-click="clearTrash()" ng-mouseenter="status.batchOperateBtn['hoverStatus']='clearTrash'" ng-mouseleave="status.batchOperateBtn['hoverStatus']=''">
            <span class="s_icon" ng-if="status.btnRights['wechat.recyclemgr.clear']">
                <img ng-src="./editingCenter/app/images/{{status.batchOperateBtn['hoverStatus']=='clearTrash'?'fg3-1.png':'fg3.png'}}" />
            </span> 清空回收站
        </button>
    </div>
    <div class="col-md-3">
        <ol class="breadcrumb pull-right edit_breadcrumb">
            <li>
                <span ng-bind="status.currChannel|trsLimitTo:10" title="{{status.currChannel}}"></span>
                <span>废稿箱</span>
            </li>
        </ol>
    </div>
</div>
<div class="row edit_right_mid">
    <span class="s_onlyme">只看我的</span>
    <trs-radio ckstatus="status.onlyMine" ckcallback="isOnlyMine()"></trs-radio>
    <!-- 自定义时间 -->
    <trs-time-select selected-option="data.timeType" callback="queryByDropdown('timeType',data.timeType.value)" options="data.timeTypeJsons" fromdate="data.fromdate" untildate="data.untildate"></trs-time-select>
    <div class="input-group edit_input_group mr15">
        <input type="text" class="form-control edit_form_control" placeholder="请输入关键字搜索" ng-model="keywords" ng-keypress="fullTextSearch($event)">
        <span class="input-group-btn">
                <button class="btn btn-default btn_edit_search" type="button" ng-click="fullTextSearch()">搜索</button>
        </span>
    </div>
    <trs-single-select selected-option="data.iWoAllSelected" options="data.iWoAll" class="pull-right"></trs-single-select>
    <trs-single-select class="pull-right" ng-show="status.isESSearch" selected-option="data.sortType" callback="queryByDropdown('', data.sortType.value)" options="data.sortTypeJsons"></trs-single-select>
</div>
<div class="edit_table border_radius_5">
    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th class="td-check vx_selectBox">
                    <trs-checkbox ischecked="data.items.length != 0 && data.selectedArray.length==data.items.length" callback="selectAll()"></trs-checkbox>
                </th>
                <th class="vx_no">序号</th>
                <th>标题</th>
                <th class="vx_delete">删除人</th>
                <th class="vx_deleteTime">删除时间</th>
                <th class="vx_operate">操作</th>
                <!-- <th class="vx_icon">图示</th> -->
            </tr>
        </thead>
        <tbody trs-thumb-container>
            <tr ng-repeat="item in data.items">
                <td class="td-check">
                    <trs-checkbox ischecked="data.selectedArray.indexOf(item)<0?false:true" callback="selectDoc(item)"></trs-checkbox>
                </td>
                <!--全选-->
                <td class="vx_no">
                    <span ng-bind="(page.CURRPAGE-1)*page.PAGESIZE+$index+1"></span>
                </td>
                <!--序号-->
                <td class="vx_con">
                    <a ui-sref="wxPreview({channelid:status.params.ChannelId,chnldocid:item.CHNLDOCID,metadataid:item.METADATAID,platform:3,status:3})" target="_blank" title="{{item.TITLE}}" ng-bind="item.TITLE"></a>
                </td>
                <!--标题-->
                <td ng-bind="item.OPERNAME"></td>
                <!--删除人-->
                <td ng-bind="item.OPERTIME" class="pointer" ng-click="showVersionTime(item)"></td>
                <!--删除时间-->
                <td>
                    <!--操作-->
                    <a title="还原" ng-click="restore(item)" target="_blank" ng-if="status.btnRights['wechat.recyclemgr.delete']">
                        <img src="./editingCenter/app/images/fg-r.png">
                    </a>
                </td>
                <!-- <td class="edit-icon-td">
                    <trs-thumb item="item" transform="editingCenterAllThumb"></trs-thumb>
                </td> -->
                <!-- 图示 -->
            </tr>
        </tbody>
    </table>
    <div class="page">
        <trs-pagenation-left page-count="page" callback="selectPageNum()" is-select-pagecount="true"></trs-pagenation-left>
        <pagination total-items="page.ITEMCOUNT" ng-change="pageChanged()" ng-model="page.CURRPAGE" max-size="6" class="pagination-sm page_left" boundary-links="true" items-per-page="page.PAGESIZE" rotate="false" num-pages="page.PAGECOUNT" first-text="首页" previous-text="上一页" next-text="下一页" last-text="末页"></pagination>
        <trs-pagenation-right callback="jumpToPage()" page="page" currpage="status.copyCurrPage"></trs-pagenation-right>
    </div>
    <div cg-busy="loadingPromise"></div>
</div>
