<div class="modal-content">
      <div class="modal-header widget_title">
        <a href="" class="u_back_btn pull-left">&lt;</a>
        <h4>密码重置</h4>
      </div>
      <div class="widget_content">
          <div class="rows">
            <div class="row_1">
              <span>碎片名称：</span>
              <input type="text" placeholder="碎片名称" ng-model="item.title">
              <trs-word-num num-obj="{{item.title}}" class="fonts_size"></trs-word-num>
            </div>
            <div class="row_1">
              <textarea placeholder="代码"></textarea>
            </div>
          </div>
      </div>
      <div class="widget_footer">
        <button type="button" class="btn u_btn_gray btn_cancel" data-dismiss="modal" ng-click="cancel()">取消</button>
        <button type="button" class="btn u_btn_gray btn_confirm">保存</button>
      </div>
</div>