<div class="m_timeline">
	<div class="time_tick">
		<h5 class="clock">流程版本</h5>
	</div>
	<div class="time_bd">
		<div class="time_group">
			<div class="time_tick">
				<h5 class="circle">今天</h5>
			</div>
			<div class="time_item">
				<div class="time_tick">
					<span class="circle2">15:30</span>
				</div>
				<div class="time_item_cnt">
					事件11111事件的的点点滴滴
				</div>
			</div>
			<div class="time_item">
				<div class="time_tick">
					<span class="circle2">15:30</span>
				</div>
				<div class="time_item_cnt">
					<ul>
						<li>签发</li>
						<li>待编平台——头条频道</li>
						<li>施云</li>
						<li><a href="">流程版本</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="time_group">
			<div class="time_tick">
				<h5 class="circle">昨天</h5>
			</div>
			<div class="time_item">
				<div class="time_tick">
					<span class="circle2">15:30</span>
				</div>
				<div class="time_item_cnt">
					<img src="http://img2.imgtn.bdimg.com/it/u=3775431206,226446371&fm=15&gp=0.jpg" alt="">
				</div>
			</div>
			<div class="time_item">
				<div class="time_tick">
					<span class="circle2">15:30</span>
				</div>
				<div class="time_item_cnt">
					<ul>
						<li>签发</li>
						<li>待编平台——头条频道</li>
						<li>施云</li>
						<li><a href="">流程版本</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


