.productManageMent-website-delete-view .modal-dialog{
    width: 400px;
}
.productManageMent-website-delete-view .man_produ_column_delete{
    background: #F0F2F5;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}
.productManageMent-website-delete-view .man_produ_delete_footer{
    padding: 3px 10px 10px 300px;
}
.productManageMent-website-delete-view .man_produ_delete_footer button{
    width: 80px;
    height: 30px;
    background: #4496d2;
    color: #fff;
    text-align: center;
    border: none;
    margin-left: 10px;
    border-radius: 4px;
    font-size: 12px;
}
.productManageMent-website-delete-view textarea {
    width: 385px;
    max-width: 385px;
    height: 200px;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 1px;
    resize: none;
    display: inline-block;
    padding: 10px;
}