<div class="event_track ">
    <div class="calendar calendar_clear_height">
        <div class="calendar_head">
            <b>媒体声量统计</b>
        </div>
        <div class="calendar_content hot_head_line_calendar">
            <!--  <div class="hot_head_line_tl">
                各媒体平台声量
            </div>
            <div class="hot_head_line_detail">
                <div ng-repeat="volumeSum in volumeSums" class="slide-left">
                    <p ng-bind="volumeSum.NAME"></p>
                    <span ng-bind="volumeSum.VALUE"></span></div>
            </div> -->
            <trs-no-equidistant-line></trs-no-equidistant-line>
        </div>
    </div>
    <div class="calendar calendar_clear_height">
        <div class="calendar_head">
            <b>集团报道统计</b>
        </div>
        <div class="calendar_content hot_head_line_calendar">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <img src="./planningCenter/eventAnalyse/eventTrack/images/t1.png" width="100%" height="100%" />
                    </div>
                    <div>
                        <div class="event_track_group_statistics_left">
                            <div>
                                <span>报纸：</span>
                                <div>
                                    <div class="group_statistics_item group_statistics_item_active">浙江日报 <span>16</span>
                                    </div>
                                    <div class="group_statistics_item">人民日报 <span>11</span></div>
                                </div>
                            </div>
                            <div>
                                <span>网站：</span>
                                <div>
                                    <div class="group_statistics_item">浙江集团官网 <span>13</span></div>
                                    <div class="group_statistics_item">钱报网 <span>16</span></div>
                                    <div class="group_statistics_item">海宁新闻网 <span>19</span></div>
                                    <div class="group_statistics_item">永康新闻网 <span>8</span></div>
                                </div>
                            </div>
                            <div>
                                <span>APP：</span>
                                <div>
                                    <div class="group_statistics_item">浙江新闻 <span>14</span></div>
                                    <div class="group_statistics_item">浙江24小时 <span>18</span></div>
                                </div>
                            </div>
                            <div>
                                <span>微博：</span>
                                <div>
                                    <div class="group_statistics_item">腾讯·浙江在线 <span>15</span></div>
                                    <div class="group_statistics_item">今日早报 <span>17</span></div>
                                    <div class="group_statistics_item">新浪·浙江在线 <span>120</span></div>
                                </div>
                            </div>
                            <div>
                                <span>微信：</span>
                                <div>
                                    <div class="group_statistics_item">东阳日报 <span>15</span></div>
                                    <div class="group_statistics_item">传媒评论 <span>8</span></div>
                                    <div class="group_statistics_item">今日早报 <span>16</span></div>
                                    <div class="group_statistics_item">今日突发 <span>12</span></div>
                                    <div class="group_statistics_item">海宁日报 <span>15</span></div>
                                    <div class="group_statistics_item">明生浙江 <span>1</span></div>
                                    <div class="group_statistics_item">钱江晚报 <span>5</span></div>
                                    <div class="group_statistics_item">知音 <span>16</span></div>
                                    <div class="group_statistics_item">故事会 <span>5</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="calendar calendar_clear_height event_track_group_newest_news">
                        <div class="calendar_head">
                            <b>集团媒体最新新闻</b>
                        </div>
                        <div class="calendar_content hot_head_line_calendar">
                            <div class="edit_table">
                                <table class="table table-striped table-condensed">
                                    <thead class="event_table_thead">
                                        <tr>
                                            <th>标题</th>
                                            <th>来源</th>
                                            <th>时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="hot_head_line_information">白百何腿受伤儿子推轮椅</td>
                                            <td>浙江日报</td>
                                            <td>13.24</td>
                                        </tr>
                                        <tr>
                                            <td class="hot_head_line_information">男子假冒军人连骗4女财色</td>
                                            <td>人民日报</td>
                                            <td>13.24</td>
                                        </tr>
                                        <tr>
                                            <td class="hot_head_line_information">一篇"感动13亿人的对话"</td>
                                            <td>人民日报</td>
                                            <td>13.24</td>
                                        </tr>
                                        <tr>
                                            <td class="hot_head_line_information">谢霆锋潮装现身</td>
                                            <td>人民日报</td>
                                            <td>13.24</td>
                                        </tr>
                                        <tr>
                                            <td class="hot_head_line_information">不忍直视！女子带儿子</td>
                                            <td>人民日报</td>
                                            <td>12.24</td>
                                        </tr>
                                        <tr>
                                            <td class="hot_head_line_information">选举失利 亲友轮流性侵</td>
                                            <td>人民日报</td>
                                            <td>07.25</td>
                                        </tr>
                                        <tr>
                                            <td class="hot_head_line_information">揭秘农民工临时夫妻：</td>
                                            <td>人民日报</td>
                                            <td>07.25</td>
                                        </tr>
                                        <tr>
                                            <td class="hot_head_line_information">凤姐绯闻男友发声愿以</td>
                                            <td>人民日报</td>
                                            <td>12.28</td>
                                        </tr>
                                        <tr>
                                            <td class="hot_head_line_information">坑!网友贪便宜买低价大虾</td>
                                            <td>人民日报</td>
                                            <td>12.28</td>
                                        </tr>
                                        <tr>
                                            <td class="hot_head_line_information">一化妆就变丑的女星：</td>
                                            <td>人民日报</td>
                                            <td>12.28</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="event_track_newest_page_group">
                                    <p>
                                        共<span>71</span>条记录,每页<span>10</span>条,共<span>3</span>页
                                    </p>
                                    <p>
                                        <img src="./planningCenter/images/ch9.png" />
                                        <img src="./planningCenter/images/ch10.png" />
                                        <input type="text" />
                                        <img src="./planningCenter/images/ch10-1.png" />
                                        <img src="./planningCenter/images/ch9-1.png" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar calendar_clear_height event_track_focus_reduction calendar_bottom_20_padding">
        <div class="calendar_head">
            <b>事件焦点还原</b>
        </div>
        <div class="calendar_content hot_head_line_calendar">
            <div class="row">
                <div class="col-md-7 focus_reduction_main_left">
                    <div>
                        <img ng-src="{{eveFocRedInfo.PICURL}}" width="100%" height="228px" />
                    </div>
                    <div>
                        <div class="calendar calendar_clear_height">
                            <div class="calendar_head">
                                <b>事件还原</b>
                            </div>
                            <div class="calendar_content hot_head_line_calendar">
                                <p class="evefocred" ng-bind="eveFocRedInfo.IR_ABSTRACT"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="eventList" class="col-md-5">
                    <div class="edit_table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:60%">标题</th>
                                    <th>来源</th>
                                    <th>时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in eveFocRedListInfo">
                                    <td class="hot_head_line_information">
                                        <a target="_blank" href="{{item.PUBURL}}" title="{{item.DOCTITLE}}" ng-bind="item.DOCTITLE | trsLimitTo:15"></a>
                                    </td>
                                    <td ng-bind="item.ZB_SOURCE_SITE"></td>
                                    <td ng-bind="myDataFormat(item.PUBTIME)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="eventAxis">
                <!-- <img src="./planningCenter/eventAnalyse/eventTrack/images/p2.png" width="100%" height="100%" /> -->
                <div class="eventAxis-head">
                    <div class="eventAxisUl" ng-style="eventAxisUl">
                        <div class="timenode" ng-repeat="item in eventAxia">
                            <span ng-bind="item | date :'MM月dd日'"></span>
                            <img ng-click="chooseCurDate($index,item)" ng-show="item<=eventReCurDate&&item>=eventStartDate" ng-src="{{$index==3?'./planningCenter/images/ch8-1.png':'./planningCenter/images/ch8.png'}}" />
                            <img ng-show="item>eventReCurDate||item<eventStartDate" class="node no1" src="./planningCenter/images/ch11.png">
                        </div>
                    </div>
                </div>
                <div class="eventAxis-left">
                    <div ng-style="item.style" ng-repeat="item in eventViewList" ng-click="changeEventList(item.ID,'eventList')" class="info {{item.animate}} inf{{$index+1}}">
                        <div class="info-inner">
                            <span title="{{item.TITLE}}" ng-bind="item.TITLE | trsLimitTo:15"></span>
                            <div class="info-arrow"></div>
                        </div>
                    </div>
                    <img class="node no1" src="./planningCenter/images/ch11.png">
                    <img class="node no2" src="./planningCenter/images/ch11.png">
                    <img class="node no3" src="./planningCenter/images/ch11.png">
                    <img class="node no4" src="./planningCenter/images/ch11.png">
                    <img class="node no5" src="./planningCenter/images/ch11.png">
                </div>
                <div class="eventAxis-right">
                    <div class="leftPics">
                        <div ng-repeat="item in eventPicList" ng-show="$index%2==0&&$index<=4" class="picStyle leftPic1 {{item.animate}}">
                            <div class="eventAxis-pic">
                                <div class="evepicdiv">
                                    <img ng-src="{{item.IMGURL}}">
                                </div>
                                <div class="eventAxis-pic-info">
                                    <span title="{{item.TITLE}}" ng-bind="item.TITLE | trsLimitTo:13"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rightPics">
                        <div ng-repeat="item in eventPicList" ng-show="$index%2==1&&$index<=3" class="picStyle leftPic1 {{item.animate}}">
                            <div class="eventAxis-pic">
                                <div class="evepicdiv">
                                    <img ng-src="{{item.IMGURL}}">
                                </div>
                                <div class="eventAxis-pic-info">
                                    <span title="{{item.TITLE}}" ng-bind="item.TITLE | trsLimitTo:13"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar calendar_clear_height event_track_concat_pic calendar_bottom_0_padding">
        <div class="calendar_head">
            <b>事件相关图片</b>
        </div>
        <div class="calendar_content hot_head_line_calendar">

            <div class="calender_content_img effect-zoe" ng-repeat="eveCorPic in eveCorPics.PAGEITEMS">
                <img ng-src="{{eveCorPic.PICTUREURL}}">
                <figcaption>
                    <h3 ng-bind="eveCorPic.DOCTITLE"></h3>
                    <a ng-href="{{eveCorPic.PUBURL}}" target="_blank">查看详情</a>
                </figcaption>

            </div> 
            <div class="clear"></div>
            <div class="concat_pic_chose_page">
                <button>上一页</button>
                <button>下一页</button>
            </div>
            <div> 
                <img src="./planningCenter/eventAnalyse/eventTrack/images/t2.png" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <div class="calendar calendar_clear_height event_track_concat_video calendar_bottom_0_padding">
        <div class="calendar_head">
            <b>事件相关视频</b>
        </div>
        <div class="calendar_content hot_head_line_calendar">
            <div class="event_track_concat_video_main">
                <div>视频</div>
                <div>视频</div>
                <div>视频</div>
                <div>视频</div>
                <div>视频</div>
                <div>视频</div>
                <div>视频</div>
                <div>视频</div>
                <div>视频</div>
                <div>视频</div>
            </div>
            <div class="concat_pic_chose_page">
                <button>上一页</button>
                <button>下一页</button>
            </div>
            <div>
                <img src="./planningCenter/eventAnalyse/eventTrack/images/t2.png" width="100%" height="100%" />
            </div>
        </div>
    </div>
    <div class="calendar calendar_clear_height event_track_concat_video calendar_bottom_10_padding">
        <div class="calendar_head">
            <b>事件相关热词</b>
        </div>
        <div class="calendar_content hot_head_line_calendar">
            <div class=" hot_head_line">
                <div ng-repeat="hotNum in hotNums track by $index" class="rotate-in hot_head_module_1">
                    <div class=" hot_head_li_{{num.size}} color-{{num.size}}" ng-repeat="num in hotNum track by $index">
                        <ul class="">
                            <li class="">
                                <a target="_blank" ui-sref="resourcectrl.hotKey({hotKey:num.STRVALUE})" ng-bind="num.STRVALUE"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar">
        <div class="calendar_head">
            <b>全国热点分布</b>
        </div>
        <div class="calendar_content hot_head_line_calendar">
            <tabset justified="true">
                <tab heading="相关机构">
                    <div class="related_information">
                        <div ng-repeat="ORGLIST in ORGLISTS" class="slide-right">
                            <p>
                                <a target="_blank" ui-sref="resourcectrl.type({type:'ENTITY_ORG',keyword:ORGLIST.STRVALUE})" ng-bind="ORGLIST.STRVALUE"></a>
                            </p>
                        </div>
                    </div>
                </tab>
                <tab heading="相关人物">
                    <div class="related_information">
                        <div ng-repeat="NAMELIST in NAMELISTS" class="slide-down">
                            <p>
                                <a target="_blank" ui-sref="resourcectrl.type({type:'ENTITY_NAME',keyword:NAMELIST.STRVALUE})" ng-bind="NAMELIST.STRVALUE"></a>
                            </p>
                        </div>
                    </div>
                </tab>
                <tab heading="相关地点">
                    <div class="related_information">
                        <div ng-repeat="PLACELIST in PLACELISTS" class="bouncy-slide-left">
                            <p>
                                <a target="_blank" ui-sref="resourcectrl.type({type:'ENTITY_PLACE',keyword:PLACELIST.STRVALUE})" ng-bind="PLACELIST.STRVALUE"></a>
                            </p>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="calendar event_track_point_contrast">
        <div class="calendar_head">
            <b>媒体观点比对</b>
        </div>
        <div class="calendar_content hot_head_line_calendar">
            <tabset justified="true">
                <tab heading="集团媒体VS外部媒体">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="calendar calendar_0_padding">
                                <div class="calendar_head">
                                    <b>集团媒体（58）</b>
                                </div>
                                <div class="calendar_content hot_head_line_calendar">
                                    <div class="edit_table hot_head_line_hotspot_table">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td class="hot_head_line_information">孙俪和大荧幕的</td>
                                                    <td>浙江日报</td>
                                                    <td>01-04 11:35</td>
                                                </tr>
                                                <tr>
                                                    <td class="hot_head_line_information">江苏卫视：</td>
                                                    <td>人民日报</td>
                                                    <td>01-04 11:35</td>
                                                </tr>
                                                <tr>
                                                    <td class="hot_head_line_information">玩大了！1</td>
                                                    <td>人民日报</td>
                                                    <td>01-04 11:35</td>
                                                </tr>
                                                <tr>
                                                    <td class="hot_head_line_information">曝王思聪</td>
                                                    <td>人民日报</td>
                                                    <td>01-04 11:35</td>
                                                </tr>
                                                <tr>
                                                    <td class="hot_head_line_information">奔跑吧兄弟</td>
                                                    <td>人民日报</td>
                                                    <td>12.24</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <img src="./planningCenter/eventAnalyse/eventTrack/images/c6.png" width="100%" height="100%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="calendar calendar_0_padding">
                                <div class="calendar_head">
                                    <b>外部媒体（34）</b>
                                </div>
                                <div class="calendar_content hot_head_line_calendar">
                                    <div class="edit_table hot_head_line_hotspot_table">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td class="hot_head_line_information">大学生跨年夜</td>
                                                    <td>浙江日报</td>
                                                    <td>01-04 11:35</td>
                                                </tr>
                                                <tr>
                                                    <td class="hot_head_line_information">女子地铁吃凤爪</td>
                                                    <td>人民日报</td>
                                                    <td>01-04 11:35</td>
                                                </tr>
                                                <tr>
                                                    <td class="hot_head_line_information">吴亦凡偷瞄宁泽涛</td>
                                                    <td>人民日报</td>
                                                    <td>01-04 11:35</td>
                                                </tr>
                                                <tr>
                                                    <td class="hot_head_line_information">牡丹江地震</td>
                                                    <td>人民日报</td>
                                                    <td>01-04 11:35</td>
                                                </tr>
                                                <tr>
                                                    <td class="hot_head_line_information">中国留美学生被捕</td>
                                                    <td>人民日报</td>
                                                    <td>12.24</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <img src="./planningCenter/eventAnalyse/eventTrack/images/c6.png" width="100%" height="100%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="传统媒体VS新媒体">
                    <div>
                        传统媒体VS新媒体
                    </div>
                </tab>
                <tab heading="官方媒体VS商业媒体">
                    <div>
                        官方媒体VS商业媒体
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
