<!-- <div class="man_produ_modify">
    <div class="man_produ_modify_head">
        <p>站点管理-{{title}}</p>
        <img src="./editingCenter/app/toBeCompiled/images/cls.jpg" class="edit_revoke_thead_images1"
             ng-click="cancel()"/>
    </div>
    <div class="man_produ_modify_inner">
        <div class="man_produ_column_modify">
            <div>
                <span>站点名称：</span>
                <input type="text" class="form-control man_produ_sensitive_text" name="siteName" ng-model="newsite.SITENAME"/>
            </div>
            <div>
                <span>英文名称：</span>
                <input type="text" class="form-control man_produ_sensitive_text" name="datapath" ng-model="newsite.DATAPATH"/>
            </div>
            <div>
                <span>绑定域名：</span>
                <input type="text" class="form-control man_produ_sensitive_text"/>
            </div>
            <div>
                <span>站点首页模板：</span>
                <img src="./manageConfig/productManageMent/images/gl04.png" ng-click="channlViews()"/>
                &nbsp;&nbsp;
                <i ng-if="title=='修改站点'">站点首页</i>
            </div>
            <div>
                <span>其他首页模板：</span>
                <img src="./manageConfig/productManageMent/images/gl04.png" ng-click="channlOtherViews()"/>
                &nbsp;&nbsp;
                <i ng-if="title=='修改站点'">其他首页</i>
            </div>
            <div>
                <span>默认文章模板：</span>
                <img src="./manageConfig/productManageMent/images/gl04.png" ng-click="defaultArticleViews()"/>
                &nbsp;&nbsp;
                <i ng-if="title=='修改站点'">通用文章细览模板</i>
            </div>
            <div>
                <span>排序：</span>
                <select class="man_produ_sensitive_text">
                    <option value="0">浙商网</option>
                </select>
            </div>
        </div>
        <div class="man_produ_modify_footer">
            <button class="news-role-btn man_produ_modify_footer_cancel" ng-click="confirm()">确定</button>
            <button class="news-role-btn"  ng-click="cancel()">取消</button>
        </div>
    </div>
</div> -->