<div trs-scroll-fix class="row edit_right_head">
    <div class="col-md-8 col-lg-9">
        <button class="btn btn-default btn-commen opacity100" ng-click="openTakeDraftModal()" ng-disabled="data.selectedArray.length==0" ng-mouseenter="status.batchOperateBtn['hoverStatus']='openTakeDraftModal'" ng-mouseleave="status.batchOperateBtn['hoverStatus']=''">
            <span class="s_icon">
                <img ng-src="./editingCenter/iWo/images/{{status.batchOperateBtn['hoverStatus']=='openTakeDraftModal'&&data.selectedArray.length>0?'i55-1.png':'i55.png'}}" />
            </span> 取稿
        </button>
        <button class="btn btn-default btn-commen opacity100" ng-click="creationAxis()" ng-disabled="data.selectedArray.length==0" ng-mouseenter="status.batchOperateBtn['hoverStatus']='CreationAxis'" ng-mouseleave="status.batchOperateBtn['hoverStatus']=''">
            <span class="s_icon">
                <img ng-src="./editingCenter/iWo/images/{{status.batchOperateBtn['hoverStatus']=='CreationAxis'&&data.selectedArray.length>0?'i56-1.png':'i56.png'}}" />
            </span> 创作轴
        </button>
        <button class="btn btn-default btn-commen opacity100" ng-click="openReserveDraftModal()" ng-disabled="data.selectedArray.length==0" ng-mouseenter="status.batchOperateBtn['hoverStatus']='openReserveDraftModal'" ng-mouseleave="status.batchOperateBtn['hoverStatus']=''">
            <span class="s_icon">
                <img ng-src="./editingCenter/iWo/images/{{status.batchOperateBtn['hoverStatus']=='openReserveDraftModal'&&data.selectedArray.length>0?'i57-1.png':'i57.png'}}" />
            </span> 预留
        </button>
        <button class="btn btn-default btn-commen opacity100" ng-click="collectDraft()" ng-disabled="data.selectedArray.length==0" ng-mouseenter="status.batchOperateBtn['hoverStatus']='collect'" ng-mouseleave="status.batchOperateBtn['hoverStatus']=''">
            <span class="s_icon">
                <img ng-src="./editingCenter/app/images/{{status.batchOperateBtn['hoverStatus']=='collect'&&data.selectedArray.length>0?'zm12-1.png':'zm12.png'}}" />
            </span> 收藏
        </button>
        <!--  <button class="btn btn-default btn-commen">
            <span class="s_icon"><img src="./resourceCenter/images/z17.png" /></span> 打印
        </button> -->
        <button class="btn btn-default btn-commen opacity100" ng-click="exportDraft()" ng-disabled="data.selectedArray.length==0" ng-mouseenter="status.batchOperateBtn['hoverStatus']='batchExport'" ng-mouseleave="status.batchOperateBtn['hoverStatus']=''">
            <span class="s_icon">
                <img ng-src="./editingCenter/iWo/images/{{status.batchOperateBtn['hoverStatus']=='batchExport'&&data.selectedArray.length>0?'i17-1.png':'i17.png'}}" />
            </span> 导出
        </button>
        <button class="btn btn-default btn-commen opacity100" ng-click="printbtn()" ng-disabled="data.selectedArray.length==0" ng-mouseenter="status.batchOperateBtn['hoverStatus']='printbtn'" ng-mouseleave="status.batchOperateBtn['hoverStatus']=''">
            <span class="s_icon">
                <img ng-src="./resourceCenter/images/{{status.batchOperateBtn['hoverStatus']=='printbtn'&&data.selectedArray.length>0?'z17-1.png':'z17.png'}}" />
            </span> 打印
        </button>
        <button class="btn btn-default btn-commen opacity100" ng-disabled="data.selectedArray.length==0" ng-click="deleteDrafts()" ng-if="!status.customType.iWoSubscribe">
            <span class="s_icon">
                <img ng-src="./editingCenter/app/images/{{status.batchOperateBtn['hoverStatus']=='delete'&&data.selectedArray.length>0?'fg2-1.png':'fg2.png'}}" />
            </span> 删除
        </button>
    </div>
    <div class="col-md-4 col-lg-3">
        <ol class="breadcrumb pull-right edit_breadcrumb">
            <li>
                <span ng-repeat="path in status.path" ng-bind="path"></span>
            </li>
        </ol>
    </div>
</div>
<div class="row edit_right_mid">
    <div class="col-md-6">
        <!-- iwo时间范围 -->
        <trs-single-select label="时间范围" selected-option="data.dropDown.iWoSubscribeTimeSelected" callback="iWoQueryByTime()" options="data.dropDown.iWoSubscribeTimeJsons" ng-show="status.customType.iWoSubscribe"></trs-single-select>
        <!-- 共享时间 -->
        <trs-single-select label='时间范围' selected-option="data.dropDown.shareTimeSelected" callback="queryByDropdown('ShareTime',data.dropDown.shareTimeSelected)" options="data.dropDown.shareTimeJsons" ng-hide="status.customType.iWoSubscribe"></trs-single-select>
        <!-- 稿件类型 -->
        <trs-single-select label="稿件类型" selected-option="data.dropDown.iWoDocSelected" callback="queryByDropdown('DocType',data.dropDown.iWoDocSelected)" options="data.dropDown.docTypeJsons" ng-hide="status.customType.iWoSubscribe"></trs-single-select>
        <!-- 新闻类型 -->
        <trs-single-select label="稿件分类" selected-option="data.dropDown.newsTypeSelected" callback="" options="data.dropDown.newsTypeJsons" ng-show="status.customType.sharedTheme || status.customType.sharedRegion"></trs-single-select>
        <!-- 排序方式 -->
        <trs-single-select ng-show="status.isESSearch" selected-option="sortType" callback="queryByDropdown('', sortType.value)" options="sortTypeJsons"></trs-single-select>
    </div>
    <div class="col-md-6">
        <div class="input-group edit_input_group" ng-class="{'iWoCustom_edit_input_group':status.customType.iWoSubscribe}">
            <input type="text" class="form-control edit_form_control" placeholder="请输入关键字搜索" ng-model="keywords" ng-keypress="fullTextSearch($event)">
            <span class="input-group-btn">
            <button class="btn btn-default btn_edit_search" type="button" ng-click="fullTextSearch()" ng-bind="status.customType.iWoSubscribe?'检索':'搜索'"></button>
            <button class="btn btn-default btn_edit_search iWoCustom_senior_search" type="button" ui-sref="retrieval" ng-show="status.customType.iWoSubscribe">高级检索</button>
          </span>
        </div>
        <!-- ES检索类型 -->
        <trs-single-select selected-option="data.dropDown.iWoSelectedAll" options="data.dropDown.iWoEntireJsons" class="pull-right" ng-hide="status.customType.iWoSubscribe"></trs-single-select>
    </div>
</div>
<div class="edit_table border_radius_5">
    <table class="table table-striped data-table black-box">
        <thead>
            <!-- 共享稿库 -->
            <tr ng-if="!status.customType.iWoSubscribe">
                <th class="td-check border-top-left-radius xcol-icon">
                    <trs-checkbox ischecked="data.items.length>0&&data.selectedArray.length==data.items.length" callback="selectAll()"></trs-checkbox>
                </th>
                <th class="td-number">序号</th>
                <th>标题</th>
                <th class="xcol-draftrecord" ng-if="data.custom.customid==7">供稿人</th>
                <th class="xcol-draftrecord">取稿人</th>
                <th class="xcol-draftrecord">共享人</th>
                <th class="xcol-docpubtime">共享时间</th>
                <th class="xcol-txs">字数</th>
                <th class="xcol-doctype td_icon"></th>
            </tr>
            <!-- iWo资源 -->
            <tr ng-if="status.customType.iWoSubscribe">
                <th class="td-check border-top-left-radius xcol-icon">
                    <trs-checkbox ischecked="data.items.length>0&&data.selectedArray.length==data.items.length" callback="selectAll()"></trs-checkbox>
                </th>
                <th class="td-number">序号</th>
                <th>标题</th>
                <th class="xcol-docpubtime">时间</th>
                <th class="xcol-source">来源</th>
                <th class="xcol-source">频道</th>
                <th class="xcol-doctype"></th>
            </tr>
        </thead>
        <tbody trs-thumb-container>
            <div cg-busy="loadingPromise"></div>
            <!-- 共享稿库 -->
            <tr ng-repeat="item in data.items" ng-if="!status.customType.iWoSubscribe">
                <td class="td-check">
                    <!-- <trs-checkbox ischecked="data.selectedArray.indexOf(item)<0?false:true" callback="selectDoc(item)"></trs-checkbox> -->
                    <trs-checkbox ischecked="isChecked(item)" callback="singleSelect(item)"></trs-checkbox>
                </td>
                <td class="td-number">
                    {{(page.CURRPAGE-1)*page.PAGESIZE+$index+1}}
                </td>
                <td class="ta-l resouce_center_share_title_td gaiOpe">
                    <preview-title class="pull-left" summary-text="item.ABSTRACT" title-text="item.TITLE" target-url="#/resourcegxgkdetail?metadataid={{item.METADATAID}}&type={{item.DOCTYPEID}}"></preview-title>
                    <span class="text-warning gai cursorPointer" ng-click="viewInfo(item.METADATAID)" ng-show="showOperFlag(item.METADATAID,0)">取</span>
                    <span class="text-success gai cursorPointer" ng-click="viewInfo(item.METADATAID)" ng-show="showOperFlag(item.METADATAID,1)">签</span>
                    <span class="text-primary gai cursorPointer" ng-click="viewInfo(item.METADATAID)" ng-show="showOperFlag(item.METADATAID,2)">见</span>
                    <span class="text-danger gai cursorPointer" ng-click="viewInfo(item.METADATAID)" ng-show="showOperFlag(item.METADATAID,3)">撤</span>
                    <span class="text-info gai cursorPointer" ng-click="viewInfo(item.METADATAID,true)" ng-show="showOperFlag(item.METADATAID,4)">重</span>
                </td>
                <!--  <td ng-if="data.custom.customid==7" ng-bind="item.SIGNATUREAUTHOR"></td> -->
                <td>
                    <a ng-repeat="record in item.OPERUSER|unique:'OPERUSER'" class="block" ng-bind="record.OPERUSER"></a>
                </td>
                <td ng-bind="item.SIGNATUREAUTHOR||item.SHAREUSRTRUENAME"></td>
                <td ng-bind="item.SHARETIME"></td>
                <td ng-bind="item.DOCWORDSCOUNT"></td>
                <td class="edit-icon-td">
                    <trs-thumb item="item" transform="editingCenterAllThumb"></trs-thumb>
                </td>
            </tr>
            <!-- iWo资源 -->
            <tr ng-repeat="item in data.items" ng-if="status.customType.iWoSubscribe">
                <td class="td-check">
                    <trs-checkbox ischecked="data.selectedArray.indexOf(item)<0?false:true" callback="selectDoc(item)"></trs-checkbox>
                </td>
                <td class="td-number">
                    {{(page.CURRPAGE-1)*page.PAGESIZE+$index+1}}
                </td>
                <td class="ta-l resouce_center_share_title_td gaiOpe">
                    <preview-title class="pull-left" summary-text="item.IR_ABSTRACT" title-text="item.DOCTITLE" target-url="#/resourcedetail?guid={{item.ZB_GUID}}&channel=iwo&service=iwo&indexname={{page.indexName}}"></preview-title>
                    <span class="text-warning gai cursorPointer" ng-click="viewInfo(item.ZB_GUID)" ng-show="showOperFlag(item.ZB_GUID,0)">取</span>
                    <span class="text-success gai cursorPointer" ng-click="viewInfo(item.ZB_GUID)" ng-show="showOperFlag(item.ZB_GUID,1)">签</span>
                    <span class="text-primary gai cursorPointer" ng-click="viewInfo(item.ZB_GUID)" ng-show="showOperFlag(item.ZB_GUID,2)">见</span>
                    <span class="text-danger gai cursorPointer" ng-click="viewInfo(item.ZB_GUID)" ng-show="showOperFlag(item.ZB_GUID,3)">撤</span>
                    <span class="text-info gai cursorPointer" ng-click="viewInfo(item.ZB_GUID,true)" ng-show="showOperFlag(item.ZB_GUID,4)">重</span>
                </td>
                <td ng-bind="item.DOCPUBTIME"></td>
                <td ng-bind="item.ZB_SOURCE_SITE"></td>
                <td ng-bind="item.DOCCHANNEL"></td>
                <td>
                    <trs-thumb item="item" transform="resourceCenterThumb"></trs-thumb>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="page">
        <trs-pagenation-left page-count="page" callback="selectPageNum()" is-select-pagecount="true"></trs-pagenation-left>
        <pagination total-items="page.ITEMCOUNT" ng-change="pageChanged()" ng-model="page.CURRPAGE" max-size="6" class="pagination-sm page_left" boundary-links="true" items-per-page="page.PAGESIZE" rotate="false" num-pages="page.PAGECOUNT" first-text="首页" previous-text="上一页" next-text="下一页" last-text="末页"></pagination>
        <trs-pagenation-right callback="jumpToPage()" currpage="status.copyCurpage" page="page"></trs-pagenation-right>
    </div>
</div>
