<div class="man_produ_modify">
    <div class="man_produ_modify_head">
        <p>修改结构</p>
        <img src="./editingCenter/app/toBeCompiled/images/cls.jpg" class="edit_revoke_thead_images1" ng-click="cancel()"/>
    </div>
    <div class="man_produ_modify_content">
        <div class="man_produ_modify_con_form">
            <span>结构名称：</span>
            <input type="text">
        </div>
        <div class="man_produ_modify_con_form">
            <span>排序：</span>
			<select class="">
            <option value="">所有版面</option>
            <option value="1">社会要闻</option>
            <option value="2">社会1版</option>
			<option value="3">社会2版</option>
        </select>
        </div>
        <div class="man_produ_modify_con_form">
            <span>权限：</span>&nbsp;<img src="./manageConfig/productManageMent/images/pl2.png">
        </div>
    </div>
        <div class="man_produ_modify_footer">
            <button class="news-role-btn-success man_produ_modify_footer_cancel btn_cancel" ng-click="cancel()">取消</button>
            <button class="news-role-btn confirm btn_confirm" ng-click="confirm()">确定</button>
        </div>
</div>
