<section style="position:static;box-sizing: border-box;">
    <section style="border: 0px; box-sizing: border-box; width: 100%; clear: both; overflow: hidden; padding: 0px;">
        <section style="box-sizing: border-box; width: 55%; float: left; padding: 0px 10px 10px 0px; color: inherit; text-align: center;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTeHdqdlI4UXV6RzdVaWJVd2xXQVVCNWhmQmNzQUZpYjFROEJNM3RkYnZpY051d0dwcE1XaWJYNEJMdy8wP3d4X2ZtdD1qcGVn" height="" border="0" opacity="" mapurl="" title="" alt="" width="" style="margin: 0px;"></section>
        <section style="box-sizing: border-box;">
            <section style="color: rgb(22, 149, 130); box-sizing: border-box; margin-right: 4px; margin-bottom: 5px; padding: 4px 6px; border-bottom-width: 1.5px; border-bottom-style: solid; font-size: 1.2em; font-weight: bold; border-color: rgb(81,81,81); margin-left: 55%;"><span style="color:#000000; font-size:14px; margin-bottom:4px">编辑器注意事项</span></section>
            <section>
                <p style="clear: none; font-size: 13px; text-align: left;"><span style="font-size:12px">图片的左侧环绕样式，文字超出图片部分时，文字将左环绕。</span></p>
                <p style="clear: none; font-size: 13px; text-align: left;"><span style="font-size:12px">编辑器是一款在线图文排版工具，打破传统排版方式，通过【秒刷】功能，选中内容（图片、文字），应用样式，快速排版。</span></p>
                <p style="clear: none; font-size: 13px; text-align: left;"><span style="font-size:12px">1. “秒刷”功能；2. 一键换色；3. 数据庞大的素材库；4. 特色模板。</span></p>
            </section>
        </section>
    </section>
</section>
