<section style="position:static;box-sizing: border-box;">
    <section style="border: 0px; box-sizing: border-box; width: 100%; clear: both; overflow: hidden; padding: 0px; text-align: left;">
        <section style="box-sizing: border-box; width: 65%; float:left; padding:0px 0.1em 0px 0px; text-align: left;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTeHdqdlI4UXV6RzdVaWJVd2xXQVVCNWhmQmNzQUZpYjFROEJNM3RkYnZpY051d0dwcE1XaWJYNEJMdy8wP3d4X2ZtdD1qcGVn" style="box-sizing: border-box; width: 100%; margin: 0px; height: auto !important; visibility: visible !important;" width="100%" height="auto" border="0" opacity="" mapurl="" title="" alt=""></section>
        <section style="display: inline-block; width: 35%; box-sizing: border-box; float: right; padding: 0px 0px 0px 0.1em; text-align: left;">
            <section style="font-size:16px;box-sizing: border-box; margin-right: 4px; padding: 4px 6px; border-bottom-width: 1px; border-bottom-style: solid; font-size: 18px;font-weight: bold;color: rgb(120, 124, 129); border-color: black;margin-left:5px;">目送</section>
            <section>
                <p style="box-sizing: border-box; margin-right: 0.2em; padding: 3px 5px; color: rgb(120, 124, 129); line-height: 2em; text-align: left; font-size: 12px; text-indent: 0em;">“我慢慢地、慢慢地了解到，所谓父子母女一场，只不过意味着，你和他的缘分就是今生今世，不断地在目送他的背影渐行渐远。你战力在小路的这一端，看着他逐渐消失在小路转弯的地方，而且，他用背影默默告诉你：不必追”</p>
                <p style="box-sizing: border-box; margin-right: 0.2em; padding: 3px 5px; color: rgb(120, 124, 129); line-height: 2em; text-align: right; font-size: 12px;">——龙应台</p>
            </section>
        </section>
    </section>
</section>
