<section style="position:static;box-sizing: border-box;">
    <section style="text-align:center;">
        <section style="background-color:rgb(244,244,244);padding:40px;text-align:center;">
            <section style="margin: 0px 0px 10px;"><span style="color: #030303; font-weight: 600; font-size: 24px; font-family: arial, helvetica, sans-serif;" class="135brush">135editor</span><span style="font-size: 24px; color: #030303; font-weight: 600;">&nbsp;</span><span style="font-size: 40px; color: #3F3F3F;">∣</span><span style="color:#030303">一个有用的公众号</span></section>
            <section style="display:inline-block;vertical-align: top;margin-top: 14px;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTM2RoaWFYd1BrUEd4TjhGck15aWNvYUpFeFBQVmFzNUpDUmdvaWNHbnJleWt5ZDkzY29Bb1pIc3lRLzA/d3hfZm10PWpwZWc=" style="width: 120px; margin: 0px; height: auto !important;" width="120" height="auto" border="0" opacity="" mapurl="" title="" alt=""></section>
            <section style="display:inline-block;padding-left: 10px;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei9IdThoY3R4SHFTVzBuU0puOHA4T0hWRVF3SGljU3dUaWJGSk1CRTY1MEF4ZHpmSVNvZVk4d29lMlFzZ0NJTklCcmNjQk9PVWZ0Mkh1VTBHc05RV2liU0c3Zy8w"></section>
            <section style=" text-align: center;margin-top: 6px;"><span style="color: #0C0C0C;">长按，识别二维码，加关注</span></section>
        </section>
    </section>
</section>
