<section style="position:static;box-sizing: border-box;">
    <blockquote style="padding: 5px;background-size: cover; background-image: url(http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZhMHBqOVVQTWNFczBhY0FESVE3bFZiMFMyRmg3TkNvbExpYzMyYTdzTm5WaWI5SE14NW8yQlBGaWNLMmp6WEJnR2huMXhhMEtTNVE0d1EvMD93eF9mbXQ9anBlZw==);background-position: 50% 0%; background-repeat: no-repeat no-repeat;background-attachment:fixed">
        <h4 style="color: inherit; text-align: center;color:rgb(255, 255, 255); font-size:16px;"><span style="color:#FFFFFF; font-size:16px">固定宽度背景图</span></h4>
        <section style="color:rgb(255, 255, 255);">
            <p style="color: inherit; text-indent: 2em;"><span style="font-size:14px">此样式：背景图片宽度被锁定，高度可跟着内容的输入变化。</span></p>
            <p style="color: inherit; text-indent: 2em;">
                <br>
            </p>
            <p style="color: inherit; text-indent: 2em;">
                <br>
            </p>
            <p style="color: inherit; text-indent: 2em;">
                <br>
            </p>
            <p style="color: inherit; text-indent: 2em;">
                <br>
            </p>
            <p style="color: inherit; text-indent: 2em;">
                <br>
            </p>
            <section></section>
        </section>
    </blockquote>
</section>
