<section style="position:static;box-sizing: border-box;">
    <section style="width: 50%; float: left; padding: 0px 0.1em 0px 0px;" class="layout">
        <section style="width: 100%; clear: both;">
            <section style="margin-top: 0.2em; width: 100%;  box-sizing: border-box;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTeHdqdlI4UXV6RzdVaWJVd2xXQVVCNWhmQmNzQUZpYjFROEJNM3RkYnZpY051d0dwcE1XaWJYNEJMdy8wP3d4X2ZtdD1qcGVn" style="box-sizing: border-box; float: left; width: 49%; margin: 0px; height: auto !important;" width="49%" height="auto" border="0" opacity="" mapurl="" title="" alt=""><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTeHdqdlI4UXV6RzdVaWJVd2xXQVVCNWhmQmNzQUZpYjFROEJNM3RkYnZpY051d0dwcE1XaWJYNEJMdy8wP3d4X2ZtdD1qcGVn" style="box-sizing: border-box; float: right; width: 49%; margin: 0px; height: auto !important;" width="49%" height="auto" border="0" opacity="" mapurl="" title="" alt=""></section>
            <section style="width: 100%;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTeHdqdlI4UXV6RzdVaWJVd2xXQVVCNWhmQmNzQUZpYjFROEJNM3RkYnZpY051d0dwcE1XaWJYNEJMdy8wP3d4X2ZtdD1qcGVn" style="box-sizing: border-box; width: 100%; margin: 6.4px 0px 0px; height: auto !important;" width="100%" height="auto" border="0" opacity="" mapurl="" title="" alt=""></section>
        </section>
    </section>
    <section style=" width: 46%;display:inline-block;padding: 0px 0px 0px 15px;">
        <p style="margin-right: 0.5px;text-align: center;line-height:3em;"><span style="color:#632423; font-family:微软雅黑,microsoft yahei; font-size:16px">时◆尚</span></p>
        <p style="margin-right: 0.5px;line-height: 1.75em; text-align: justify;"><span style="color:#632423; font-family:微软雅黑,microsoft yahei; font-size:14px">流行时尚就是在特定时段内率先由少数人，而后来为社会大众所崇尚和仿效的生活样式。</span></p>
    </section>
    <section style="clear:both;width:0px;height:0px;"></section>
</section>
