<section style="position:static;box-sizing: border-box;">
    <blockquote style="padding: 20px 15px; border: none rgb(255, 129, 36); word-wrap: break-word !important; box-sizing: border-box !important; background-image: url(http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei9jWlYyaFJwdUFQaWEzUkZYNk12dzA2a2VQSjdIYm1JN2JrbGljZ3pDN3dQM1lxVVVDTjBpYmlhUkNTRFFpY3BHUHdCdkhDZ2NNd3NTa2JyNERyeGxLMTJ2STlBLzA/d3hfZm10PXBuZw==); background-size: contain; background-repeat: repeat;">
        <section style="color: rgb(255,156,0); padding: 0px; text-align: center; margin: 0px auto; border-top-width: 2px; border-top-style: solid; border-color: rgb(255,156,0); background-color: rgb(254,254,254);">
            <section style="display: inline-block; margin: 5px 0px; border-color: rgb(198, 198, 199); width:100%;">
                <section style="text-align: center; margin: 10px; border-color: rgb(198, 198, 199); color: inherit;">
                    <section style="margin: 0.8em 0px 0.5em; font-size: 16px; line-height: 32px; font-weight: bold; text-align: center; display: inline-block; border-color: rgb(198, 198, 199); color: inherit;">
                        <section style="margin: 8px; display: inline-block; float: left; width: 0px; height: 0px; border-left-width: 8px; border-left-style: solid; border-color: rgb(255,156,0) transparent; border-right-width:8px; border-right-style: solid; border-bottom-width:16px; border-bottom-style: solid; color: inherit;"></section>
                        <section style="margin-left: 36px; font-style: normal; color: inherit; text-align: left;">请输入内容</section>
                    </section>
                </section>
                <p style="margin: 10px 20px; border-color: rgb(198, 198, 199); color: inherit;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTeHdqdlI4UXV6RzdVaWJVd2xXQVVCNWhmQmNzQUZpYjFROEJNM3RkYnZpY051d0dwcE1XaWJYNEJMdy8wP3d4X2ZtdD1qcGVn" style="width:100%;height:auto !important;"></p>
            </section>
            <section style="margin:0px;text-align: left;">
                <p style="margin:0px 20px 10px; color: rgb(136, 136, 136); font-size: 14px; text-align: left;padding:5px;"><span style="color:#7F7F7F; font-size:14px"><em style="color: inherit;">2015.4.8</em></span></p>
                <p style="font-size: 20px; margin:5px 20px; padding:0px 5px 10px 5px; border-color: rgb(198, 198, 198); color: inherit; text-align: left;"><span style="border-color:#C6C6C6; color:#7F7F7F; font-size:16px">请输入图片的描述</span></p>
            </section>
        </section>
    </blockquote>
</section>
