<section style="position:static;box-sizing: border-box;">
    <section style="box-sizing: border-box; padding: 0px; margin: 0px;">
        <section style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit; box-sizing: border-box; padding: 0px;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkVhaWNEeUl2WDdkTEU5aWNZbndiMnRsT3RTekdNQ2dsdnFrNjFKanBXMzM4eE1TbEpzS1BWQmlhRDZGWTFNNU10b3BKWXZXclZZZVl3RkEvMD93eF9mbXQ9anBlZw==" style="vertical-align:top; width:40px;height:auto !important;">
            <p placeholder="编辑器" style="box-sizing:border-box; color:inherit; font-size:12px; line-height:30px; margin:0px; padding:0px">编辑器</p>
        </section>
        <section style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px; padding-top: 10px; padding-bottom: 10px; color: inherit; box-sizing: border-box;">
            <section style="border-right-width: 20px; border-left-width: 0px; border-right-style: solid; border-right-color: rgb(213,72,11); border-left-color: rgb(213,72,11); display: inline-block; height: 15px; width: 15px; vertical-align: top; float: left; color: inherit; box-sizing: border-box; padding: 0px; margin: 0px; border-bottom-width: 12px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;"></section>
        </section>
        <section class="135brush layout" style="display: inline-block; width: 65%; margin-top: 0.7em; margin-left: -0.4em; padding: 1em; border-top-left-radius: 1em; border-top-right-radius: 1em; border-bottom-right-radius: 1em; border-bottom-left-radius: 1em; font-size: 1em; /* color: rgb(194, 105, 3); */ background-color: rgb(213,72,11); border-color: rgb(213,72,11); box-sizing: border-box;">
            <p style="color: inherit; border-color: rgb(254, 228, 198); box-sizing: border-box; padding: 0px; margin: 0px;"><span style="color:rgb(0, 0, 0)">请输入对话</span></p>
        </section>
    </section>
</section>
