<section style="position:static;box-sizing: border-box;">
    <section style="margin-top:2em; margin-bottom: 10px; position: static;">
        <section style="border-top: 1px dashed rgb(204, 204, 204);border-right: 1px dashed rgb(204, 204, 204);border-bottom: 1px dashed rgb(204, 204, 204);line-height: normal; text-align: center;padding:1px;">
            <section style="border-width: 1px; border-style: dashed; border-color: rgb(204, 204, 204);line-height: normal; text-align: left;">
                <section style="display: inline-block; vertical-align: top; margin-top: -35px; padding:6px; width: 40%; color: rgb(255, 255, 255); margin-bottom: -10px; float: left; background-color: rgb(248, 122, 122);margin-left:-4px;">
                    <p style="line-height:0;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTeHdqdlI4UXV6RzdVaWJVd2xXQVVCNWhmQmNzQUZpYjFROEJNM3RkYnZpY051d0dwcE1XaWJYNEJMdy8wP3d4X2ZtdD1qcGVn" width="100%" height="" border="0" opacity="" mapurl="" title="" alt="" style="width: 100%; margin: 0px;"></p>
                </section>
                <section style="width: 15px; height: 15px; border-radius: 50%; float: right; margin-top: -6px; margin-right: -6px; color: rgb(255, 255, 255); background-color: rgb(206, 11, 11);"></section>
                <section style="width: 40px; height: 40px; border-radius: 50%; margin-top: -20px; float: left; margin-left: -15px; color: rgb(255, 255, 255); background-color: rgb(206, 11, 11);"></section>
                <section style="vertical-align: top; padding:20px 5px;display: inline-block;width:45%;">
                    <section style="border-bottom-width: 2px; border-bottom-style: solid; border-color: rgb(243, 25, 25); width: 100%; margin-bottom: 10px;"><span style="line-height: 1.75em; font-size: 16px; color: #000000;">胡说八道</span></section>
                    <p style="line-height: 1.5em;"><span style="font-size: 14px;">爱任何事物的方法，就是要意识到你可能会失去它。</span></p>
                </section>
            </section>
            <section style="width: 8px; height: 8px; border-radius: 50%; float: right; margin-top: -4px; margin-right: -4px; color: rgb(255, 255, 255); background-color: rgb(206, 11, 11);"></section>
        </section>
    </section>
</section>
