<section style="position:static;box-sizing: border-box;">
    <section style="border: 0px rgb(237, 241, 242); padding: 0px; clear: both; box-sizing: border-box;">
        <section style="margin: 0px 0px 2px 4px; color: rgb(94, 123, 130); border-color: rgb(158, 207, 219); width: 65%; background-color: rgb(237, 241, 242);"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZhMHBqOVVQTWNFczBhY0FESVE3bFZiMFMyRmg3TkNvbExpYzMyYTdzTm5WaWI5SE14NW8yQlBGaWNLMmp6WEJnR2huMXhhMEtTNVE0d1EvMD93eF9mbXQ9anBlZw==" style="border-color: rgb(237, 241, 242); color: inherit; width: 100%; margin: 0px;" width="100%" height="" border="0" opacity="" mapurl="" title="" alt="">
            <section style="padding: 5px 10px 15px; color: inherit; border-color: rgb(237, 241, 242);">
                <p style="color: inherit; border-color: rgb(237, 241, 242);"><span style="color:#7F7F7F">图片内容描述</span></p>
            </section>
        </section>
        <section style="margin: -80px 0px 2px 4px; color: rgb(94, 123, 130); border-color: rgb(237, 241, 242); text-align: right;">
            <section style="display: inline-block; width: 65%; color: inherit; border-color: rgb(158, 207, 219); background-color: rgb(237, 241, 242);"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZhMHBqOVVQTWNFczBhY0FESVE3bFZiMFMyRmg3TkNvbExpYzMyYTdzTm5WaWI5SE14NW8yQlBGaWNLMmp6WEJnR2huMXhhMEtTNVE0d1EvMD93eF9mbXQ9anBlZw==" style="border-color: rgb(237, 241, 242); color: inherit; width: 100%; margin: 0px;" width="100%" height="" border="0" opacity="" mapurl="" title="" alt="">
                <section style="padding: 5px 10px 15px; color: inherit; border-color: rgb(237, 241, 242);">
                    <p style="color: inherit; border-color: rgb(237, 241, 242); text-align: left;"><span style="color:#7F7F7F">图片内容描述</span></p>
                </section>
            </section>
        </section>
    </section>
</section>
