<section style="position:static;box-sizing: border-box;">
    <section style="width:100%;margin: 10px auto;padding: 0;">
        <section style="margin: 0px; padding: 0px;">
            <section style="margin-top:11px; margin-bottom:0px;width: 100%; heigth:auto;word-wrap: normal; white-space: pre-wrap;text-align: center; box-sizing: border-box !important;">
                <iframe class="video_iframe" frameborder="0" scrolling="no" src="" style="display: inline-block; width: 100% !important; height: auto !important; overflow: hidden;"></iframe>
            </section>
        </section>
    </section>
    <section style="width: 100%; height: 100px; margin-top: -50px; padding: 5px 0px; background-image: url(http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei9jWlYyaFJwdUFQaWEzUkZYNk12dzA2a2VQSjdIYm1JN2JWejQ5QmtPNks5bDhuTW1GTTFNQlBqbXBoWVJyME9lQ0dPSkNxaWNLMjZaeThjV3NGeTRjZlBBLzA/d3hfZm10PXBuZw==); background-size: contain; z-index: -1; background-position: 50% 0px; background-repeat: no-repeat no-repeat;"></section>
</section>
