<section style="position:static;box-sizing: border-box;">
    <section style="text-align: right;">
        <section style="display: inline-block; width: 65%; margin-top: 0.7em; padding: 1em; border-top-left-radius: 1em; border-top-right-radius: 1em; border-bottom-right-radius: 1em; border-bottom-left-radius: 1em; text-align: left; font-size: 1em; color: rgb(255, 255, 255); margin-right: -0.4em; background-color: rgb(23,175,176); border-color: rgb(255, 255, 255);">
            <p style="color: inherit;"><span style="color:rgb(0, 0, 0)">请输入对话的内容</span></p>
        </section>
        <section style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px; padding-top: 10px; padding-bottom: 10px; color: inherit;">
            <section style="border-left-width: 20px; border-right-width: 0px; border-left-style: solid; border-left-color: rgb(23,175,176); border-right-color: rgb(23,175,176); display: inline-block; height: 15px; width: 15px; vertical-align: top; float: left; color: inherit; border-bottom-width: 12px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;"></section>
        </section>
        <section style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit;"><img src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkVhaWNEeUl2WDdkTEU5aWNZbndiMnRsT0tsUDJpY0sxaWFiaWJFdzZmSmF6Ynh3Wnp0cEg5a2tkMVlsQzRzc1d5aWNhQklmekxvc1YwczJJa1EvMD93eF9mbXQ9anBlZw==" style="vertical-align:top; width:40px;height: auto !important;">
            <br style="color: inherit;"><span style="color:inherit; font-size:12px; line-height:30px">135编辑器</span></section>
    </section>
</section>
