<div class="man_produ_modify">
    <div class="man_produ_modify_head">
        <p>还原“{{item}}”</p>
        <img src="./editingCenter/app/toBeCompiled/images/cls.jpg" class="edit_revoke_thead_images1"
             ng-click="cancel()"/>
    </div>
    <div class="man_produ_column_delete">
        <img src="./manageConfig/productManageMent/images/gl05.png"/>
        &nbsp;&nbsp;
        您确认要还原此频道
    </div>
    <div class="man_produ_delete_footer">
        <button class="news-role-btn man_produ_delete_footer_cancel btn_confirm" ng-click="confirm()">还原</button>
        <button class="news-role-btn btn_cancel" ng-click="cancel()">取消</button>
    </div>
</div>