.website-subject-view-window .subject {
    margin: 0 auto;
    padding: 10px;
    width: 668px;
    height: 402px;
    border: 4px solid #DDDDDD;
    border-radius: 5px;
    background-color: #fff;
}

.website-subject-view-window .subject_content {
    width: 648px;
    height: 327px;
    overflow: auto;
    background-color: #fff;
}

.website-subject-view-window .subjectName {
    /*width: 668px;*/
    background-color: #fff;
    overflow: hidden;
}

.website-subject-view-window .subjectName_head {
    height: 42px;
    padding-left: 10px;
    line-height: 42px;
    border-bottom: 1px solid #D4D8DB;
    background-color: #FAFAFA;
}

.website-subject-view-window .subjectName_head img {
    padding: 0 10px;
}

.website-subject-view-window .subjectName_content {
    /*min-height: 53px;*/
}

.website-subject-view-window .subjectName_content ul {
    padding-left: 10px;
}

.website-subject-view-window .subjectName_content ul li {
    display: inline-block;
    width: 195px;
    margin-right: 10px;
    min-height: 53px;
    padding-top: 15px;
    list-style-type: none;
    vertical-align: top;
}

.website-subject-view-window .subjectName_content ul li .ng-isolate-scope,
.website-subject-view-window .subjectName_content ul li span {
    display: inline;
}

.website-subject-view-window .subjectName_content ul li .ng-isolate-scope {
    width: 25px;
}

.website-subject-view-window .subjectName_content ul li span {
    width: 155px;
    word-break: break-all;
}

.website-subject-view-window .subjectName_content ul li .regular-checkbox:checked + label {
    /*margin-right: 8px;*/
}

.website-subject-view-window .subject_footer {
    padding-right: 10px;
    text-align: right;
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #D4D8DB;
    background-color: #fff;
}

.website-subject-view-window .subject_footer .subject_footer_confirm {
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: #4496d2;
    border: none;
    border-radius: 4px;
}

.website-subject-view-window .subject_footer .subject_footer_cancel {
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    border-color: #C1C1C1!important;
    background-color: #C1C1C1!important;
}

.website-subject-view-window .modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 50%;
}

.website-subject-view-window .subjectName_head button {
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: #4496d2;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 8px 5px 0 0;
}

.website-subject-view-window .subject_content_noItem {
    font-size: 30px;
    font-family: '幼圆';
    color: #ccc;
    height: 327px;
    line-height: 327px;
    text-align: center;
}
